AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enum="http://www.agid.gov.it/AgID_enumeration"
    xmlns:isacvac="http://www.w3.org/ns/corevocabulary/AggregateComponents" 
    xmlns:isacvbc="http://www.w3.org/ns/corevocabulary/BasicComponents"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    
    targetNamespace="http://www.agid.gov.it/AgID_aggregate_components"  
    
    elementFormDefault="qualified"
    
    version="1.0.0" xml:lang="it">
    
    <xs:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents" schemaLocation="ISA_Core_Vocabularies/CoreVocabularies-BasicComponents-1.1.xsd"/>
    <xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents" schemaLocation="ISA_Core_Vocabularies/CoreVocabularies-AggregateComponents-1.1.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="AgID_enumeration-1.0.0.xsd"/>
    
    <xs:group name="PersonaBaseGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate alla persona</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cognome" type="isacvbc:PersonFamilyNameType"/>
            <xs:element name="nome" type="isacvbc:PersonGivenNameType"/>
            <xs:element name="codiceFiscale" type="basic:CodiceFiscaleType"/>
        </xs:sequence>
    </xs:group>    
    
    <xs:group name="PersonaNascitaGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate alla nascita di una persona</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="a" type="aggregate:LuogoType"/>
            <xs:element name="data" type="isacvbc:PersonBirthDateType"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="PersonaNascitaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare la nascita di una persona</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:PersonaNascitaGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="IndirizzoGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate ad un indirizzo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:LuogoGroup"/>
            <xs:element name="localita" type="isacvbc:AddressAddressAreaType" minOccurs="0"/>
            <xs:element name="toponimo" type="isacvbc:AddressThoroughfareType" minOccurs="0"/>
            <xs:element name="indirizzo" type="isacvbc:AddressLocatorNameType"/>
            <xs:element name="civico" type="isacvbc:AddressLocatorDesignatorType" minOccurs="0"/>
            <xs:element name="CAP" type="basic:CAPType" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="IndirizzoType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare un indirizzo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:IndirizzoGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CoordinateCatastaliBaseType" abstract="true">
        <xs:annotation>
            <xs:documentation>Un tipo astratto. Tutti gli elementi CoordinateCatastaliBase sono ereditati da questo tipo utile per specificare le coordinate catastali</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tipo" type="enum:TipoCoordinateCatastaliEnum" />
            <xs:element name="foglio" type="xs:string"/>
            <xs:element name="particella" type="xs:string"/>
            <xs:element name="particellaDenominatore" type="xs:string" minOccurs="0"/>
            <xs:element name="subalterno"  type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CoordinateCatastaliFabbricatiType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare le coordinate catastali di un fabbricato</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aggregate:CoordinateCatastaliBaseType">
                <xs:sequence> 
                    <xs:element name="tipo" type="enum:TipoCoordinateCatastaliEnum" fixed="FABBRICATI"/>
                    <xs:element name="sezioneAmministrativa" type="xs:string" minOccurs="0"/>
                    <xs:element name="sezioneUrbana" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CoordinateCatastaliTerreniType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare le coordinate catastali di un terreno</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aggregate:CoordinateCatastaliBaseType">
                <xs:sequence> 
                    <xs:element name="tipo" type="enum:TipoCoordinateCatastaliEnum" fixed="TERRENI"/>
                    <xs:element name="sezioneCensuaria" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CoordinateCatastaliType">
        <xs:annotation>
            <xs:documentation>Un tipo per definire le coordinate catastali da utilizzare</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="catastoFabbricati" type="aggregate:CoordinateCatastaliFabbricatiType"/>
            <xs:element name="catastoTerreni" type="aggregate:CoordinateCatastaliTerreniType"/>
        </xs:choice>
        <xs:attribute name="comuneCatastale" type="basic:CodiceComuneCatastaleType"/>            
    </xs:complexType>
    
    <xs:complexType name="ProtocolloStandardType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati che compongono il Protocollo Standard</xs:documentation>
        </xs:annotation>
        <xs:sequence>			
            <xs:element name="codiceAmministrazione" type="basic:CodiceAmministrazione" minOccurs="0"/>
            <xs:element name="codiceAOO" type="basic:CodiceAOO" minOccurs="0"/>
            <xs:element name="codiceRegistro" type="xs:string" minOccurs="0"/>
            <xs:element name="numeroProtocollo" type="xs:string"/>
            <xs:element name="dataRegistrazione" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="ContattiFoniaGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate ai contatti fonia</xs:documentation>
        </xs:annotation>
        <xs:sequence> 
            <xs:element name="telefono" type="xs:string" minOccurs="0"/>
            <xs:element name="cellulare" type="xs:string" minOccurs="0"/>
            <xs:element name="fax" type="xs:string" minOccurs="0"/> 
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="ContattiFoniaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i contatti fonia</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:ContattiFoniaGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="ContattiDatiGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate ai contatti mail</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PEC" type="basic:EMailIndirizzoType" minOccurs="0"/>
            <xs:element name="email" type="basic:EMailIndirizzoType" minOccurs="0"/>            
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="ContattiDatiType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i contatti mail</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:ContattiDatiGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="ContattiGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate ai contatti</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:ContattiDatiGroup"/>
            <xs:group ref="aggregate:ContattiFoniaGroup"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="ContattiType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i contatti</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:ContattiGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PersonaAnagraficaNascitaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati di nascita di una persona</xs:documentation>
        </xs:annotation>
        <xs:sequence>            
            <xs:group ref="aggregate:PersonaBaseGroup"/>
            <xs:element name="nato" type="aggregate:PersonaNascitaType"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="PersonaAnagraficaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare tutti i dati anagrafici di una persona</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaNascitaType">
                <xs:sequence>
                    <xs:element name="cittadinanza" type="enum:NazioniAlpha3Enum" default="ITA" minOccurs="0"/>
                    <xs:element name="documentoSoggiorno" type="aggregate:DocumentoSoggiornoType" minOccurs="0"/>
                    <xs:element name="residente" type="aggregate:IndirizzoType"/>
                    <xs:element name="contatti" type="aggregate:ContattiType" minOccurs="0"/>
                </xs:sequence>    
            </xs:extension>
        </xs:complexContent>       
    </xs:complexType>
    
    <xs:complexType name="DocumentoSoggiornoType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare tutti i dati di un documento di soggiorno</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tipo" type="enum:TipoDocumentoSoggiornoEnum"/>
            <xs:element name="estremi" type="xs:string"/>
            <xs:element name="rilasciatoDa" type="xs:string"/>
            <xs:element name="dataRilascio" type="xs:date"/> 
            <xs:element name="dataScadenza" type="xs:date" minOccurs="0"/>
        </xs:sequence>
        
    </xs:complexType>
    
    <xs:group name="LuogoGroup">
        <xs:annotation>
            <xs:documentation>Un gruppo di proprietà associate al luogo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="stato" type="isacvbc:AddressAdminUnitLocationOneType" default="it_IT" />
            <xs:element name="regione" type="aggregate:RegioneType" minOccurs="0"/>
            <xs:element name="provincia" type="aggregate:ProvinciaType" minOccurs="0"/>
            <xs:element name="comune" type="aggregate:ComuneType"/>			
        </xs:sequence>
    </xs:group>  
    
    <xs:complexType name="LuogoType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare tutti i dati di un luogo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="aggregate:LuogoGroup"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegioneType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati di una Regione</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="isacvbc:AddressAdminUnitLocationTwoType">
                <xs:attribute name="codiceIstat" type="basic:CodiceIstatRegioneType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ProvinciaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati di una Provincia</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="codiceIstat" type="basic:CodiceIstatProvinciaType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ComuneType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati di un Comune</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="isacvbc:AddressPostNameType">
                <xs:attribute name="codiceIstat" type="basic:CodiceIstatComuneType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ImpresaAnagraficaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati dell'anagrafica di una Impresa</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ragioneSociale" type="isacvbc:LegalEntityLegalNameType"/>
            <xs:element name="pIVA" type="basic:PIVA"/>
            <xs:element name="formaGiuridica" type="enum:FormaGiuridicaEnum"/> 
            <xs:element name="iscrizioneRegistroImprese" type="enum:IscrizioneRegistroImpreseEnum"/>
            <xs:element name="CCIAA" type="aggregate:CCIAAType" minOccurs="0"/>
            <xs:element name="sedeLegale" type="aggregate:IndirizzoType"/>
            <xs:element name="contatti" type="aggregate:ContattiType"/>
            <xs:element name="domicilioElettronicoComunicazioni" type="basic:EMailIndirizzoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CCIAAType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati Impresa relativi all'iscrizione alla Camera Commercio Industria Artigianato Agricoltura</xs:documentation>
        </xs:annotation>       
        <xs:choice>        
            <xs:sequence>
                <xs:element name="CCIAA" type="enum:CCIAAEnum"/>
                <xs:element name="numeroREA" type="basic:NumeroREAType"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="registroDi" type="xs:string"/>
                <xs:element name="estremi" type="xs:string"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ImpresaREAType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare il numero REA (Repertorio economico e amministrativo) di un Impersa</xs:documentation>
        </xs:annotation>          
        <xs:choice>        
            <xs:sequence>
                <xs:element name="impresa" type="xs:string"/>
                <xs:element name="numeroREA" type="basic:NumeroREAType"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="AttoBaseType">
        <xs:sequence>
            <xs:element name="numero" type="xs:string"/>
            <xs:element name="data" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AttoRilasciatoDaType">
        <xs:annotation>
            <xs:documentation>Un tipo per specificare i dati di un Atto</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aggregate:AttoBaseType">
                <xs:sequence>
                    <xs:element name="rilasciataDa" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
