Moduli_PA/SUE/SUE_modulo_segnalazione_certificata_agibilita.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:scpa="http://www.agid.gov.it/MODULI_PA/SUE/modulo_segnalazione_certificata_agibilita"
    xmlns:suecommon="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUE/modulo_segnalazione_certificata_agibilita"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">

    
   
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"  schemaLocation="SUE_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components"  schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- // Modulo Segnalazione Certificata Agibilita - ## internal code ref 07/F  // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloSCPA" type="scpa:ModuloSCPAType"/>
    
    <xs:complexType name="ModuloSCPAType">
        <xs:annotation>
            <xs:documentation>
                F. SEGNALAZIONE CERTIFICATA PER L’AGIBILITÀ
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaTitolare" type="aggregate:PersonaAnagraficaType">
                <xs:annotation>
                    <xs:documentation>
                        schedaTitolare: in caso di più titolari, la sezione è ripetibile nell’allegato “SOGGETTI COINVOLTI”
                    </xs:documentation>
                </xs:annotation>
            </xs:element>                             
            <xs:element name="schedaDitta" type="suecommon:SchedaDittaType" minOccurs="0"/>                   
            <xs:element name="schedaDelegato" type="aggregate:PersonaAnagraficaType" minOccurs="0"/>                
            <!-- Dichiarazioni | Sezione A -->
            <xs:element name="identificativiImmobile" type="scpa:IdentificativiImmobileBaseType" minOccurs="0"/>  
             
            <xs:element name="comunicazioneInterventoLeggitimato" type="scpa:ComunicazioneInterventoLeggitimatoBaseType" minOccurs="0"/>  
            <xs:element name="comunicazionefineLavori" type="scpa:ComunicazioneFineLavoriBaseType" minOccurs="0"/>                            
            <xs:element name="presentazioneInizioLavori" type="scpa:PresentazioneInizioLavoriType"/>                 
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
            
            <xs:element name="Allegati">
                <!-- Allegati non referenziati nella tabella allegati -->
                <xs:complexType>
                    <xs:sequence>
                        <!-- Sezione C -->
                        <xs:element name="allegatoSoggettiCoinvolti" type="scpa:AllegatoSoggettiCoinvoltiType" minOccurs="0"  />
                        <!-- Sezione B -->
                        <xs:element name="allegatoAttestazioneDirettoreLavoriProfessionistaAbilitato" type="scpa:AllegatoAttestazioneDirettoreLavoriProfessionistaAbilitatoType" minOccurs="0"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- ALLEGATI -->
            <xs:element name="tabellaAllegati" type="scpa:TabellaAllegatiType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="IdentificativiImmobileBaseType" abstract="true"/>
    
    <xs:complexType name="IdentificativiImmobileType">
        <xs:complexContent>
            <xs:extension base="scpa:IdentificativiImmobileBaseType">
                <xs:sequence>
                    <xs:element name="ubicazioneImmobile" type="suecommon:UbicazioneImmobileType" minOccurs="0"/>
                    <xs:element name="datiCatastali" type="aggregate:CoordinateCatastaliType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="destinazioneUso" type="xs:string" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension> 
        </xs:complexContent>
    </xs:complexType>
   
   
    
    <!-- che il titolo e/o la comunicazione che ha legittimato l’intervento è il seguente (*) -->
    <xs:complexType name="ComunicazioneInterventoLeggitimatoBaseType" abstract="true"/>
    <xs:complexType name="ComunicazioneInterventoLeggitimatoType">
        <xs:complexContent>
            <xs:extension base="scpa:ComunicazioneInterventoLeggitimatoBaseType">
                <xs:sequence>
                    <xs:element name="intervento" type="xs:string"/>
                    <xs:element name="protocollo" type="aggregate:ProtocolloStandardType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="ComunicazioneFineLavoriBaseType" abstract="true"/> 
    <xs:complexType name="ComunicazioneFinelavoriType">
        <xs:complexContent>
            <xs:extension base="scpa:ComunicazioneFineLavoriBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="protocolloComunicazioneFineLavori" type="aggregate:ProtocolloStandardType" />
                        <xs:sequence>
                         <xs:element name="dataFineLavori" type="xs:date" minOccurs="0"/>
                         <xs:choice>
                             <xs:element name="statoLavoriCompletati"  type="basic:EmptyType"/>
                             <xs:element name="statoLavoriParziale"  type="basic:EmptyType"/>
                         </xs:choice>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>            
    </xs:complexType>
    
    <xs:complexType name="PresentazioneInizioLavoriType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="SCIAAgibilitaImmobile"  type="basic:EmptyType"/>
                <xs:element name="SCIAAgibilitaParzialeEdifici" type="basic:EmptyType"/>
                <xs:element name="SCIAAgibilitaParzialeSingoliImmobili"  type="basic:EmptyType"/>
                <xs:element name="SCIAUnicaAgibilitaImmobile"  type="basic:EmptyType"/>
                <xs:element name="SCIAUnicaAgibilitaParzialeEdifici"  type="basic:EmptyType" />
                <xs:element name="SCIAUnicaAgibilitaParzialeSingoliImmobili"  type="basic:EmptyType"/>
            </xs:choice>
            
            
            <xs:element name="allegaAttestazioneProfessionista"  type="basic:EmptyType" minOccurs="0"/>
            <xs:element name="allegaComunicazioni" type="basic:EmptyType" minOccurs="0"/>
            
        </xs:sequence>
    </xs:complexType>

   


    
    
    
    
    
    
    
    
    
   
    
   
    
    <!-- Allegati -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCPA"  type="scpa:AllegatiSCPAType"/>
            <xs:element name="allegatiAltri" type="scpa:AllegatiSCIAUnicaType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCPAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoVersamentoDirittiSegreteria" type="moduli:AllegatoType" />
            <xs:element name="allegatoDocumentoIdentita" type="moduli:AllegatoType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="allegatoPlanimetricoVarianti" type="moduli:AllegatoType" minOccurs="0" />
            <xs:element name="allegatoConformitaImpianti" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoCertificatoCollaudoStatico" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAQE" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAggiornamentoNumerazioneCivica" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAart4DPR1512011" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAttestazioneVersamentoOneriDiritti" type="moduli:AllegatoType" minOccurs="0"/>   
        </xs:sequence>                                
    </xs:complexType>
    
   
    
    
    <!-- ALLEGATI TYPE -->
    
    
    <!-- SEZIONE C -->
    <xs:complexType name="AllegatoSoggettiCoinvoltiType">
        
            <xs:annotation>
                <xs:documentation xml:lang="it">
                    Compilare solo in caso di più di un Titolare
                    (I seguenti campi sono da compilare solo qualora i dati siano diversi da quelli indicati nei titoli/comunicazioni che hanno legittimato l’intervento)
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="schedaTitolare" type="aggregate:PersonaAnagraficaType"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="AllegatoAttestazioneDirettoreLavoriProfessionistaAbilitatoType">
        <xs:sequence>
            <xs:element name="schedaTecnico" type="scpa:ProfessionistaAnagraficaDirettoreType"/>               
            <xs:element name="assevera" type="scpa:AsseveraType"/>                                                  
            <xs:element name="sicurezzaImpianti" type="scpa:SicurezzaImpiantiType"/>                                
            <xs:element name="sicurezzaStaticaSismica" type="scpa:SicurezzaStaticaSismicaBaseType"/>                
            <xs:element name="prestazioneEnergetica" type="scpa:PrestazioneEnergeticaBaseType"/>                    
            <xs:element name="barriereArchitettoniche" type="scpa:BarriereArchitettonicheType"/>                    
            <xs:element name="documentazioneCatastale" type="scpa:DocumentazioneCatastaleType"/>                    
            <xs:element name="toponomastica" type="scpa:ToponomasticaType"/>                                      
            <xs:element name="prevenzioneIncendi" type="scpa:PrevenzioneIncendiBaseType" minOccurs="0"/>
            <xs:element name="montacarichi" type="scpa:MontacarichiBaseType" minOccurs="0"/>    
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ProfessionistaAnagraficaDirettoreType">
        <xs:complexContent>
            <xs:extension base="suecommon:ProfessionistaAnagraficaType">
                <xs:choice minOccurs="0">
                    <xs:element name="direttoreLavori" type="basic:EmptyType"/>
                    <xs:element name="professionistaAbilitato" type="basic:EmptyType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- DICHIARAZIONE ASSEVERATA -->
    <xs:complexType name="AsseveraType">
        <xs:choice>
            <xs:element name="agibilitaImmobile" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="agibilitaParzialeEdifici"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="agibilitaParzialeSingoliImmobili"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- Sicurezza Impianti table : start -->
    <xs:complexType name="SicurezzaImpiantiType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="nessunImpianto"  type="basic:EmptyType"/>
                <xs:element name="impiantiConCertificazione">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="elettrico"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="radiotel"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="riscaldamento"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="idrico"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="gas"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="ascensori"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="antincendio"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="scariche"  type="scpa:CaratteristicheCertificazioniImpiantiType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="lineevita"  type="scpa:CaratteristicheCertificazioniImpiantiBaseType"/>
                            <xs:element name="altro">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="scpa:CaratteristicheCertificazioniImpiantiType">
                                            <xs:sequence>
                                                <xs:element name="impianto" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence> 
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CaratteristicheCertificazioniImpiantiBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="subaltNr" type="xs:string" minOccurs="0"/>
            <xs:element name="pgDocDepositato" type="xs:string" minOccurs="0"/>
            <xs:element name="conformita" type="basic:EmptyType"  minOccurs="0" />
            <xs:element name="collaudo" type="basic:EmptyType"  minOccurs="0"/>
            <xs:element name="attoNotorio" type="basic:EmptyType" minOccurs="0" /> <!-- non presente su 2 elementi -->
        </xs:sequence>       
    </xs:complexType>
    
    <xs:complexType name="CaratteristicheCertificazioniImpiantiType">
        <xs:complexContent>
            <xs:extension base="scpa:CaratteristicheCertificazioniImpiantiBaseType"/>
        </xs:complexContent>
    </xs:complexType>
    
    
    <!-- Sicurezza Impianti table : end -->
    
    <!-- Sicurezza Statica Sismica -->
    <xs:complexType name="SicurezzaStaticaSismicaBaseType" abstract="true"/>
    <xs:complexType name="SicurezzaStaticaSismicaType">
        <xs:complexContent>
            <xs:extension base="scpa:SicurezzaStaticaSismicaBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonHaInteressatoStrutture"  type="basic:EmptyType"  minOccurs="0"/>
                        <xs:element name="haInteressatoStrutture" >
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="certificatoCollaudoStatico"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="estremiCollaudoStatico" type="scpa:ProtocolloType"  minOccurs="0"/>
                                    <xs:element name="dichiarazioneEsecuzioneInterventi" type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="estremiDichiarazioneEsecuzioneInterventi" type="scpa:ProtocolloType"  minOccurs="0"/>
                                    <xs:element name="noCollaudoStatico"  type="basic:EmptyType" minOccurs="0"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>            
    </xs:complexType>
    
    <xs:complexType name="PrestazioneEnergeticaBaseType" abstract="true"/>
    <xs:complexType name="PrestazioneEnergeticaType">
        <xs:complexContent>
            <xs:extension base="scpa:PrestazioneEnergeticaBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonSoggettoRequisitiMinimi"  type="basic:EmptyType" minOccurs="0" maxOccurs="1" />
                        <xs:element name="soggettoRequisitiMinimi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="BarriereArchitettonicheType">
        <xs:sequence>
            <xs:element name="nonSoggettoPrescrizioni" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="soggettoPrescrizioni" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="soggettoPrescrizioniEdificoPubblico" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DocumentazioneCatastaleType">
        <xs:choice>
            <xs:element name="nonComportaVariazioneIscrizione" type="basic:EmptyType"/>
            <xs:element name="comportaVariazioneIscrizione" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="protocolloEstremi" type="aggregate:ProtocolloStandardType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ToponomasticaType">
        <xs:choice>
            <xs:element name="nonComportaVariazioneCivici"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="comportaVariazioneCivici">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="allegaRichiestaNumerazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="protocolloVariazioneNumerazione" type="aggregate:ProtocolloStandardType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
  
    <!-- (*) Personalizzazione Regionale -->
    <xs:complexType name="PrevenzioneIncendiBaseType" abstract="true"/>
    <xs:complexType name="PrevenzioneIncendiType">
        <xs:complexContent>
            <xs:extension base="scpa:PrevenzioneIncendiBaseType">
                <xs:choice>
                    <xs:element name="nonComportatoVariazioniSicurezza"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="comportatoVariazioniSicurezza"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- (*) Personalizzazione Regionale -->
    <xs:complexType name="MontacarichiBaseType" abstract="true"/>
    <xs:complexType name="MontacarichiType">
        <xs:complexContent>
            <xs:extension base="scpa:MontacarichiBaseType">
                <xs:sequence>
                    <xs:element name="comunicazioneValidaPerMatricola"  type="basic:EmptyType" minOccurs="0"/>
                    <xs:element name="attoComunicazione" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="protocollo" type="aggregate:ProtocolloStandardType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProtocolloType">
        <xs:complexContent>
            <xs:extension base="aggregate:ProtocolloStandardType">
                <xs:sequence>
                    <xs:element name="presso" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
</xs:schema>