Moduli_PA/SUE/SUE_modulo_segnalazione_certificata_agibilita-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:scpa="http://www.agid.gov.it/MODULI_PA/SUE/modulo_segnalazione_certificata_agibilita"
    xmlns:suecommon="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUE/modulo_segnalazione_certificata_agibilita"
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">
    
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"
        schemaLocation="SUE_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
        schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components"
        schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components"
        schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration"
        schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>
    
    <!-- // Modulo Segnalazione Certificata Agibilita - ## internal code ref 07/F  // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloSCPA" type="scpa:ModuloSCPAType"/>
    
    <xs:complexType name="ModuloSCPAType">
        <xs:sequence>
            <xs:element name="schedaTitolare" type="aggregate:PersonaAnagraficaType"/>                              
            <xs:element name="schedaDitta" type="aggregate:ImpresaAnagraficaType" minOccurs="0"/>                   
            <xs:element name="schedaDelegati" type="aggregate:PersonaAnagraficaType" minOccurs="0"/>                
            <!-- Dichiarazioni | Sezione A -->
            <xs:element name="ubicazioneImmobile" type="scpa:UbicazioneImmobileType" minOccurs="0"/>                
            <xs:element name="catastoImmobile" type="scpa:CatastoImmobileType" minOccurs="0"/>                      
            <xs:element name="comunicazioneIntervento" type="scpa:comunicazioneInterventoBaseType" minOccurs="0"/>  
            <xs:element name="fineLavori" type="scpa:FineLavoriBaseType" minOccurs="0"/>                            
            <xs:element name="presentazioneInizioLavori" type="scpa:PresentazioneInzioLavoriType"/>                 
            <!-- Sezione B -->
            <xs:element name="schedaTecnico" type="suecommon:ProfessionistaAnagraficaDirettoreType"/>               
            <!-- DICHIARAZIONE ASSEVERATA -->
            <xs:element name="assevera" type="scpa:AsseveraType"/>                                                  
            <xs:element name="sicurezzaImpianti" type="scpa:SicurezzaImpiantiType"/>                                
            <xs:element name="sicurezzaStaticaSismica" type="scpa:SicurezzaStaticaSismicaBaseType"/>                
            <xs:element name="prestazioneEnergetica" type="scpa:PrestazioneEnergeticaBaseType"/>                    
            <xs:element name="barriereArchitettoniche" type="scpa:BarriereArchitettonicheType"/>                    
            <xs:element name="documentazioneCatastale" type="scpa:DocumentazioneCatastaleType"/>                    
            <xs:element name="toponomastrica" type="scpa:ToponomastricaType"/>                                      
            <xs:element name="prevenzioneIncendi" type="scpa:PrevenzioneIncendiBaseType" minOccurs="0"/>
            <xs:element name="montacarichi" type="scpa:MontacarichiBaseType" minOccurs="0"/>            
            <!-- ALLEGATI -->
            <xs:element name="tabellaAllegati" type="scpa:TabellaAllegatiType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="UbicazioneImmobileType">
        <xs:complexContent>
            <xs:extension base="aggregate:IndirizzoType">
                <xs:sequence>
                    <xs:element name="scala" type="xs:string" minOccurs="0"/>
                    <xs:element name="piano" type="xs:string" minOccurs="0"/>
                    <xs:element name="interno" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CatastoImmobileType">
        <xs:complexContent>
            <xs:extension base="aggregate:CoordinateCatastaliType">
                <xs:sequence>
                    <xs:element name="identificativi" type="aggregate:CoordinateCatastaliType" minOccurs="0"/>
                    <xs:element name="destinazioneUso" type="xs:string" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension> 
        </xs:complexContent>
    </xs:complexType>
    
    <!-- che il titolo e/o la comunicazione che ha legittimato l’intervento è il seguente (*) -->
    <xs:complexType name="comunicazioneInterventoBaseType" abstract="true"/>
    <xs:complexType name="comunicazioneInterventoType">
        <xs:complexContent>
            <xs:extension base="scpa:comunicazioneInterventoBaseType">
                <xs:sequence>
                    <xs:element name="estremiComunicazione" type="aggregate:ProtocolloStandardType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="FineLavoriBaseType" abstract="true"/> 
    <xs:complexType name="FinelavoriType">
        <xs:complexContent>
            <xs:extension base="scpa:FineLavoriBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="comunicazioneFineLavoriProtocollo" type="aggregate:ProtocolloStandardType" minOccurs="0"/>
                        <xs:sequence>
                         <xs:element name="dataFineLavori" type="xs:date" minOccurs="0"/>
                         <xs:choice>
                             <xs:element name="statoLavoriCompletati" minOccurs="0" type="basic:EmptyType"/>
                             <xs:element name="statoLavoriParziale" minOccurs="0" type="basic:EmptyType"/>
                         </xs:choice>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>            
    </xs:complexType>
    
    <xs:complexType name="PresentazioneInzioLavoriType">
        <xs:choice>
            <xs:element name="SCIAAgibilitaImmobile" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="SCIAAgibilitaParzialeEdifici" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="SCIAAgibilitaParzialeSingoliImmobili" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="SCIAUnicaAgibilitaImmobile" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="SCIAUnicaAgibilitaParzialeEdifici" minOccurs="0" type="basic:EmptyType" />
            <xs:element name="SCIAUnicaAgibilitaParzialeSingoliImmobili" minOccurs="0" type="basic:EmptyType"/>
        </xs:choice>
            <!-- VERIFICARE !!!
            ED ALLEGA
            □	SEZIONE B “Attestazione del direttore dei lavori o del professionista abilitato”, sottoscritta dal direttore dei lavori o tecnico abilitato 
            □	le comunicazioni o segnalazioni di cui alla SEZIONE C “Soggetti Coinvolti” e alla SEZIONE D “Quadro Riepilogativo della documentazione allegata” debitamente firmate sia dal titolare che dal direttore dei lavori o tecnico abilitato 
            -->
    </xs:complexType>

    <!-- DICHIARAZIONE ASSEVERATA -->
    <xs:complexType name="AsseveraType">
        <xs:choice>
            <xs:element name="agibilitaImmobile" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="agibilitaParzialeEdifici" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="agibilitaSingoliImmbobili" minOccurs="0" type="basic:EmptyType"/>
        </xs:choice>
    </xs:complexType>

    <!-- Sicurezza Impianti table : start -->
    <xs:complexType name="SicurezzaImpiantiType">
        <xs:sequence>
        <xs:choice>
            <xs:element name="nessunImpianto" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="impiantiConCertificazione">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="elettrico" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="radiotel" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="riscaldamento" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="idrico" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="gas" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="ascensori" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="antincendio" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="scariche" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                    <xs:element name="lineevita" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneVitaBaseType"/>
                    <xs:element name="altro" minOccurs="0" type="scpa:SicurezzaImpiantiCertificazioneType"/>
                </xs:sequence> 
                </xs:complexType>
        </xs:element>
        </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SicurezzaImpiantiCertificazioneVitaBaseType" abstract="true"/>
    <xs:complexType name="SicurezzaImpiantiCertificazioneVitaType">
        <xs:complexContent>
            <xs:extension base="scpa:SicurezzaImpiantiCertificazioneVitaBaseType">
            <xs:sequence>
                <xs:element name="lineeVita" type="scpa:SicurezzaImpiantiCertificazioneType"/>
            </xs:sequence>     
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SicurezzaImpiantiCertificazioneType">
        <xs:sequence>
            <xs:element name="subaltNr" type="xs:string" minOccurs="0"/>
            <xs:element name="impiantoNome" type="xs:string" minOccurs="0"/>        <!-- richiesto in Impianto____ -->
            <xs:element name="pg" type="xs:string" minOccurs="0"/>
            <xs:element name="conformita" type="basic:EmptyType"  minOccurs="0" />
            <xs:element name="collaudo" type="basic:EmptyType"  minOccurs="0"/>
            <xs:element name="attoNotorio" type="basic:EmptyType" minOccurs="0" /> <!-- non presente su 2 elementi -->
        </xs:sequence>       
    </xs:complexType>
    <!-- Sicurezza Impianti table : end -->
    
    
    <!-- Sicurezza Statica Sismica -->
    <xs:complexType name="SicurezzaStaticaSismicaBaseType" abstract="true"/>
    
    <xs:complexType name="SicurezzaStaticaSismicaType">
        <xs:complexContent>
            <xs:extension base="scpa:SicurezzaStaticaSismicaBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonHaInteressatoStrutture" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="haInteressatoStrutture" minOccurs="0">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="certificatoCollaudoStatico" minOccurs="0" type="basic:EmptyType"/>
                                    <xs:element name="estermiCollaudoStatico" type="aggregate:ProtocolloStandardType"/>
                                    <xs:element name="dichiarazioneEsecuzioneInterventi" minOccurs="0" type="basic:EmptyType"/>
                                    <xs:element name="estremiDichiarazioneEsecuzioneInterventi" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="estremiLuogoPresentazione" type="xs:string"/>
                                            <xs:element name="estremiProtocollo" type="aggregate:ProtocolloStandardType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element name="noCollaudoStatico" minOccurs="0" type="basic:EmptyType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
        </xs:extension>
    </xs:complexContent>            
    </xs:complexType>
    
    
    <xs:complexType name="PrestazioneEnergeticaBaseType" abstract="true"/>
    <xs:complexType name="PrestazioneEnergeticaType">
        <xs:complexContent>
            <xs:extension base="scpa:PrestazioneEnergeticaBaseType">
                <xs:sequence>
                 <xs:choice>
                     <xs:element name="noSoggettoRequisitiMinimi" minOccurs="0" type="basic:EmptyType"/>
                     <xs:element name="siSoggettoRequisitiMinimi" minOccurs="0" type="basic:EmptyType"/>
                 </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="BarriereArchitettonicheType">
        <xs:choice>
            <xs:element name="noSoggettoPrescrizioni" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="siSoggettoPrescrizioni" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="siSoggettoPrescrizioniEdificoPubblico" minOccurs="0" type="basic:EmptyType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DocumentazioneCatastaleType">
        <xs:choice>
            <xs:element name="noVariazioneIscizione" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="siVariazioneIscizione" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="estremiAggiornamentoCatastale" type="aggregate:ProtocolloStandardType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ToponomastricaType">
        <xs:choice>
            <xs:element name="noVariazioneNumerazioneCivica" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="siVariazioneNumerazioneCivicae" minOccurs="0">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="allegaRichiestaNumerazione" type="basic:EmptyType"/>
                        <xs:element name="estremiAggiornamentoNumerazione" type="aggregate:ProtocolloStandardType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    
    <!-- (*) Personalizzazione Regionale -->
    <xs:complexType name="PrevenzioneIncendiBaseType" abstract="true"/>
    <xs:complexType name="PrevenzioneIncendiType">
        <xs:complexContent>
            <xs:extension base="scpa:PrevenzioneIncendiBaseType">
                    <xs:choice>
                        <xs:element name="noVariazioniSicurezza" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="siVariazioniSicurezzaiSoggettoPrescrizioni" minOccurs="0" type="basic:EmptyType"/>
                    </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- (*) Personalizzazione Regionale -->
    <xs:complexType name="MontacarichiBaseType" abstract="true"/>
    <xs:complexType name="MontacarichiType">
        <xs:complexContent>
            <xs:extension base="scpa:MontacarichiBaseType">
                <xs:choice>
                    <xs:element name="comunicazioneValidaPerMatricola" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="attoComunicazione" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                             <xs:element name="estremiComunicazione" type="aggregate:ProtocolloStandardType"/>
                          </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Allegati  -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCPA"  type="scpa:AllegatiSCPAType"/>
            <xs:element name="allegatiAltri" type="scpa:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCPAType">
        <xs:sequence>
            <xs:element ref="suecommon:allegatoProcuraDelega" minOccurs="0" />
            <xs:element ref="suecommon:allegatoVersamentoDirittiSegreteria" minOccurs="1" />
            <xs:element ref="suecommon:allegatoDocumentiIdentita" minOccurs="0" />
            <xs:element ref="suecommon:allegatoPlanimetricoVariantiConcluse" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoConformitaImpianti" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoCertificatoCollaudoStatico" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoAQE" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoAggiornamentoNumerazioneCivica" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoSoggettiCoinvolti" minOccurs="1"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType">
        <xs:sequence>
            <xs:element ref="suecommon:allegatoSCIAart4DPR1512011" minOccurs="0"/>
            <xs:element ref="suecommon:allegatoAttestazioneVersamentoOneriDiritti" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
</xs:schema>