Moduli_PA/SUE/SUE_common_components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:suecommon="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"    
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:ccts="urn:un:unece:uncefact:documentation:2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"

    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">

    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>  
    
    
    <xs:complexType name="SchedaDittaType">
        <xs:complexContent>
            <xs:extension base="aggregate:ImpresaAnagraficaType">
                <xs:sequence>
                    <xs:element name="InQualitaDi" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ProfessionistaAnagraficaType">
        <xs:annotation>
            <xs:documentation>Tipo per specificare tutti i dati anagrafici di un professionista</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaType">
                <xs:sequence>
                    <xs:element name="studiopro" type="aggregate:IndirizzoType"/>
                    <xs:element name="ordineprofessionale" type="suecommon:OrdineProfessionaleType"/>  
                    <xs:element name="contatti" type="aggregate:ContattiType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProfessionistaAnagraficaDirettoreType">
        <xs:complexContent>
            <xs:extension base="suecommon:ProfessionistaAnagraficaType">
                <xs:sequence>
                    <xs:element name="direttoreLavori" type="basic:EmptyType" minOccurs="0"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="OrdineProfessionaleType">
        <xs:sequence>
            <xs:element name="OrdineNome" type="xs:string"/>
            <xs:element name="OrdineCitta" type="xs:string"/>
            <xs:element name="OrdineNumero" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TecniciIncaricatiType">
        <xs:sequence>
            <xs:element name="schedaProgettistaOpereArchitettoniche" type="suecommon:ProfessionistaAnagraficaDirettoreType"  minOccurs="1"/>
            <xs:element name="schedaDirettoreOpereArchitettoniche" type="suecommon:ProfessionistaAnagraficaType" minOccurs="0"/>
            <xs:element name="schedaProgettistaOpereStrutturali" type="suecommon:ProfessionistaAnagraficaDirettoreType" minOccurs="0" />
            <xs:element name="schedaDirettoreOpereStrutturali" type="suecommon:ProfessionistaAnagraficaType" minOccurs="0" />
            <xs:element name="schedaAltriTecnici" type="suecommon:AltriTecniciType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Reference suecommon:TecniciIncaricatiDeiLavoriType -->  
    <xs:complexType name="TecniciIncaricatiDeiLavoriType">
        <xs:sequence>
            <xs:element name="altriTecniciDaSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="altriTecnici" minOccurs="0"  type="suecommon:IndividuatiPrimaInizioLavoriBaseType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IndividuatiPrimaInizioLavoriBaseType" abstract="true"/>
    <xs:complexType name="IndividuatiPrimaInizioLavoriType">
        <xs:complexContent>
            <xs:extension base="suecommon:IndividuatiPrimaInizioLavoriBaseType">
                <xs:sequence>
                    <xs:element name="individuatiPrimaInizioLavori" minOccurs="0" type="basic:EmptyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="AltriTecniciType">
        <xs:sequence>
            <xs:element name="incaricatoDi" type="xs:string"/>
            <xs:element name="schedaAltroTecnico" type="suecommon:ProfessionistaAnagraficaType"/>
            <xs:element name="alleDipendenzeDi">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="aggregate:ImpresaAnagraficaType">
                            <xs:sequence>
                                <xs:element name="legaleRappresentante" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="estremiAbilitazione" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ImpreseEsecutriciType">
        <xs:sequence>
            <xs:element name="schedaDitta">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="aggregate:ImpresaAnagraficaType">
                            <xs:sequence>
                                <xs:element name="legaleRappresentante" minOccurs="0">
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="aggregate:PersonaAnagraficaNascitaType">
                                                <xs:sequence>
                                                    <xs:element name="contatti" type="aggregate:ContattiType" minOccurs="0"/>
                                                </xs:sequence>    
                                            </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="verificaRegolaritaContributiva">
                <xs:complexType>
                    <xs:sequence><!-- scelta multipla -->
                        <xs:element name="cassaEdile" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sede" type="xs:string"/>
                                    <xs:element name="codiceImpresa" type="xs:string"/>
                                    <xs:element name="codiceCassa" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Inps" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sede" type="xs:string"/>
                                    <xs:element name="codiceMatrPos" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Inail" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sede" type="xs:string"/>
                                    <xs:element name="codiceImpresa" type="xs:string"/>
                                    <xs:element name="posizioneAssicurativa" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
         </xs:sequence>
    </xs:complexType>

    <!-- Reference suecommon:ImpreseEsecutriciLavoriBaseType -->  
    <xs:complexType name="ImpreseEsecutriciDeiLavoriBaseType" abstract="true"/>
    
    <xs:complexType name="ComunicazioniImpreseEsecutriciDeiLavoriType">
        <xs:choice>
            <xs:element name="daSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="noPrivatiDitteEsterne" type="basic:AbstractBaseType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="SciaImpreseEsecutriciDeiLavoriType">
        <xs:complexContent>
            <xs:extension base="suecommon:ImpreseEsecutriciDeiLavoriBaseType">
                <xs:choice>
                    <xs:element name="daSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="noPrivatiDitteEsterne" type="basic:AbstractBaseType"/>
                    <xs:element name="primaInizioLavori" type="basic:AbstractBaseType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
   <!-- <xs:complexType name="ImpreseEsecutriciDeiLavoriBaseType">
        <xs:sequence>
            <xs:element name="daSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
        </xs:sequence>
    </xs:complexType>-->

    <!-- Reference suecommon:TitoloPossessoType -->
    <xs:complexType name="TitoloPossessoType">
        <xs:sequence>
            <xs:element name="titolo" type="xs:string"/>
            <xs:choice>
                <xs:element name="TitolareEsclusivo" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="NonTitolareEsclusivo" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>        
    </xs:complexType>


    <xs:complexType name="OperePrevisteBaseType" abstract="true"/>
    <xs:complexType name="OperePrevisteType">
        <xs:complexContent>
            <xs:extension base="suecommon:OperePrevisteBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="NoPartiComuni" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PartiComuniCondominio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PartiComuniFabbricatoMultiProp" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PartiComuniNoAssenso" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>                
                    </xs:choice>
                </xs:sequence>   
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:LocalizzazioneInterventoType -->
    <xs:complexType name="LocalizzazioneInterventoType">
        <xs:sequence>
            <xs:element name="immobile" type="suecommon:LocalizzazioneImmobileType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="LocalizzazioneImmobileType">
        <xs:sequence>
            <xs:element name="ubicazioneImmobile" type="suecommon:UbicazioneImmobileType"/>
            <xs:element name="riferimentiCatastali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="datiCatastali" type="moduli:DatiCatastaliType"/>
                        <xs:element name="destinazioneDUso" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="coordinate" type="suecommon:CoordinateBaseType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CoordinateBaseType" abstract="true"/>
    <xs:complexType name="CoordinateType">
        <xs:complexContent>
            <xs:extension base="suecommon:CoordinateBaseType">
                <xs:sequence>
                    <xs:element name="valori" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="UbicazioneImmobileType">
        <xs:complexContent>
            <xs:extension base="aggregate:IndirizzoType">
                <xs:sequence>
                    <xs:element name="scala" type="xs:string" minOccurs="0"/>
                    <xs:element name="piano" type="xs:string" minOccurs="0"/>
                    <xs:element name="interno" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <!-- Reference suecommon:QualificazioneInterventoBaseType -->
    <xs:complexType name="QualificazioneInterventoBaseType" abstract="true"/>
    
    <!-- Reference suecommon:RegolaritaUrbanisticaType -->
    <xs:complexType name="RegolaritaUrbanisticaBaseType" abstract="true"/>
    
    <xs:group name="RegolaritaUrbanisticaOptionGroup">
        <xs:choice>
            <xs:element name="pienamenteConforme" type="basic:EmptyType"/>
            <xs:element name="inDifformita" type="suecommon:InDifformitaType"/>
            <xs:element name="noTitoliAbilitativi" type="basic:EmptyType"/>
        </xs:choice>
    </xs:group>
   
    <!--<xs:complexType name="RegolaritaUrbanisticaType">
        <xs:complexContent>
            <xs:extension base="suecommon:RegolaritaUrbanisticaBaseType">
                <xs:choice>
                    <xs:element name="pienamenteConforme" type="basic:EmptyType"/>
                    <xs:element name="inDifformita" type="suecommon:InDifformitaType"/>
                    <xs:element name="noTitoliAbilitativi" type="basic:EmptyType"/>
                </xs:choice>        
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->
    
    <xs:complexType name="InDifformitaType">
            <xs:sequence>
                <xs:element name="dataRealizzazioneOpere" type="xs:date"/>
                <xs:element name="titoloUnico" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="permessoLicenzaConc" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="autorizzazioneEdilizia" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="comunicazioneEdilizia" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="condonoEdilizio" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="denunciaInzioAttivita" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="DIA_SCIAAlternativa" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="certificazioneInizioAttivita" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="comunicazioniInizioLavoriAsseverata" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="comunicazioneEdiliziaLibera" minOccurs="0" type="aggregate:AttoBaseType"/>
                <xs:element name="altraPraticaEdilizia" minOccurs="0" type="suecommon:AltraPraticaEdiliziaType"/>
                <xs:element name="primoAccatastamento" minOccurs="0" type="basic:EmptyType"/>
            </xs:sequence>
    </xs:complexType> 

    <xs:complexType name="AltraPraticaEdiliziaType">
        <xs:sequence>
            <xs:element name="altro" type="xs:string"/>
            <xs:element name="comunicazione" minOccurs="0" type="aggregate:AttoBaseType"/>
        </xs:sequence>
    </xs:complexType> 
    
    <!-- Reference suecommon:ObblighiSaluteSicurezzaType -->
    <xs:complexType name="ObblighiSaluteSicurezzaType">
        <xs:choice>
            <xs:element name="nonRicade" type="basic:EmptyType"/>
            <xs:element name="ricade" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="suecommon:ObblighiSaluteSicurezzaEntitaCantiereGroup"/>
                        <xs:choice>
                            <xs:element name="noNotifica" minOccurs="0" type="basic:EmptyType"/>
                            <xs:element name="notifica" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="allega" minOccurs="0" type="basic:AbstractBaseType"/> 
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
             </xs:element>
            <xs:element name="ricadeRiservaPresentaPrimaInizioLavori" type="basic:AbstractBaseType"/>
        </xs:choice>        
    </xs:complexType>
 
    <xs:group name="ObblighiSaluteSicurezzaEntitaCantiereGroup">
        <xs:choice>
            <xs:element name="inf200ggUomo" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="pariSup200ggUomo" minOccurs="0" type="basic:EmptyType"/>
        </xs:choice>
    </xs:group>
    
 

    <!-- Reference suecommon:TipoInterventiOpereBaseType -->
    <xs:complexType name="TipoInterventiOpereBaseType" abstract="true"/>

    <!-- Reference suecommon:DatiGeometriciType -->
    <xs:complexType name="DatiGeometriciBaseType" abstract="true"/>

    <xs:complexType name="DatiGeometriciType">
        <xs:complexContent>
            <xs:extension base="suecommon:DatiGeometriciBaseType">
                <xs:sequence>
                    <xs:element name="superficieMq" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="volumetriaMc" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="numeroPianiN" minOccurs="0" type="xs:decimal"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
        
    <!-- Reference suecommon:StrumentazioneUrbanisticaType -->
    <xs:complexType name="StrumentazioneUrbanisticaBaseType" abstract="true"/>
    
    <xs:complexType name="StrumentazioneUrbanisticaType">
        <xs:complexContent>
            <xs:extension base="suecommon:StrumentazioneUrbanisticaBaseType">
                <xs:sequence>
                    <xs:element name="prg" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="pianoParticolareggiato" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="pianoRecupero" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="pip" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="peep" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="convenzione" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                    <xs:element name="altro" minOccurs="0" type="suecommon:TabellaStrumentazioneUrbanisticaType"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TabellaStrumentazioneUrbanisticaType">
        <xs:sequence>
            <xs:element name="specificare" type="xs:string"/>
            <xs:element name="zona" type="xs:string"/>
            <xs:element name="art" type="xs:string"/>
        </xs:sequence>       
    </xs:complexType>

    <!-- Reference suecommon:BarriereArchitettonicheType -->
    <xs:complexType name="BarriereArchitettonicheType">
        <xs:sequence>
            <xs:element name="nonSoggetto" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="edificioPrivatoApertoAlPubblico" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="soggetto" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="accessibilita" type="basic:EmptyType"/>
                        <xs:element name="visibilita" type="basic:EmptyType"/>
                        <xs:element name="adattabilita" type="basic:EmptyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="soggettoNonRispetta" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="allegaRelazioneTecnica" type="basic:EmptyType"/>
                    </xs:sequence>
                </xs:complexType>                
            </xs:element>
        </xs:sequence>        
    </xs:complexType> 

    <!-- Reference suecommon:SicurezzaImpiantiType -->
    <xs:complexType name="SicurezzaImpiantiType">
        <xs:choice>
            <xs:element name="nonComportaImpianti" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="comportaImpianti" type="suecommon:ComportaImpiantiType"/>
        </xs:choice>
    </xs:complexType>                

    <xs:complexType name="ComportaImpiantiType" >
        <xs:sequence>
            <xs:element name="elettronica" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="elettronici" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="climatizzazione" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="idriciSanitari" minOccurs="0" type="basic:EmptyType"/>    
            <xs:element name="gas" minOccurs="0" type="basic:EmptyType"/>    
            <xs:element name="sollevamento" minOccurs="0" type="basic:EmptyType"/> 
            <xs:element name="antincendio" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="altro" minOccurs="0" type="suecommon:ComportaImpiantiAltroBaseType"/>
        </xs:sequence>    
    </xs:complexType>
    
    <xs:complexType name="ComportaImpiantiAltroBaseType" abstract="true"/>

    <xs:complexType name="ComportaImpiantiAltroType">
        <xs:complexContent>
            <xs:extension base="suecommon:ComportaImpiantiAltroBaseType">
               <xs:sequence>
                    <xs:element name="specifica" type="xs:string"/>
                    <xs:choice>
                        <xs:element name="nonSoggetto" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="soggetto" minOccurs="0">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegaElaborati"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>                                                                                  
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:ConsumiEnergeticiType -->
    <xs:complexType name="ConsumiEnergeticiBaseType" abstract="true"/>

    <xs:complexType name="ConsumiEnergeticiType">
        <xs:complexContent>
            <xs:extension base="suecommon:ConsumiEnergeticiBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonSoggettoRisparmioEnergetico" minOccurs="0" type="basic:EmptyType">
                            <xs:annotation><xs:documentation>non è soggetto al deposito del progetto e della relazione tecnica di cui all’articolo 125 del 
                                d.P.R. n. 380/2001 e del d.lgs. n. 192/2005</xs:documentation></xs:annotation>
                        </xs:element>                        
                        <xs:element name="soggettoRisparmioEnergetico" minOccurs="0">
                            <xs:annotation><xs:documentation>è soggetto al deposito del progetto e della relazione tecnica di cui 
                                all’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n. 192/2005</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoRelazioneTecnica"/>    
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>                         
                    </xs:choice>
                    <xs:choice>
                        <xs:element name="nonSoggettoFontiRinnovabili" minOccurs="0" type="basic:EmptyType">
                            <xs:annotation><xs:documentation>non è soggetto al deposito del progetto e della relazione tecnica di cui all’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n. 192/2005
                                che l’intervento, in relazione agli obblighi in materia di fonti rinnovabili</xs:documentation></xs:annotation>
                        </xs:element>                       
                        <xs:element name="soggettoFontiRinnovabili" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="prescrizioniInRelTecnica" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>il rispetto delle prescrizioni in materia di utilizzo di fonti di energia rinnovabili è indicato negli elaborati progettuali e 
                                            nella relazione tecnica prevista dall’articolo 125 del d.P.R. n. 380/2001 e dal d.lgs. n. 192/2005 in materia di risparmio energetico</xs:documentation></xs:annotation>
                                    </xs:element>
                                    <xs:element name="nonFattibilitaInRelTecnica" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>l’impossibilità tecnica di ottemperare, in tutto o in parte, agli obblighi previsti, è evidenziata nella relazione tecnica 
                                            dovuta ai sensi dell’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n. 192/2005, con l’indicazione della non fattibilità di tutte le 
                                            diverse opzioni tecnologiche disponibili</xs:documentation></xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>                        
                    </xs:choice>
                    <xs:choice minOccurs="0">
                        <xs:element name="ricadeSpessoriDistanze" >
                            <xs:annotation><xs:documentation>ricade nell’articolo 14, comma 6,  del d.lgs. n. 102/2014 in merito al computo degli spessori delle murature, nonché alla deroga alle 
                                distanze minime e alle altezze massime degli edifici</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:annotation><xs:documentation>si certifica nella relazione tecnica una riduzione minima del 20 per cento dell’indice di prestazione energetica previsto 
                                        dal d.lgs. n. 192/2005</xs:documentation></xs:annotation>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="certificaRiduzione20"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ricadeDistanze" >
                            <xs:annotation><xs:documentation>ricade nell’articolo 14, comma 7, del d.lgs. n. 102/2014 in merito alle deroga alle distanze minime e alle altezze 
                                massime degli edifici</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:annotation><xs:documentation>si certifica nella relazione tecnica una riduzione minima del 10 per cento del limite di trasmittanza previsto 
                                        dal d.lgs. n. 192/2005</xs:documentation></xs:annotation>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="certificaRiduzione10"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ricadeBonusVolumetrico" >
                            <xs:annotation><xs:documentation>ricade nell’articolo 12, comma 1, del d.lgs. n. 28/2011 in merito al bonus volumetrico del 5 per cento</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:annotation><xs:documentation>si certifica nella relazione tecnica una copertura dei consumi di calore, di elettricità e per il raffrescamento, 
                                        mediante energia prodotta da fonti rinnovabili, in misura superiore di almeno il 30 per cento rispetto ai valori minimi obbligatori 
                                        di cui all’allegato 3 del d.lgs. n. 28/2011</xs:documentation></xs:annotation>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="certificaCopertura30"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>                                               
                    </xs:choice>                    
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:TutelaInquinamentoAcusticoType -->
    <xs:complexType name="TutelaInquinamentoAcusticoBaseType" abstract="true"/>
    
    <xs:complexType name="TutelaInquinamentoAcusticoType">
        <xs:complexContent>
            <xs:extension base="suecommon:TutelaInquinamentoAcusticoBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonRientraArt8" minOccurs="0" type="basic:EmptyType">
                            <xs:annotation><xs:documentation>non rientra nell’ambito di applicazione dell’articolo 8 della l. n. 447/1995</xs:documentation></xs:annotation>
                        </xs:element>
                        <xs:element name="rientraArt8" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>rientra nell’ambito di applicazione dell’articolo 8 della l. n. 447/1995, integrato con i 
                                contenuti dell’articolo 4 del d.P.R. n. 227/2011</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="documentazioneImpattoAcustico" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>documentazione di impatto acustico  (art. 8, commi 2 e 4, l. n. 447/1995)</xs:documentation></xs:annotation>
                                    </xs:element>
                                    <xs:element name="previsioneClimaAcustico" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>valutazione previsionale di clima acustico (art. 8, comma 3, l. n. 447/1995)</xs:documentation></xs:annotation>
                                    </xs:element>
                                    <xs:element name="dichiarazioneRispettoLimiti" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>dichiarazione sostitutiva dell’atto di notorietà, a firma del titolare, relativa al rispetto 
                                            dei limiti stabiliti dal documento di classificazione acustica del territorio comunale di riferimento 
                                            ovvero, ove questo non sia stato adottato, ai limiti individuati dal d.P.C.M. 14 novembre 1997 
                                            (art. 4, commi 1 e 2, d.P.R. n. 227/2011)</xs:documentation></xs:annotation>
                                    </xs:element>
                                    <xs:element name="documentazioneMisureNullaOsta" minOccurs="0" type="basic:EmptyType">
                                        <xs:annotation><xs:documentation>la documentazione di previsione di impatto acustico con l’indicazione delle misure previste 
                                            per ridurre o eliminare le emissioni sonore, nel caso in cui i valori di emissioni sono superiori a quelli 
                                            della zonizzazione acustica comunale o a quelli individuati dal d.P.C.M. 14 novembre 1997 
                                            (art. 8, comma 6, l. n. 447/1995) ai fini del rilascio del nulla-osta da parte del Comune 
                                            (art. 8, comma 6, l. n. 447/1995)</xs:documentation></xs:annotation>
                                    </xs:element>                                    
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element> 
                    </xs:choice> 
                    <xs:choice>
                        <xs:element name="nonRientra19971205" minOccurs="0" type="basic:EmptyType">
                            <xs:annotation><xs:documentation>non rientra nell’ambito dell’applicazione  del d.P.C.M. 5 dicembre 1997</xs:documentation></xs:annotation>
                        </xs:element>
                        <xs:element name="rientra19971205" minOccurs="0" type="basic:EmptyType">
                            <xs:annotation><xs:documentation>rientra nell’ambito dell’applicazione  del d.P.C.M. 5 dicembre 1997</xs:documentation></xs:annotation>
                        </xs:element> 
                    </xs:choice> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:MaterialiRisultaType -->
    <xs:complexType name="MaterialiRisultaBaseType" abstract="true"/>
    
    <xs:complexType name="MaterialiRisultaType">
        <xs:complexContent>
            <xs:extension base="suecommon:MaterialiRisultaBaseType">
                <xs:sequence>
                    <xs:element name="nonSoggettaNormativa" minOccurs="0" type="basic:EmptyType">
                        <xs:annotation><xs:documentation>non sono soggette alla normativa relativa ai materiali da scavo (art. 41-bis d.l. n. 69 del 2013 e 
                            art. 184-bis d.lgs. n. 152 del 2006)</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="comportaProduzione" minOccurs="0">
                        <xs:annotation><xs:documentation>comportano la produzione di materiali da scavo considerati come sottoprodotti ai sensi dell’articolo 
                            184-bis, comma 1, del d.lgs. n. 152/2006 o dell’articolo 41-bis, comma 1, d.l. n. 69 del 2013 e del d.m. 
                            n. 161/2012</xs:documentation></xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="volInfUgu6000" type="basic:EmptyType">
                                    <xs:annotation>
                                        <xs:documentation>le opere comportano la produzione di materiali da scavo per un volume inferiore o 
                                        uguale a 6000 mc ovvero (pur superando tale soglia) non sono soggette a VIA o AIA
                                        </xs:documentation>
                                    </xs:annotation>                                    
                                </xs:element>
                                <xs:element name="volSup6000" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>le opere comportano la produzione di materiali da scavo per un volume superiore a 6000 mc 
                                        e sono soggette a VIA o AIA, e pertanto, ai sensi dell’art. 184-bis, comma 2-bis del d.lgs. n. 152/2006, 
                                        e del d.m. n. 161/2012  si prevede la presentazione del Piano di Utilizzo.
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="estremiProvvedimento" minOccurs="0" type="aggregate:ProtocolloStandardType">
                                                <xs:annotation>
                                                    <xs:documentation>si comunicano gli estremi del provvedimento di VIA o AIA, comprensivo dell’assenso 
                                                    al Piano di Utilizzo dei materiali da scavo, rilasciato da__________________________con 
                                                    prot. _____________ in data  |__|__|__|__|__|__|__|__
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="produzioneRiutilizzataInLuogo" minOccurs="0" type="basic:EmptyType">
                        <xs:annotation><xs:documentation>comportano la produzione di materiali da scavo che saranno riutilizzati nello stesso luogo di produzione</xs:documentation> </xs:annotation>
                    </xs:element>
                    <xs:element name="soggettaNormativa" minOccurs="0" type="basic:EmptyType">
                        <xs:annotation><xs:documentation>riguardano interventi di demolizione di edifici o altri manufatti preesistenti e producono rifiuti la cui 
                            gestione è disciplinata ai sensi della parte quarta del d.lgs. n. 152/ 2006</xs:documentation></xs:annotation>
                    </xs:element>
                    <xs:element name="produzioneRifiuti" minOccurs="0" type="basic:EmptyType">
                        <xs:annotation><xs:documentation>comportano la produzione di materiali da scavo che saranno gestiti dall’interessato come rifiuti</xs:documentation></xs:annotation>
                    </xs:element>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:PrevenzioneIncendiType -->
    <xs:complexType name="PrevenzioneIncendiType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="nonSoggettoPrevenzioneIncendi" minOccurs="0" type="basic:EmptyType">
                    <xs:annotation><xs:documentation>non è soggetto alle norme di prevenzione incendi</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="soggettoPrevenzioneIncendi" minOccurs="0" type="basic:EmptyType">
                    <xs:annotation><xs:documentation>è soggetto alle norme tecniche di prevenzione incendi e le stesse sono rispettate nel progetto</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="parzialeCoperturaPrevenzioneIncendi" minOccurs="0">
                    <xs:annotation><xs:documentation>presenta caratteristiche tali da non consentire l’integrale osservanza delle regole tecniche di prevenzione incendi</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:annotation><xs:documentation>si allega documentazione necessaria all’ottenimento della deroga</xs:documentation></xs:annotation>
                            <xs:extension base="basic:EmptyType">
                                <xs:attribute type="xs:boolean" name="allegatoDocumentazioneDeroga"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element name="nonSoggettoValutazioneProgetto" minOccurs="0" type="basic:EmptyType">
                    <xs:annotation><xs:documentation>non è soggetto alla valutazione del progetto da parte del Comando Provinciale dei Vigili del Fuoco ai sensi del 
                        d.P.R. n. 151/2011</xs:documentation></xs:annotation>
                </xs:element>                
                <xs:element name="soggettoValutazioneProgetto" minOccurs="0">
                    <xs:annotation><xs:documentation>è soggetto alle norme tecniche di prevenzione incendi e le stesse sono rispettate nel progetto</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:annotation><xs:documentation>si allega la documentazione necessaria alla valutazione del progetto</xs:documentation></xs:annotation>
                            <xs:extension base="basic:EmptyType">
                                <xs:attribute type="xs:boolean" name="allegatoValutazioneProgetto"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="varianteProgetto" minOccurs="0">
                    <xs:annotation><xs:documentation>costituisce variante e il sottoscritto assevera che le modifiche non costituiscono variazione 
                        dei requisiti di sicurezza antincendio già approvati con parere del Comando Provinciale dei Vigili 
                        del fuoco rilasciato con prot. ______________  in data  |__|__|__|__|__|__|__|__|</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parereVigiliDelFuoco" type="aggregate:ProtocolloStandardType"/>
                        </xs:sequence>                      
                    </xs:complexType>
                </xs:element>                 
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- Reference suecommon:AmiantoType -->
    <xs:complexType name="AmiantoType">
        <xs:choice>
            <xs:element name="nonInteressano" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="interessano" minOccurs="0">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="PianodiLavoroAllegato" minOccurs="0" type="basic:AbstractBaseType"/>
                        <xs:element name="PianodiLavoroPrimaInizioLavori" minOccurs="0" type="basic:EmptyType"/>
                    </xs:choice>       
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    

    <!-- Reference suecommon:ConformitaSanitariaType -->
    <xs:complexType name="ConformitaSanitariaBaseType" abstract="true"/>
    
    <xs:complexType name="ConformitaSanitariaType">
        <xs:complexContent>
            <xs:extension base="suecommon:ConformitaSanitariaBaseType">
                <xs:choice>
                    <xs:element name="conforme" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="nonConforme" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoRichiestaDeroga"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>                       
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <!-- Reference suecommon:InterventoZonaSismicaType -->
    <xs:complexType name="InterventoZonaSismicaBaseType" abstract="true"/>
    
    <xs:complexType name="InterventoZonaSismicaType">
        <xs:complexContent>
            <xs:extension base="suecommon:InterventoZonaSismicaBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="nonPrevisteOpere" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="previsteOpere" minOccurs="0">
                            <xs:annotation><xs:documentation>prevede la realizzazione di opere di conglomerato cementizio armato, normale e precompresso ed a 
                                struttura metallica</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:annotation><xs:documentation>si allega la denuncia di cui all’articolo 65 del d.P.R. n. 380/2001</xs:documentation></xs:annotation>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoDenuncia"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>   
                        </xs:element>
                    </xs:choice>
                    <xs:choice>
                        <xs:element name="nonPrevisteOpereNormativaRegionale" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="varianteSostanziale" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="progettoEsecutivo" minOccurs="0" type="aggregate:ProtocolloStandardType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element> 
                        <xs:element name="previsteOpereNormativaRegionale" minOccurs="0">
                            <xs:annotation><xs:documentation>prevede opere in zona sismica da denunciare ai sensi dell’articolo 93 del d.P.R. n. 380/2001 
                                o della corrispondente normativa regionale</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:annotation><xs:documentation>si allega la denuncia di cui all’articolo 65 del d.P.R. n. 380/2001</xs:documentation></xs:annotation>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoDenuncia"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>                            
                        </xs:element> 
                        <xs:element name="previsteOpereStrutturali" minOccurs="0">
                            <xs:annotation><xs:documentation>prevede opere strutturali soggette ad autorizzazione sismica ai sensi dell’articolo 94 del 
                                d.P.R. n. 380/2001 o della corrispondente normativa regional</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:annotation><xs:documentation>si allega la documentazione necessaria per il rilascio dell’autorizzazione sismica</xs:documentation></xs:annotation>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoDocumentazioneAutorizzazione"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>                            
                        </xs:element>                        
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <!-- Reference suecommon:QualitaAmbientaleTerreniType -->
    <xs:complexType name="QualitaAmbientaleTerreniBaseType" abstract="true"/>

    <xs:complexType name="QualitaAmbientaleTerreniType">
        <xs:complexContent>
            <xs:extension base="suecommon:QualitaAmbientaleTerreniBaseType">
                <xs:choice>
                    <xs:element name="nonRichiedeIndagini" type="basic:EmptyType"/>
                    <xs:element name="nonNecessitaBonifica" type="basic:EmptyType"/>
                    <xs:element name="avvenutaBonifica" type="aggregate:AttoBaseType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:OpereUrbanizzazionePrimariaType -->
    <xs:complexType name="OpereUrbanizzazionePrimariaBaseType" abstract="true"/>

    <xs:complexType name="OpereUrbanizzazionePrimariaType">
        <xs:complexContent>
            <xs:extension base="suecommon:OpereUrbanizzazionePrimariaBaseType">
                <xs:choice>
                    <xs:element name="dotata" type="basic:EmptyType"/>
                    <xs:element name="nonDotata" type="xs:date"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:ScarichiIdriciType -->
    <xs:complexType name="ScarichiIdriciBaseType" abstract="true"/>
    
    <xs:complexType name="ScarichiIdriciType">
        <xs:complexContent>
            <xs:extension base="suecommon:ScarichiIdriciBaseType">
                <xs:choice>
                    <xs:element name="nonNecessitaAutorizzazione" type="basic:EmptyType"/>
                    <xs:element name="necessitaAutorizzazioneScarico" type="basic:EmptyType"/>
                    <xs:element name="necessitaAutorizzazione">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="scaricoInPubblicaFognatura">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="allegaDocumentazione" type="basic:EmptyType"/>
                                            <xs:element name="autorizzazioneOttenuta" type="aggregate:ProtocolloStandardType"/>                                       
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="scaricoInAcqueSuperficiali">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="allegaDocumentazione" type="basic:EmptyType"/>
                                            <xs:element name="autorizzazioneOttenuta" type="aggregate:ProtocolloStandardType"/>                                       
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="allaccioInPubblicaFognatura">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="allegaDocumentazione" type="basic:EmptyType"/>
                                            <xs:element name="autorizzazioneOttenuta" type="aggregate:ProtocolloStandardType"/>                                       
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Reference suecommon:AutorizzazionePaesaggisticaType -->    
    <xs:complexType name="AutorizzazionePaesaggisticaType">
        <xs:choice>
            <xs:element name="nonRicadeInZonaTutelata" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="nonSoggettoAutorizzazione" minOccurs="0" type="basic:EmptyType">
                <xs:annotation><xs:documentation>ricade  in zona tutelata, ma le opere non comportano alterazione dei luoghi o dell’aspetto 
                    esteriore degli edifici ovvero non sono soggetti ad autorizzazione ai sensi dell’art. 149, d.lgs. 
                    n. 42/2004 e del d.P.R. n. 31/2017,  allegato A e art. 4</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="ricadeInZonaTutelata" minOccurs="0">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="procedimentoSemplificato">
                            <xs:annotation><xs:documentation>è assoggettato al procedimento semplificato di autorizzazione paesaggistica, in quanto di lieve 
                                entità, secondo quanto previsto dal d.P.R. n. 31/2017</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:annotation><xs:documentation>si allega la relazione paesaggistica semplificata e la documentazione necessaria ai fini 
                                    del rilascio dell’autorizzazione paesaggistica semplificata</xs:documentation></xs:annotation>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoRelazionePaesaggisticaSemplificata"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>  
                        </xs:element>
                        <xs:element name="procedimentoOrdinario">
                            <xs:annotation><xs:documentation>è assoggettato al procedimento ordinario di autorizzazione paesaggistica</xs:documentation></xs:annotation>
                            <xs:complexType>
                                <xs:annotation><xs:documentation>si allega la relazione paesaggistica e la documentazione necessaria ai fini 
                                    del rilascio dell’autorizzazione paesaggistica</xs:documentation></xs:annotation>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoRelazionePaesaggistica"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>  
                        </xs:element>                                
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>   

    <!-- Reference suecommon:AutorizzazioneSoprintendenzaType -->
    <xs:complexType name="AutorizzazioneSoprintendenzaType">
        <xs:choice>
            <xs:element name="nonSottopostoTutela" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="sottopostoTutela" minOccurs="0">
                <xs:complexType>
                    <xs:annotation><xs:documentation>si allega la documentazione necessaria ai fini del rilascio del parere/nulla osta</xs:documentation></xs:annotation>
                    <xs:complexContent>
                        <xs:extension base="basic:EmptyType">
                            <xs:attribute type="xs:boolean" name="allegatoRilascioParere"/>
                        </xs:extension>
                    </xs:complexContent>                   
                </xs:complexType>                
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Reference suecommon:AreaProtettaType -->
    <xs:complexType name="AreaProtettaBaseType" abstract="true"/>
    
    <xs:complexType name="AreaProtettaType">
        <xs:complexContent>
            <xs:extension base="suecommon:AreaProtettaBaseType">
                <xs:choice>
                    <xs:element name="nonRicadeTutela" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="ricadeTutela" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="sottopostoDisposizioni" minOccurs="0">
                        <xs:annotation><xs:documentation>è sottoposto alle relative disposizioni</xs:documentation></xs:annotation>
                        <xs:complexType>
                            <xs:annotation><xs:documentation>si allega la documentazione necessaria ai fini del rilascio del parere/nulla osta </xs:documentation></xs:annotation>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoRilascioParere"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>  
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:VincoloIdrogeologicoType -->
    <xs:complexType name="VincoloIdrogeologicoBaseType" abstract="true"/>
    
    <xs:complexType name="VincoloIdrogeologicoType">
        <xs:complexContent>
            <xs:extension base="suecommon:VincoloIdrogeologicoBaseType">
                <xs:choice>
                    <xs:element name="nonSottopostoTutela" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="tutelaSenzaAutorizzazione" minOccurs="0" type="basic:EmptyType"/>                   
                    <xs:element name="sottopostoTutela" minOccurs="0">
                        <xs:complexType>
                            <xs:annotation><xs:documentation>si allega la documentazione necessaria ai fini del rilascio dell’autorizzazione</xs:documentation></xs:annotation>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoDocumentazione"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>                                             
                    </xs:element>                   
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:VincoloIdraulicoType -->
    <xs:complexType name="VincoloIdraulicoBaseType" abstract="true"/>
    
    <xs:complexType name="VincoloIdraulicoType">
        <xs:complexContent>
            <xs:extension base="suecommon:VincoloIdraulicoBaseType">
                <xs:choice>
                    <xs:element name="nonSottopostoTutela" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="sottopostoTutela" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoDocumentazione"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>                                             
                    </xs:element>                   
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:Natura2000Type -->
    <xs:complexType name="Natura2000BaseType" abstract="true"/>
    
    <xs:complexType name="Natura2000Type">
        <xs:complexContent>
            <xs:extension base="suecommon:Natura2000BaseType">
                <xs:choice>
                    <xs:element name="nonSoggettoVINCA" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="soggettoVINCA" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoDocumentazione"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>                                             
                    </xs:element>                   
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:RispettoCimiterialeType -->
    <xs:complexType name="RispettoCimiterialeBaseType" abstract="true"/>
    
    <xs:complexType name="RispettoCimiterialeType">
        <xs:complexContent>
            <xs:extension base="suecommon:RispettoCimiterialeBaseType">
                <xs:choice>
                    <xs:element name="nonRicade" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="ricadeConsentito" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="ricadeNonConsentito" minOccurs="0">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="basic:EmptyType">
                                    <xs:attribute type="xs:boolean" name="allegatoDeroga"/>
                                </xs:extension>
                            </xs:complexContent>                   
                        </xs:complexType>                                             
                    </xs:element>                   
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:RischioRilevanteType -->
    <xs:complexType name="RischioRilevanteType">
        <xs:choice>
            <xs:element name="assenzaAttivita" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="presenzaAttivitaAreaDanno">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="nonRicadeAreaDanno" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="ricadeAreaDanno" minOccurs="0">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="basic:EmptyType">
                                        <xs:attribute type="xs:boolean" name="allegatoValutazioneProgetto"/>
                                    </xs:extension>
                                </xs:complexContent>                   
                            </xs:complexType>    
                        </xs:element>
                    </xs:choice>
                </xs:complexType>              
            </xs:element>
            <xs:element name="presenzaAttivitaNoAreaDanno" minOccurs="0">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="basic:EmptyType">
                            <xs:attribute type="xs:boolean" name="allegatoValutazioneProgetto"/>
                        </xs:extension>
                    </xs:complexContent>                   
                </xs:complexType>              
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Reference suecommon:TutelaEcologicaType -->
    <xs:complexType name="TutelaEcologicaBaseType" abstract="true"/>
    
    <xs:complexType name="TutelaEcologicaType">
        <xs:complexContent>
            <xs:extension base="suecommon:TutelaEcologicaBaseType">
                <xs:sequence>
                    <xs:element name="fasciaRispettoDepuratori" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="fasciaRispettoPozzi" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="altro" minOccurs="0" type="xs:string"/>
                    <xs:element name="allegatiPerVincoli">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="autocertificazioniConformita" minOccurs="0" type="basic:EmptyType"/>
                                <xs:element name="documentazioneAttiDiAssenso" minOccurs="0" type="basic:EmptyType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:EfficienzaInfrastruttureType -->
    <xs:complexType name="EfficienzaInfrastruttureBaseType" abstract="true"/>
    
    <xs:complexType name="EfficienzaInfrastruttureType">
        <xs:complexContent>
            <xs:extension base="suecommon:EfficienzaInfrastruttureBaseType">
                <xs:sequence>
                    <xs:element name="stradale" minOccurs="0" type="xs:string"/>
                    <xs:element name="ferroviario" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="elettrodotto" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="gasdotto" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="militare" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="aeroportuale" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="altro" minOccurs="0" type="xs:string"/>
                    <xs:element name="allegatiPerVincoli">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="autocertificazioniConformita" minOccurs="0" type="basic:EmptyType"/>
                                <xs:element name="documentazioneAttiDiAssenso" minOccurs="0" type="basic:EmptyType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:RelazioneTecnicaAsseverazioneType -->
    <xs:complexType name="RelazioneTecnicaAsseverazioneType">
        <xs:sequence>
            <xs:element name="tipoInterventiOpere" type="suecommon:TipoInterventiOpereBaseType"/>
            <xs:element name="datiGeometrici" type="suecommon:DatiGeometriciBaseType"/>
            <xs:element name="strumentazioneUrbanistica" type="suecommon:StrumentazioneUrbanisticaBaseType"/>
            <xs:element name="barriereArchitettoniche" type="suecommon:BarriereArchitettonicheType"/>
            <xs:element name="sicurezzaImpianti" type="suecommon:SicurezzaImpiantiType"/>
            <xs:element name="consumiEnergetici" type="suecommon:ConsumiEnergeticiBaseType"/>
            <xs:element name="tutelaInquinamentoAcustico" type="suecommon:TutelaInquinamentoAcusticoBaseType"/>            
            <xs:element name="materialiRisulta" type="suecommon:MaterialiRisultaBaseType"/>           
            <xs:element name="prevenzioneIncendi" type="suecommon:PrevenzioneIncendiType"/>
            <xs:element name="amianto" type="suecommon:AmiantoType"/>
            <xs:element name="conformitaSanitaria" type="suecommon:ConformitaSanitariaBaseType"/>
            <xs:element name="interventoZonaSismica" type="suecommon:InterventoZonaSismicaBaseType"/> 
            <xs:element name="qualitaAmbientaleTerreni" type="suecommon:QualitaAmbientaleTerreniBaseType" minOccurs="0"/> 
            <xs:element name="opereUrbanizzazionePrimaria" type="suecommon:OpereUrbanizzazionePrimariaBaseType" minOccurs="0"/> 
            <xs:element name="scarichiIdrici" type="suecommon:ScarichiIdriciBaseType" minOccurs="0"/> 
            <xs:element name="autorizzazionePaesaggistica" type="suecommon:AutorizzazionePaesaggisticaType"/> 
            <xs:element name="autorizzazioneSoprintendenza" type="suecommon:AutorizzazioneSoprintendenzaType"/> 
            <xs:element name="areaProtetta" type="suecommon:AreaProtettaBaseType"/>   
            <xs:element name="vincoloIdrogeologico" type="suecommon:VincoloIdrogeologicoBaseType"/>            
            <xs:element name="vincoloIdraulico" type="suecommon:VincoloIdraulicoBaseType"/>            
            <xs:element name="natura2000" type="suecommon:Natura2000BaseType"/>
            <xs:element name="rispettoCimiteriale" type="suecommon:RispettoCimiterialeBaseType"/>            
            <xs:element name="rischioRilevante" type="suecommon:RischioRilevanteType"/>
            <xs:element name="tutelaEcologica" type="suecommon:TutelaEcologicaBaseType"/>
            <xs:element name="efficienzaInfrastrutture" type="suecommon:EfficienzaInfrastruttureBaseType"/>
            <xs:element name="note" type="xs:string"/> 
        </xs:sequence>
    </xs:complexType>

    

    <!-- Reference suecommon:ComunicazioniSegnalazioniType -->
    <xs:complexType name="ComunicazioniSegnalazioniBaseType" abstract="true"/>
    
    <xs:complexType name="ComunicazioniSegnalazioniType">
        <xs:complexContent>
            <xs:extension base="suecommon:ComunicazioniSegnalazioniBaseType">
                <xs:sequence>
                    <xs:element name="comunicazioni" minOccurs="0"  type="xs:string"/>
                    <xs:element name="autoritaCompetente" minOccurs="0"  type="xs:string"/>
                </xs:sequence>        
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference suecommon:AttiAssensoType -->
    <xs:complexType name="AttiAssensoType">
        <xs:sequence>
            <xs:element name="tipoAtto" minOccurs="0"  type="xs:string"/>
            <xs:element name="autoritaCompetente" minOccurs="0" type="xs:string"/>
        </xs:sequence>        
    </xs:complexType>

    <!-- Reference suecommon:CalcoloContributoBaseType -->
    <xs:complexType name="CalcoloContributoBaseType" abstract="true"/>

   
    <!-- TYPE ALLEGATI --> 
    <xs:complexType name="AllegatoSoggettiCoinvoltiType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Soggetti Coinvolti</ccts:Definition>
            </xs:documentation>
        </xs:annotation>       
        <xs:sequence>
            <xs:element name="Titolari"  minOccurs="0" maxOccurs="unbounded" type="suecommon:TitolareType">
                <xs:annotation>
                    <xs:documentation xml:lang="it">
                        Compilare solo in caso di più di un Titolare, seziona ripetibile
                    </xs:documentation>
                </xs:annotation>
            </xs:element> 
            <xs:element name="TecniciIncaricati" type="suecommon:TecniciIncaricatiType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="it">Compilare obbligatoriamente</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ImpreseEsecutrici" minOccurs="0" maxOccurs="unbounded" type="suecommon:ImpreseEsecutriciType">
                <xs:annotation>
                    <xs:documentation xml:lang="it">Compilare in caso di affidamento dei lavori ad una o più imprese – sezione ripetibile</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    
    
    
    <xs:complexType name="AllegatoAltreComunicazioniType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione necessaria per la presentazione di altre comunicazioni, segnalazioni (specificare)</ccts:Definition>
            </xs:documentation>
        </xs:annotation>
         <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoRilascioAttiAssensoType">
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione necessaria per il rilascio di atti di assenso obbligatori ai sensi delle normative di settore (specificare)</ccts:Definition>
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>	
    
    
    <xs:complexType name="AllegatoConformitaVincoliEcologicaType">
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Autocertificazione relativa alla conformità dell’intervento per altri vincoli di tutela ecologica (specificare i vincoli in oggetto)</ccts:Definition>
                <ccts:UsageRule>(ad es. se l’intervento ricade nella fascia di rispetto dei depuratori)</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation> 
            <xs:complexContent>
                <xs:extension base="moduli:AllegatoBaseType">
                    <xs:sequence>
                        <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
    </xs:complexType>	
    
    <xs:complexType name="AllegatoAssensoTutelaEcologicaType">
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione necessaria ai fini del rilascio degli atti di assenso relativi ad altri vincoli di tutela ecologica (specificare i vincoli in oggetto)</ccts:Definition>
                <ccts:UsageRule>(ad es. se l’intervento ricade nella fascia di rispetto dei depuratori)</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>       
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoBaseType">
                <xs:sequence>
                    <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoConformitaVincoliFunzionaleType">
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Autocertificazione relativa alla conformità dell’intervento per altri vincoli di tutela funzionale (specificare i vincoli in oggetto)</ccts:Definition>
                <ccts:UsageRule>ad es. se l’intervento ricade nella fascia di rispetto stradale, ferroviario, di elettrodotto, gasdotto, militare, etc...)</ccts:UsageRule>
            </xs:documentation>  
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoBaseType">
                <xs:sequence>
                    <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:complexType name="AllegatoAssensoTutelaFunzionaleType">
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione necessaria ai fini del rilascio degli atti di assenso relativi ai vincoli di tutela funzionale (specificare i vincoli in oggetto)</ccts:Definition>
                <ccts:UsageRule>(ad es. se l’intervento ricade nella fascia di rispetto stradale, ferroviario, di elettrodotto, gasdotto, militare, ecc.)</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>       
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoBaseType">
                <xs:sequence>
                    <xs:element name="specifica" minOccurs="0" type="xs:string"/>                        
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
   
    <!-- END TYPE ALLEGATI --> 

    <xs:complexType name="TitolareType">
            <xs:complexContent>
                <xs:extension base="aggregate:PersonaAnagraficaType">
                    <xs:sequence>
                        <xs:element name="inQualitaDi" type="xs:string" minOccurs="0"/>
                        <xs:element name="impresa" type="aggregate:ImpresaAnagraficaType" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
    </xs:complexType>

    
    
   
  
</xs:schema>