Moduli_PA/SUE/SUE_modulo_permesso_costruire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:permcostr="http://www.agid.gov.it/MODULI_PA/SUE/modulo_permesso_costruire"
    xmlns:suecommon="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUE/modulo_permesso_costruire"
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.1.0">
    
    
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUE/sue_common_components" schemaLocation="SUE_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloPermessoCostruire" type="permcostr:ModuloPermessoCostruireType" />
    
    <xs:complexType name="ModuloPermessoCostruireType">
        <xs:annotation>
            <xs:documentation>
                RICHIESTA DI PERMESSO DI COSTRUIRE
                (art. 20, d.P.R. 6 giugno 2001, n. 380 – artt. 7, d.P.R. 7 settembre 2010, n. 160)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            
            <!-- SOGGETTI -->
            <xs:element name="schedaTitolare" type="aggregate:PersonaAnagraficaType">
                <xs:annotation>
                    <xs:documentation>
                        schedaTitolare: in caso di più titolari, la sezione è ripetibile nell’allegato “SOGGETTI COINVOLTI”
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="schedaDitta" type="suecommon:SchedaDittaType"/>
            <xs:element name="schedaDelegato" type="aggregate:PersonaAnagraficaType"/>
            
            <!-- DICHIARAZIONI -->
            <xs:element name="qualificazioneIntervento" type="suecommon:QualificazioneInterventoBaseType"/>            
            <xs:element name="titoloPossesso" type="suecommon:TitoloPossessoType"/>
            <xs:element name="localizzazioneIntervento" type="suecommon:LocalizzazioneInterventoType"/>
            <xs:element name="operePreviste" type="suecommon:OperePrevisteType"/>           
            <xs:element name="regolaritaUrbanistica" type="suecommon:RegolaritaUrbanisticaBaseType"/>
            <xs:element name="calcoloContributoCostruzione" type="suecommon:CalcoloContributoBaseType"/>
            <xs:element name="tecniciIncaricati" type="permcostr:TecniciIncaricatiDeiLavoriType"/>
            <xs:element name="impreseEsecutrici" type="permcostr:ImpreseEsecutriciDeiLavoriType"/>           
            <xs:element name="obblighiSaluteSicurezza" type="permcostr:ObblighiSaluteSicurezzaType"/>
            
            <!-- RELAZIONE TECNICA DI ASSEVERAZIONE -->
            <xs:element ref="suecommon:relazioneTecnicaAsseverazione"/>
            
            <!-- ALLEGATI  -->
            <xs:element name="tabellaAllegati" type="permcostr:TabellaAllegatiType"/>
            
        </xs:sequence>
    </xs:complexType>
    
    <!-- BASE TYPE -->
    <!-- Reference permcostr:QualificazioneInterventoType -->
    <xs:complexType name="QualificazioneInterventoType">
        <xs:complexContent>
            <xs:extension base="suecommon:QualificazioneInterventoBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="articolo10" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="assoggettatoSCIA" minOccurs="0" type="xs:string"/>
                        <xs:element name="conformeDisciplinaUrbanistica" minOccurs="0" type="basic:EmptyType"/>
                        <xs:element name="derogaPianificazioneUrbanistica" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="densitaEdilizia" minOccurs="0" type="xs:string"/>
                                    <xs:element name="altezza" minOccurs="0" type="xs:string"/>
                                    <xs:element name="distanzaFabbricati" minOccurs="0" type="xs:string"/>
                                    <xs:element name="destinazioneDUso" minOccurs="0" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="variazioneSostanziale">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="titoloUnico" type="aggregate:AttoBaseType"/>
                                        <xs:element name="permessoCostruire" type="aggregate:AttoBaseType"/>
                                        <xs:element name="segnalazioneCertificata" type="aggregate:AttoBaseType"/>
                                     </xs:choice>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:element name="procedimentoOrdinario" type="basic:EmptyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 

    <!-- Reference permcostr:RegolaritaUrbanisticaType -->
    <xs:complexType name="RegolaritaUrbanisticaType">
        <xs:complexContent>
            <xs:extension base="suecommon:RegolaritaUrbanisticaBaseType">
                <xs:choice>
                    <xs:group ref="suecommon:RegolaritaUrbanisticaOptionGroup"/>
                    <xs:element name="nuovaCostruzione" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="praticheStessoImmobile">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="specifica" type="xs:string"/>
                                <xs:element name="pratica" type="aggregate:AttoBaseType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>        
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Reference permcostr:CalcoloContributoBaseType -->
    <xs:complexType name="CalcoloContributoType">
        <xs:complexContent>
            <xs:extension base="suecommon:CalcoloContributoBaseType">
            <xs:choice>
                <xs:element name="titoloGratuito" minOccurs="0" type="xs:string"/>
                <xs:element name="titoloOneroso" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="calcoloSportello" minOccurs="0" type="basic:EmptyType"/>
                                <xs:element name="calcoloPreventivo" minOccurs="0" type="basic:EmptyType"/>                                                    
                            </xs:choice>
                            <xs:element name="versamento" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="momentoRitiro" minOccurs="0" type="basic:EmptyType"/>
                                        <xs:element name="chiedeRateizzazione" minOccurs="0">   
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="corrispondeInCorso" minOccurs="0" type="basic:EmptyType"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>                              
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="oneriUrbanizzazione" minOccurs="0" type="basic:EmptyType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
    
    <!-- Reference permcostr:ObblighiSaluteSicurezzaType -->
    <xs:complexType name="ObblighiSaluteSicurezzaType">
        <xs:choice>
            <xs:element name="nonRicade" type="basic:EmptyType"/>
            <xs:element name="ricade" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="suecommon:ObblighiSaluteSicurezzaEntitaCantiereGroup"/>
                        <xs:choice>
                            <xs:element name="noNotifica" minOccurs="0" type="basic:EmptyType"/>
                            <xs:element name="notifica" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="allega" minOccurs="0" type="basic:AbstractBaseType"/> 
                                        <xs:element name="invioPrimaInizioLavori" minOccurs="0" type="basic:EmptyType"/> 
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ricadeRiservaPresentaPrimaInizioLavori" type="basic:AbstractBaseType"/>
        </xs:choice>        
    </xs:complexType>
                
    <!-- Reference permcostr:TipoInterventiOpere -->
    <xs:complexType name="TipoInterventiOpere">
        <xs:complexContent>
            <xs:extension base="suecommon:TipoInterventiOpereBaseType">
                <xs:sequence>
                    <xs:element name="nuovaCostruzione" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="manufattiEdilizi" type="basic:EmptyType"/>
                                <xs:element name="urbanizzazione" type="basic:EmptyType"/>
                                <xs:element name="impianti" type="basic:EmptyType"/>
                                <xs:element name="tralicci" type="basic:EmptyType"/>
                                <xs:element name="manufattiLeggeri" type="basic:EmptyType"/>
                                <xs:element name="nuovaCostruzionePregioAmbientale" type="basic:EmptyType"/>
                                <xs:element name="depositi" type="basic:EmptyType"/>
                                <xs:element name="trasformazioneUrbanistica" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>                    
                    <xs:element name="ristrutturazioneUrbanistica" minOccurs="0" type="basic:EmptyType"/>                                    
                    <xs:element name="ristrutturazioneEdilizia" minOccurs="0" type="basic:EmptyType"/>    
                    <xs:element name="assoggettatiSCIA" minOccurs="0" type="xs:string"/>
                    <xs:element name="variantiEssenziali" minOccurs="0" type="basic:EmptyType"/>                    
                    <xs:element name="variantiCentroStorico" minOccurs="0" type="basic:EmptyType"/> 
                    <xs:element name="mutamentoDestinazioneDUso" minOccurs="0" type="basic:EmptyType"/>                     
                    <xs:element name="assenzaDifformitaPermessoCostruire" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="dettagliOpere" minOccurs="0" type="xs:string"/>
                </xs:sequence>        
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
    
    <!-- Reference suecommon:TecniciIncaricatiDeiLavoriType -->  
    <xs:complexType name="TecniciIncaricatiDeiLavoriType">
        <xs:sequence>
            <xs:element name="altriTecniciDaSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="altriTecniciIndividuatiPrimaInizioLavori" minOccurs="0"  type="basic:EmptyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Reference impl of suecommon:ImpreseEsecutriciDeiLavoriBaseType -->  
    <xs:complexType name="ImpreseEsecutriciDeiLavoriType">
        <xs:complexContent>
            <xs:extension base="suecommon:ImpreseEsecutriciDeiLavoriBaseType">
                <xs:choice>
                    <xs:element name="daSoggettiCoinvolti" minOccurs="0" type="basic:EmptyType"/>
                    <xs:element name="primaInizioLavori" type="basic:EmptyType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Reference permcostr:AllegatiPermessoCostruireType -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiPermessoCostruire" type="permcostr:AllegatiPermessoCostruireType"/>
        </xs:sequence>
    </xs:complexType>
    
    
    
    <xs:complexType name="AllegatiPermessoCostruireType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSoggettiCoinvolti" type="suecommon:SoggettiCoinvoltiType"/>
            <xs:element name="allegatoVersamentoDirittiSegreteria" type="moduli:AllegatoType" />
            <xs:element name="allegatoDocumentoIdentita" type="moduli:AllegatoType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="allegatoAssensoTerzi" type="moduli:AllegatoType" minOccurs="0" />
            <xs:element name="allegatoModelloISTAT"   type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDeterminazioneContributoCostruzione"   type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoPreventivoContributoCostruzione" type="moduli:AllegatoType" minOccurs="0" />              
            <xs:element name="allegatoProgettoUrbanizzazione" type="moduli:AllegatoType" minOccurs="0" />              
            <xs:element name="allegatoNotificaPreliminare" type="moduli:AllegatoType" minOccurs="0" /> 
            <xs:element name="allegatoVersamentoImpostaBollo" type="moduli:AllegatoType" /> 
            <xs:element name="allegatoElaboratiGraficiStatoDiFatto" type="moduli:AllegatoType" />
            <xs:element name="allegatoDocumentazioneFotograficaStatoDiFatto" type="moduli:AllegatoBaseType" />
            <xs:element name="allegatoElaboratiSuperamentoBarriereArchitettoniche" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDerogaBarriereArchitettoniche" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoProgettoImpianti" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRelazioneConsumiEnergetici" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocImpattoAcustico" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoValitazionePrevisionaleClimaAcustico" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDichiarazioneSostitutiva" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocImpattoAcusticoPerNullaOsta" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocRilascioParereVigiliFuoco" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDerogaPrevenzioneIncendi" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoPianoDemolizioneAmianto" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDerogaConformitaRequisitiIgienicoSanitari" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDenunciaLavori" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDenunciaLavoriZonaSismica" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneSismica" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRelazioneGeologica" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRisultatiQualitaTerreni" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioniScarichiIdrici" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRelazionePaesaggistica" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRilascioParereSoprintendenza" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRilascioNullaOstaAreaProtetta" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRilascioAutorizzazioneVincoloIdrogeologico" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoRilascioAutorizzazioneVincoloIdraulico" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoApprovazioneProgettoVINCA" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDerogaFasciaRispettoCimiteriale" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoValutazioneComitatoTecnicoRegionaleIncidenteRilevante" type="moduli:AllegatoType" minOccurs="0"/>
            
            <xs:element name="allegatoConformitaVincoliEcologica" type="suecommon:AllegatoConformitaVincoliEcologicaType" minOccurs="0"/>
            <xs:element name="allegatoAssensoTutelaEcologica" type="suecommon:AllegatoAssensoTutelaEcologicaType" minOccurs="0"/>
            <xs:element name="allegatoConformitaVincoliFunzionale" type="suecommon:AllegatoConformitaVincoliFunzionaleType" minOccurs="0"/>
            <xs:element name="allegatoAssensoTutelaFunzionale" type="suecommon:AllegatoAssensoTutelaFunzionaleType" minOccurs="0"/>
            
            <xs:element name="allegatoAttestazioneVersamentoOneriDiritti" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
</xs:schema>