Moduli_PA/SUAP/SUAP_common_components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"    
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:ccts="urn:un:unece:uncefact:documentation:2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">


    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="SchedaAnagraficaSUAPType">
        <xs:annotation>
            <xs:documentation>Scheda anagrafica riportante i dati del dichiarante, comune a tutti i moduli SUAP</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="datiDichiarante" type="suapcommon:DichiaranteType"/>
            <xs:element name="datiImpresa" type="suapcommon:ImpresaType"/>
            <xs:element name="datiProcuratore" type="suapcommon:ProcuratoreType" minOccurs="0"/>           
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiaranteType">
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaType">
                <xs:sequence> 
                    <xs:element name="inQualita" minOccurs="1">
                        <xs:complexType> 
                            <xs:choice>
                                <xs:element name="titolare" type="basic:EmptyType" minOccurs="0"/>
                                <xs:element name="legaleRappresentante" type="basic:EmptyType"  minOccurs="0"/>
                                <xs:element name="altro" type="xs:string"  minOccurs="0"/>
                            </xs:choice> 
                        </xs:complexType>
                    </xs:element>
                    </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ProcuratoreType">
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaType">
                <xs:sequence> 
                    <xs:element name="tipoProcura" minOccurs="1">
                        <xs:complexType> 
                            <xs:sequence> 
                                <xs:choice>
                                    <xs:element name="ProcuraDelega" type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="AgenziaImprese"   minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                              <xs:element name="denominazione" type="xs:string"  minOccurs="1"/>
                                          </xs:sequence>  
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ImpresaType">
        <xs:complexContent>
            <xs:extension base="aggregate:ImpresaAnagraficaType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IndirizzoContattiFoniaAttivitaType">
        <xs:sequence>
            <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
            <xs:element name="contatto" type="aggregate:ContattiFoniaType"/>
        </xs:sequence>    
    </xs:complexType>
       
    <xs:complexType name="IntegrazioneAnagraficaType">
        <xs:sequence>
            <xs:element name="indirizzoAttivita" type="suapcommon:IndirizzoContattiFoniaAttivitaType" />
            <xs:element name="datiCatastali" type="moduli:DatiCatastaliBaseType"/>
        </xs:sequence>        
    </xs:complexType>
  
    <xs:complexType name="InCentroCommercialeBaseType" abstract="true"/>   
    <xs:complexType name="InCentroCommercialeType">
        <xs:complexContent>
            <xs:extension base="suapcommon:InCentroCommercialeBaseType">
                <xs:choice>
                    <xs:element name="si"  minOccurs="0" maxOccurs="1" >
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="denominazione" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="no" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciSuperficieBaseType" abstract="true" />
    <xs:complexType name="SettoriMerceologiciSuperficieType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SettoriMerceologiciSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="alimentare" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="nonAlimentare" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="VariazioneSettoriMerceologiciSuperficieType" >
        <xs:sequence>
            <xs:element name="alimentare" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:decimal"/>
                        <xs:element name="a" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nonAlimentare" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:decimal"/>
                        <xs:element name="a" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciBaseType" abstract="true"/>   
    <xs:complexType name="SettoriMerceologiciType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SettoriMerceologiciBaseType">
                <xs:sequence>
                    <xs:element name="alimentare"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nonAlimentare"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="OccupazioneSuperficiType">
        <xs:sequence>
            <xs:element name="nonAlimentari" type="suapcommon:OccupazioniMerciIngombrantiNonAlimentariBaseType" />
            <xs:element name="tabelleSpeciali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="generiMonopolio" minOccurs="0" type="xs:decimal"/>
                        <xs:element name="farmacie" minOccurs="0" type="xs:decimal"/>
                        <xs:element name="carburanti" minOccurs="0" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>        
    </xs:complexType>
        
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariBaseType" abstract="true"/>
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariType">
        <xs:complexContent>
            <xs:extension base="suapcommon:OccupazioniMerciIngombrantiNonAlimentariBaseType">
                <xs:sequence>
                    <xs:element name="merciIngombranti" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:complexType name="VariazioneOccupazioneSuperficiBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="tabelleSpeciali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="generiMonopolio" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="farmacie" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>                            
                        </xs:element>
                        <xs:element name="carburanti" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>        
    </xs:complexType>
       
    <xs:complexType name="VariazioneOccupazioneSuperficiType">
        <xs:complexContent>
            <xs:extension base="suapcommon:VariazioneOccupazioneSuperficiBaseType">
                <xs:sequence>
                    <xs:element name="merciIngombranti">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="nonAlimentari" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="da" type="xs:decimal"/>
                                            <xs:element name="a" type="xs:decimal"/>
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>                                
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="SuperficieEsercizioBaseType" abstract="true"/>
    <xs:complexType name="SuperficieEsercizioType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SuperficieEsercizioBaseType">
                <xs:sequence>
                    <xs:element name="mq" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ModalitaVenditaSuperficieBaseType" abstract="true" />
    <xs:complexType name="ModalitaVenditaSuperficieType">
        <xs:complexContent>
            <xs:extension base="suapcommon:ModalitaVenditaSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="dettaglio" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="dettaglioIngrosso" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    
    
    <xs:complexType name="ModalitaVenditaType">
        <xs:sequence>
            <xs:element name="dettaglio"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dettaglioIngrosso"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TrasferimentoDaAType">
        <xs:sequence>
            <xs:element name="da">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
                        <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="a">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indirizzo" type="suapcommon:IndirizzoContattiFoniaAttivitaType"/>
                        <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AmpliamentoSuperficieVenditaType">
        <xs:sequence>
            <xs:element name="DaMq" type="xs:decimal"/>
            <xs:element name="AMq" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SuperficieDaABaseType" abstract="true"/>
    <xs:complexType name="SuperficieDaAType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SuperficieDaABaseType">
                <xs:sequence>
                    <xs:element name="DaMq" type="xs:decimal"/>
                    <xs:element name="AMq" type="xs:decimal"/>                                 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>                
    </xs:complexType> 
    
    <xs:complexType name="RequisitiAntimafiaType">
        <xs:sequence>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   
    
    
    <xs:complexType name="CarattereStagionaleBaseType" abstract="true"/>
    <xs:complexType name="CarattereStagionaleType">
        <xs:complexContent>
            <xs:extension base="suapcommon:CarattereStagionaleBaseType">
                <xs:sequence>
                    <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded" type="aggregate:PeriodoStagionaleType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CarattereTemporaneoBaseType" abstract="true"/>
    <xs:complexType name="CarattereTemporaneoType">
        <xs:complexContent>
            <xs:extension base="suapcommon:CarattereTemporaneoBaseType">
                <xs:sequence>
                    <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded" type="aggregate:PeriodoType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence><!-- scelta multipla -->
            <xs:element name="CaratterePermanente"  minOccurs="0" maxOccurs="1" />
            <xs:element name="CarattereStagionale" type="suapcommon:CarattereStagionaleBaseType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="dichiaranteRequisitiProfessionali" type="suapcommon:DichiaranteRequisitiProfessionaliType"/>
                <xs:element name="allegatoPrepostoRequisitiProfessionali" type="suapcommon:AllegatoPrepostoRequisitiProfessionaliType"/>
            </xs:choice>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiaranteRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="corsoProfessionale" type="aggregate:IstitutoType"/>
            <xs:element name="esercitatoInProprio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attivita" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="tipo" type="xs:string"/>
                                    <xs:element name="dal" type="xs:date"/>
                                    <xs:element name="al" type="xs:date"/>
                                </xs:sequence>              
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="prestatoOpera">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="impresa">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nome" type="xs:string"/>
                                    <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:choice>
                            <xs:element name="ruolo" type="suapcommon:RuoloInImpresaType"/>
                            <xs:element name="altroRuolo" type="xs:string"/>
                        </xs:choice>
                        <xs:element name="iscrittoINPS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:date"/>
                                    <xs:element name="a" type="xs:date"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>             
            </xs:element>
            <xs:element name="titoloStudio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="xs:string"/>
                        <xs:element name="annoConclusione" type="xs:integer"/>
                        <xs:element name="materiaAttinente" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="possessoRequisitoPraticaProfessionale">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="iscrittoREASettoreAlimentare">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="anno" type="xs:integer"/>
                                    <xs:element name="CCIAA" type="enumeration:CCIAAEnum"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="esameIdoneitaREA">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="anno" type="xs:integer"/>
                                    <xs:element name="presso" type="xs:string"/>                                    
                                </xs:sequence>
                                <xs:attribute name="sezioneSpecialeTurismo" type="xs:boolean" default="false"/>
                            </xs:complexType>
                        </xs:element>
                        
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:choice>        
    </xs:complexType>
    
    <xs:complexType name="ModalitaGestioneType">
        <xs:sequence>
            <xs:element name="GestioneDiretta" type="basic:EmptyType"/>
            <xs:element name="GestioneATerzi" type="basic:EmptyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TipologiaAttivitaSomministrazioneBaseType" abstract="true"/>
    <xs:complexType name="TipologiaAttivitaSomministrazioneType">
        <xs:complexContent>
            <xs:extension base="suapcommon:TipologiaAttivitaSomministrazioneBaseType">
                <xs:sequence>
                    <xs:element name="ristorazione" type="basic:EmptyType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                a) esercizi di ristorazione;
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="somministrazioneBevande" type="basic:EmptyType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                b) esercizi per la somministrazione di bevande;
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>     
                    <xs:element name="somministrazioneCongiuntaIntrattetimento" type="basic:EmptyType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                c) esercizi di cui alle lettere a) e b), in cui la somministrazione di alimenti e di bevande viene effettuata congiuntamente ad attività di intrattenimento e svago;
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="somministrazioneEsclusiAlcolici" type="basic:EmptyType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                d) esercizi di cui alla lettera b), nei quali è esclusa la somministrazione di bevande alcoliche di qualsiasi gradazione;
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
  
    <xs:complexType name="AmpliamentoSuperficieEsercizioBaseType" abstract="true"/>
    <xs:complexType name="AmpliamentoSuperficieEsercizioType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AmpliamentoSuperficieEsercizioBaseType">
                <xs:sequence>
                    <xs:element name="SuperficieEsercizioSomministrazione" type="suapcommon:AmpliamentoSuperficieVenditaType"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoPrepostoRequisitiProfessionaliType">
        <xs:sequence>
            <xs:element name="preposto" type="aggregate:PersonaAnagraficaType"/>
            <xs:element name="allegatoDocumentoIdentitaPreposto" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="inData" type="xs:date"/>
            <xs:element name="requisiti" type="suapcommon:DichiaranteRequisitiProfessionaliType"/>
            <xs:element name="allegatoDocumentoIdentitaPreposto" type="moduli:AllegatoType" />            
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltroRequisitoProfessionaleBaseType" abstract="true"/>
    <xs:complexType name="AltroRequisitoProfessionaleType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AltroRequisitoProfessionaleBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" maxOccurs="unbounded"/>  
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="responsabileTecnico" type="aggregate:PersonaAnagraficaType"/>
            <xs:element name="inQualita">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="dittaIndividuale" type="xs:string"/>
                        <xs:element name="societa" type="xs:string"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniAcconciatoriRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="abilitazioneProfessionale">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rilasciataDa" type="xs:string"/>
                        <xs:element name="atto" type="aggregate:AttoBaseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="possessoQualificaProfessionale">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rilasciataDa" type="xs:string"/>
                        <xs:element name="atto" type="aggregate:AttoBaseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="altro" type="suapcommon:AltroRequisitoProfessionaleBaseType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniEstetistiRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="possessoQualificaProfessionale" type="aggregate:AttoRilasciatoDaType"/>
            <xs:element name="abilitazioneProfessionale">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="titolare" type="aggregate:ImpresaREAType"/>
                        <xs:element name="socio" type="aggregate:ImpresaREAType"/>
                        <xs:element name="direzione" type="aggregate:ImpresaREAType"/>
                        <xs:element name="dipendente">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="impresaStudioMedico" type="xs:string"/>
                                    <xs:element name="periodoDalAl" type="basic:PeriodoDateType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="frequenzaCorso">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="corsoRegionale" type="aggregate:AttoRilasciatoDaType" />
                        <xs:element name="corsoScuolaProfessionale" type="aggregate:AttoRilasciatoDaType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>  
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="altro" type="suapcommon:AltroRequisitoProfessionaleBaseType"/>
        </xs:choice>
    </xs:complexType>
    
    
    
    
    <xs:complexType name="NotificaSanitariaType">
       <xs:sequence>
           <xs:choice>
               <xs:element name="apertura" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaAperturaType"/>
               <xs:element name="subingresso" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaSubingressoType"/>
               <xs:element name="modificaAttivita" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariModificaAttivitaType"/>
               <xs:element name="cessazioneSospensione" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaCessazioneSospensioneType"/>
           </xs:choice>
           <xs:element name="note" type="xs:string" minOccurs="0"/>
       </xs:sequence>      
   </xs:complexType>
    
    <xs:complexType name="NotificaSanitariaRelativaBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="dichiarante">
                <xs:complexType>
                    <xs:group ref="aggregate:PersonaBaseGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="NotificaSanitariaAperturaType">
      <xs:complexContent>
          <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
             <xs:sequence>
                 <xs:element name="sedeFissa" type="xs:boolean" />
                 <xs:element name="sede" type="aggregate:IndirizzoType"/>
                 <xs:element name="contatti" >
                     <xs:complexType>
                         <xs:complexContent>
                             <xs:extension base="aggregate:ContattiFoniaType">
                                 <xs:sequence>
                                     <xs:element name="altroDomicilioElettronico" type="xs:string"/>
                                 </xs:sequence>
                             </xs:extension>
                         </xs:complexContent>
                     </xs:complexType>
                 </xs:element>
                 <xs:element name="tipologiaAttivita" type="suapcommon:NotificaSanitariaTipologiaAttivitaType"/>
                 <xs:element name="inizioAttivita" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
             </xs:sequence>
          </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="NotificaSanitariaSubingressoType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="soggettoDitta" type="xs:string"/>
                    <xs:choice>
                        <xs:element name="codiceFiscale" type="basic:CodiceFiscaleType"/>
                        <xs:element name="pIVA" type="basic:PIVA"/>
                    </xs:choice>
                    <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
                    <xs:element name="inizioAttivita" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="NotificaSanitariModificaAttivitaType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="tipologiaAttivita" type="suapcommon:NotificaSanitariaTipologiaAttivitaType"/>
                    <xs:element name="decorrenzaModifiche" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
     
    <xs:complexType name="NotificaSanitariaCessazioneSospensioneType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="protocolloAttivita" type="aggregate:ProtocolloStandardType"/>
                    <xs:element name="sede" type="aggregate:IndirizzoType"/>
                    <xs:choice>
                        <xs:element name="dataCessazione" type="xs:date"/>
                        <xs:element name="periodoSospensione" type="basic:PeriodoDateType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:complexType name="NotificaSanitariaDecorrenzaType">
        <xs:choice>
            <xs:element name="contestuale" type="basic:EmptyType"/>
            <xs:element name="decorrenza" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dal" type="xs:date"/>
                        <xs:element name="termine" type="xs:date" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
     
    <xs:complexType name="NotificaSanitariaTipologiaAttivitaType">
        <xs:sequence>
            <xs:element name="produzionePrimaria" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cacciaEraccoltaSelvaggina" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PescaEimbarcazioniDaPesca" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="raccoltaEimbarcazioniRaccoltaMolluschi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaLatte" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaUova" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaMiele" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="raccolaFunghiTartufi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/> 
                        <xs:element name="raccoltaVegetaliSpontanei" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="coltivazioniPermanentiUsoAlimentare" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="coltivazioniNonPermanentiUsoAlimentare" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="vegetaliProduzioneTrasformazioneConfezionamento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conserveVegetaliIIGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="vegetaliCongelatiSurgelatiIIIGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="freshCutIVGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ortofrutticoliPrecottiVGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="secchiTostatiSpezie" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="succhiFruttaOrtaggi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="olio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/> 
                        <xs:element name="grassiVegetali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="viniMosti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="alcolici" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="sidroAltriViniBaseFrutta" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="birraAltreFermetateNonDistillate" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="molituraFrumentoAltriCereali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="lavorazioneRiso" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="altreLavorazioniSemiGranaglieLegumi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="amidiProdottiAmidacei" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="zucchero" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="caffe" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="teAltriInfusi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="homeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="prodottiFornoPasticceriaGelatiPiattiPronti" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="produzionePastaFrescaSeccaFarinaceiSimili" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzionePanePizzaAltri" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzionePasticceria" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneGelateria" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneCacaoCioccolatoConfetterie" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneCibiPronti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneHomeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="altriAlimentiProduzioneTrasformazione" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bibiteAnalcolicheAcqueBottiglia" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ghiaccio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="saleEstrazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="saleIodato" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="alimentiAnimaliProduzioneTrasformazioneConfezionamento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="prodottiPescaAziendeAcquacoltura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="avicoliCunicoli" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="carniLavorazioneImpiantiAnnessiEsercizio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiPescaLavorazioneImpiantiAnnessiEsercizio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiApiarioRaccoltaLavorazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiBaseLatte" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneHomeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
                
            <xs:element name="ristorazione" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="produzionePastiProntiRistorazioneCollettiva" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="somministrazioneRistorazioneCollettiva" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="somministrazioneDirettaRistorazionePubblica" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="barAssimilati" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ristorazioneInManifestazioniTemporanee" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="homeRestaurant" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="commercioIngrossoAlimentiBevande" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cashCarry" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="broker" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ingrossoConDeposito" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="commercioDettaglioAlimentiBevande" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inEsercizioVicinato" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inMediaStruttura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inGrandeStruttura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="perCorrispondenzaFormeSpeciali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="commercioAmbulante" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="aPostoFisso" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inFormaItinerante" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="distributori" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="automaticiAlimentiBevande" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="latteCrudo" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="acquaPotabileTrattata" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="depositoAlimentiBevandeContoTerziNoRisconoscimento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="piattaformaDistribuzioneAlimenti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            
            <xs:element name="depositoAlimentiBevandeAnnessoEsercizi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="trasportoAlimentiBevandeContoTerzi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inCisternaInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inCisternaNonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="altro" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            
        </xs:sequence>
    </xs:complexType>
   
   
    <!-- IMPLEMENTATO NELL'IPOTESI DI SCELTA MULTIPLA, DA VERIFICA SE INVECE SCELTA SINGOLA IN QUESTO CASO SEMPLIFICARE CON ENUMERATION -->
    <xs:complexType name="VariazioniTabelleSpecialiType">
        <xs:sequence>
        <xs:element name="aggiunta" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        <xs:element name="eliminazione" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        <xs:element name="sostituzione" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniType">
        <xs:sequence>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType" minOccurs="0"/>                    
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniAltroBaseType" abstract="true"/>
    <xs:complexType name="AltreDichiarazioniAltroType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AltreDichiarazioniAltroBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" maxOccurs="unbounded"/>  
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="VenditaEsclusivaType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DIPENDENTI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="MILITARI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="SOCI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="ACCESSO_SCUOLE" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="ACCESSO_OSPEDALI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    <xs:complexType name="RuoloInImpresaType">
        <xs:choice>
            <xs:element name="DipendenteQualificato" type="basic:EmptyType" minOccurs="0"/>
            <xs:element name="CoadiutoreFamiliare" type="basic:EmptyType"  minOccurs="0"/>
            <xs:element name="SocioLavoratore" type="xs:string"  minOccurs="0"/>
        </xs:choice> 
    </xs:complexType>
    
    <!-- TYPE ALLEGATI  -->     
    <xs:complexType name="AllegatoNotificaSanitariaType">
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="notificaSanitaria" type="suapcommon:NotificaSanitariaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoPossessoRequisitiAltriSociType">
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="socio" type="aggregate:PersonaAnagraficaType" minOccurs="1" />
                    <xs:element name="inQualitaDiSocioDella" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="societa" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                    <xs:element name="documentoIdentitaSocio" type="moduli:AllegatoType" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoPossessoRequisitiAltriSoggettiType">
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="soggetto" type="aggregate:PersonaAnagraficaType" minOccurs="1" />
                    <xs:element name="inQualita" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="di" type="xs:string" minOccurs="0"/>
                                <xs:element name="della">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="societa" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                    <xs:element name="documentoIdentitaSoggetto" type="moduli:AllegatoType" minOccurs="1" />
                    <xs:element name="informativaTrattamentoDatiPersonali" type="suapcommon:AllegatoPrivacyType" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoPossessoRequisitiRappresentanteTulpsType">
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="rappresentante" type="aggregate:PersonaAnagraficaType" minOccurs="1" />
                    <xs:element name="inQualitaDi" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="denominazioneAssociazioneCircolo" type="xs:string" minOccurs="0"/>
                                <xs:element name="denominazioneDittaImpresa" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                    <xs:element name="documentoIdentitaSoggetto" type="moduli:AllegatoType" minOccurs="1" />
                    <xs:element name="informativaTrattamentoDatiPersonali" type="suapcommon:AllegatoPrivacyType" minOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <xs:complexType name="AllegatoPrivacyType">
        <xs:complexContent>
            <xs:extension base="moduli:AllegatoType">
                <xs:sequence>
                    <xs:element name="titolareTrattamento" type="aggregate:PersonaAnagraficaType" minOccurs="1" />
                    <xs:element name="responsabileTrattamento" type="xs:string" minOccurs="1"/>
                    <xs:element name="responsabileDirittiPrivacy" type="aggregate:PersonaAnagraficaType" minOccurs="1" />
                    <xs:element name="dichiazioneInformativa" type="basic:EmptyType" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatoResponsabileTecnicoAcconciatoriRequisitiProfessionaliType">
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="dichiarazioni" type="suapcommon:DichiarazioniAcconciatoriRequisitiProfessionaliType"/>
                    <xs:element name="allegatoDocumentoIdentitaResposabileTecnico" type="moduli:AllegatoType" />
                    <xs:element name="allegatoAccettazioneResposabileTecnico" type="moduli:AllegatoBaseType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="AllegatoResponsabileTecnicoEstetistiRequisitiProfessionaliType">
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="dichiarazioni" type="suapcommon:DichiarazioniEstetistiRequisitiProfessionaliType"/>
                    <xs:element name="allegatoDocumentoIdentitaResposabileTecnico" type="moduli:AllegatoType" />
                    <xs:element name="allegatoAccettazioneResposabileTecnico" type="moduli:AllegatoBaseType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="AllegatiAltriType">
        <xs:sequence>
            <xs:element name="allegatoVersamentoOneri"  type="moduli:AllegatoBaseType" minOccurs="0"/>
            <xs:element name="allegatoImpostaDiBollo"  type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType_BolloObbligatorio">
        <xs:sequence>
            <xs:element name="allegatoVersamentoOneri"  type="moduli:AllegatoBaseType" minOccurs="0" />
            <xs:element name="allegatoImpostaDiBollo"  type="moduli:AllegatoType" />
        </xs:sequence>
    </xs:complexType>
   
    
</xs:schema>