Moduli_PA/SUAP/SUAP_modulo_agenzie_affari.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:ageaffari="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_ageaffari"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_ageaffari"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.3.0">

   
    
   
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
   
    <!-- // Modulo modulo_ageaffari ## internal code ref 020 // -->
   
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloAgenzieAffari" type="ageaffari:ModuloAgenzieAffari" />
    
    <xs:complexType name="ModuloAgenzieAffari">
        <xs:annotation>
            <xs:documentation>
                COMUNICAZIONE PER L’ESERCIZIO DELL’ATTIVITÀ DELLE AGENZIE D’AFFARI DI COMPETENZA DEL COMUNE
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:choice>
                <xs:element name="apertura" type="ageaffari:AperturaType"/>
                <xs:element name="trasferimento" type="ageaffari:TrasferimentoType"/>
                <xs:element name="cessazione" type="ageaffari:CessazioneType"/>
            </xs:choice>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
            <xs:element name="tabellaAllegati" type="ageaffari:TabellaAllegatiType"/>                 
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoAttivita" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="organizzazioneeventi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="abbonamentimedia" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="infocommerciali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="allestimentoeventi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaveicoliusati" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditausato" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="biglietti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="pratiche" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="pubblicita" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="assicurazioni" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="trasporti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="altro" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="AttivitaOnline" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" >
                            <xs:element name="soloOnlineIndirizzoWeb" type="xs:string" />
                            <xs:element name="ancheOnlineIndirizzoWeb" type="xs:string" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        
        
            <xs:element name="Dichiarazioni" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RegistroGiornaleAffari" minOccurs="0">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="cartaceo">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="registroGiornaleVidimazione" type="ageaffari:GiornaleAffariType" minOccurs="1" maxOccurs="1"/>
                                                <xs:element name="registroVidimatoComune" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="informatico" type="basic:EmptyType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>         
                        
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="GiornaleAffariType">
        <xs:sequence>
            <xs:element name="registroPagine" type="xs:integer" minOccurs="0" maxOccurs="1"/> 
            <xs:element name="registroNumerateDa" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="registroNumerateA" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="registroNumero" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="registroAnno" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TrasferimentoType">
        <xs:sequence>
            <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="trasferimentoDaA" type="suapcommon:TrasferimentoDaAType"/>
            <xs:element name="dichiarazioni" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="autoVidimazioneRegistroAffari" type="ageaffari:AutoVidimazioneRegistroAffariType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence> 
    </xs:complexType>
   
    <xs:complexType name="CessazioneType" >
        <xs:sequence>
            <xs:element name="protocolloCessazione" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="dichiarazioni" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="autoVidimazioneRegistroAffari" type="ageaffari:AutoVidimazioneRegistroAffariType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ALLEGATI -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0" />
                        <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="allegatoPossessoRequisitiAltriSoggetti" type="suapcommon:AllegatoPossessoRequisitiAltriSoggettiType" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="allegatoTabellaTariffePrestazioni" type="moduli:AllegatoType"  minOccurs="1" />
                        <xs:element name="allegatoTimbroSocieta" type="moduli:AllegatoType" minOccurs="0" />
                        <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0" />
                        <xs:element name="allegatoAutorizzazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AutoVidimazioneRegistroAffariType">
        <xs:annotation>
            <xs:documentation>
                Dichiarazione di  auto vidimazione del Registro giornale degli affari
                (da utilizzare in casi diversi dall’avvio dell’attività)  
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="dichiarante" type="aggregate:PersonaAnagraficaType"/><!-- include doc. socggiorno -->
            <xs:element name="inQualita">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="titolare" type="basic:EmptyType"/>
                        <xs:element name="legaleRappresentante" type="basic:EmptyType"/>
                        <xs:element name="altro" type="xs:string"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="impresa" type="aggregate:ImpresaAnagraficaType"/>
            <xs:element name="impresaAltroEmail" type="xs:string"/>
            <xs:element name="registroGiornaleVidimazione" type="ageaffari:GiornaleAffariType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    <!-- ENUMERATION -->

</xs:schema>
