Moduli_PA/SUAP/SUAP_modulo_lavanderie-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:tintolav="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components-1.0.0.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>
    
    <!-- // Modulo tintolavanderie ## internal code ref 019 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloTintoLavanderie" type="tintolav:ModuloTintoLavanderieType"/>
    
    <xs:complexType name="ModuloTintoLavanderieType" >
        <xs:sequence>
            <xs:element name="schedaAnagrafica"         type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica"   type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura"                 type="tintolav:AperturaType"/>            
            <xs:element name="dichiarazioni"            type="tintolav:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni"       type="tintolav:AltreDichiarazioniType"/>
            <xs:choice>
                <xs:element name="tabellaAllegatiLavanderie"          type="tintolav:TabellaAllegatiLavanderieType"/>    
                <xs:element name="tabellaAllegatiLavanderieGettoni"   type="tintolav:TabellaAllegatiLavanderieGettoniType"/>
             </xs:choice>
            <xs:element name="Allegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="socio" type="aggregate:PersonaAnagraficaType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element> 
        </xs:sequence>
    </xs:complexType>

    <!-- Attività : Apertura -->
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoAttivita" type="tintolav:TipoAttivitaEnum"/>
            <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeType"/>
            <xs:element name="settoriMerceologici" type="tintolav:SuperficieEsercizioAttivitaType"/>
            <xs:element name="carattereEsercizio" type="tintolav:CarattereEsercizioType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Allegati -->
    <xs:complexType name="TabellaAllegatiLavanderieType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiLavSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiLavSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="tintolav:AllegatiAltriBaseType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TabellaAllegatiLavanderieGettoniType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiLavGettSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiLavGettSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="tintolav:AllegatiAltriBaseType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoProcuraDelega" minOccurs="0" />
            <xs:element ref="suapcommon:allegatoDocumentoIdentitaTitolare" minOccurs="0" />
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoIndustriaInsalubre" minOccurs="0"/> 
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavGettSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavSCIACondizionataType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"   minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoEmissioneAtmosferaGenerale" minOccurs="0"/> 
            <xs:element ref="suapcommon:allegatoScarichiAcqueReflueAUA" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoAutorizzazioneInDeroga" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavGettSCIACondizionataType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoScarichiAcqueReflueAUA" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoAutorizzazioneInDeroga" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriBaseType" abstract="true">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoImpostaDiBollo" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType">
        <xs:complexContent>
            <xs:extension base="tintolav:AllegatiAltriBaseType">
                <xs:sequence>
                    <xs:element ref="suapcommon:allegatoVersamentoOneri" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="dichiaranteResponsabileTecnicoRequisitiProfessionali" type="tintolav:DichiarazioniRespTecnLavaRequisitiProfessionaliType"/>
                <xs:element name="resposabileTecnicoRequisitiProfessionali" type="tintolav:ResponsabileTecnicoRequisitiProfessionaliType" maxOccurs="unbounded"/>
            </xs:choice>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniRespTecnLavaRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="corsoProfessionale" type="aggregate:IstitutoType"/>
            <xs:element name="qualificaConInserimentoImpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="aggregate:IstitutoType"/>
                        <xs:sequence>
                            <xs:element name="attivita" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo" type="xs:string"/>
                                        <xs:element name="dal" type="xs:date"/>
                                        <xs:element name="al" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                        </xs:sequence>
                    </xs:sequence> 
                </xs:complexType>             
            </xs:element>
            <xs:element name="titoloStudioInerente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="aggregate:IstitutoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="periodoInserimentoImprese">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="durata" type="tintolav:AnniInInpresaEnum" />                               
                        <xs:sequence>
                            <xs:element name="attivita" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo" type="xs:string"/>
                                        <xs:element name="dal" type="xs:date"/>
                                        <xs:element name="al" type="xs:date"/>
                                    </xs:sequence>              
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                        </xs:sequence>
                    </xs:sequence> 
                </xs:complexType>      
            </xs:element>
            <xs:element name="riconoscimentoQualificaMinistero" type="xs:date"/>
        </xs:choice>        
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliType" >
        <xs:complexContent>
            <xs:extension base="tintolav:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="dichiarazioni" type="tintolav:DichiarazioniRespTecnLavaRequisitiProfessionaliType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliBaseType" >
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="inData" type="xs:date"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Dichiarazioni -->
    <xs:complexType name="AltreDichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BiancheriaMINORE_UGUALE_100_KG" type="basic:EmptyType"/>
                <xs:element name="BiancheriaMAGGIORE_100_KG"      type="tintolav:BiancheriaMAGGIORE_100_KGBaseType"/>
            </xs:choice>
            <xs:element name="altro" type="tintolav:AltreDichiarazioniAltroBaseType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="BiancheriaMAGGIORE_100_KGBaseType" abstract="true"/>
    <xs:complexType name="BiancheriaMAGGIORE_100_KGType">
        <xs:complexContent>
            <xs:extension base="tintolav:BiancheriaMAGGIORE_100_KGBaseType">
                <xs:sequence>
                    <xs:element name="BiancheriaMAGGIORE_100_KG" type="basic:EmptyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniAltroBaseType" abstract="true"/>
    <xs:complexType name="AltreDichiarazioniAltroType">
        <xs:complexContent>
            <xs:extension base="tintolav:AltreDichiarazioniAltroBaseType">
                <xs:sequence>
                    <xs:element name="altro" type="xs:string" maxOccurs="unbounded"/>                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence><!-- scelta multipla -->
            <xs:element name="CaratterePermanente"  minOccurs="0" maxOccurs="1" />
            <xs:element name="CarattereStagionale" type="suapcommon:CarattereStagionaleBaseType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SuperficieEsercizioAttivitaType">
        <xs:complexContent>
            <xs:extension base="tintolav:SettoriMerceologiciSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="tintolavanderia_lavanderia" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="altriusi" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciSuperficieBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- ENUMERATION -->
    

    
    <xs:simpleType name="TipoAttivitaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tintolavanderia"/>
            <xs:enumeration value="Lavanderia a gettoni"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="AnniInInpresaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="uno"/>
            <xs:enumeration value="due"/>
            <xs:enumeration value="tre"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>