Moduli_PA/SUAP/SUAP_modulo_autoriparatori-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:autoriparatori="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_autoriparatori"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_autoriparatori"
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">

    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components-1.0.0.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>

    <!-- // Modulo modulo_autoriparatori ## internal code ref 014 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloAutoripatori" type="autoriparatori:ModuloAutoripatoriType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloAutoripatoriType">
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura" type="autoriparatori:AperturaType"/>
            <xs:element name="dichiarazioni" type="autoriparatori:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="tabellaAllegati" type="autoriparatori:TabellaAllegatiType"/>
            <xs:element name="Allegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="socio" type="aggregate:PersonaAnagraficaType" minOccurs="0" maxOccurs="unbounded"/>
                        <!-- ALLEGATO DICHIARAZIONE RESPONSABILE TECNICO  INCLUSO IN DICHIARAZIONI -->
                    </xs:sequence>
                </xs:complexType>
            </xs:element> 
        </xs:sequence>  
    </xs:complexType>

    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoEsercizio" type="autoriparatori:TipoEsercizioEnum"/>
            <xs:element name="superficieCoperta" type="xs:decimal"/>         
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCIAUnica" type="autoriparatori:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="autoriparatori:AllegatiSCIACondizionataType"/>
            <xs:element name="allegatiAltri" type="autoriparatori:AllegatiAltriBaseType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoProcuraDelega" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoDocumentoIdentitaTitolare" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoImpattoAcustico" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoIndustriaInsalubre" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataBaseType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoImpattoAcustico" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoEmissioneAtmosferaGenerale" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoEmissioneAtmosferaAUA" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:complexContent>
            <xs:extension base="autoriparatori:AllegatiSCIACondizionataBaseType">
                <xs:sequence>
                    <xs:element ref="suapcommon:allegatoAutorizzazioneInDeroga" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriBaseType" abstract="true">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoImpostaDiBollo" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType">
        <xs:complexContent>
            <xs:extension base="autoriparatori:AllegatiAltriBaseType">
                <xs:sequence>
                    <xs:element ref="suapcommon:allegatoVersamentoOneri" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
   
   <!-- BASIC TYPE -->
    
    <xs:complexType name="TipoQualificaType">
        <xs:choice>
            <xs:element name="lavoratoreSubordinato" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="collaboratoreFamiliare" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="socioLavoratore" minOccurs="0" type="basic:EmptyType"/>
            <xs:element name="altro" minOccurs="0" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniType">
        <xs:choice>
            <xs:element name="dichiaranteResponsabileTecnicoRequisitiProfessionali" type="autoriparatori:DichiarazioneRequisitiProfessionaliType"/>
            <xs:element name="resposabileTecnicoRequisitiProfessionali" type="autoriparatori:ResponsabileTecnicoRequisitiProfessionaliType" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliType" >
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="tipoQualifica" type="autoriparatori:TipoQualificaType"/>
                    <xs:element name="dichiarazioni" type="autoriparatori:DichiarazioneRequisitiProfessionaliType"/>
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioneRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="attivitaEsercitataPressoImpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inQualitaDi" type="xs:string" minOccurs="0" default="operaio qualificato"/>
                        <xs:element name="pressoImpresa" type="autoriparatori:TipoAttivitaPressoImpresaType"  maxOccurs="unbounded"/>
                     </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="titoloStudioDipendenzeImpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inQualitaDi" type="xs:string" minOccurs="0" default="operaio qualificato"/>
                        <xs:element name="titoloStudio" type="xs:anyType"/>
                        <xs:element name="pressoImpresa" type="autoriparatori:TipoAttivitaPressoImpresaType"  maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="corsoDiQualificazioneDipendenzeImpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inQualitaDi" type="xs:string" minOccurs="0" default="operaio qualificato"/>
                        <xs:element name="pressoIstituto" type="aggregate:IstitutoType"/>
                        <xs:element name="pressoImpresa" type="autoriparatori:TipoAttivitaPressoImpresaType"  maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="diplomaOlaureaAttivitaProfessionale" type="aggregate:IstitutoType"/>
            <xs:element name="maturatoEsperienzaProfessionale" type="basic:EmptyType">
                <xs:annotation>
                    <xs:documentation>
                        esperienza maturata per una durata non inferiore ad un anno, nel periodo precedente al regolamento di cui al decreto del Presidente della Repubblica 18 aprile 1994, n. 387
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="riconoscimentoTitoloEsteroDaAutoritaCompentente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="data" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="TipoAttivitaPressoImpresaType">
        <xs:sequence>
            <xs:element name="tipoAttivita" type="xs:string"/>
            <xs:element name="dal" type="xs:date"/>
            <xs:element name="al" type="xs:date"/>
            <xs:element name="impresa" type="aggregate:ImpresaREAType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ENUMERATION -->
    <xs:simpleType name="TipoEsercizioEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="meccatronica"/>
            <xs:enumeration value="carrozzeria"/>
            <xs:enumeration value="gommista"/>            
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
