Moduli_PA/SUAP/SUAP_modulo_panifici-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
        xmlns:panifici="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_panifici"
        xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
        xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
        xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
        xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
        xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        
        targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_panifici"
        
        elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">
        
        <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components-1.0.0.xsd"/>    
        <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
        <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
        <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
        <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>
    
    <!-- // Modulo panifici ## internal code ref 015 // -->
    

    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloPanificiBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
           
            <xs:choice>
                <xs:element name="apertura" type="panifici:AperturaType"/>
                <xs:element name="trasferimento" type="panifici:TrasferimentoType"/>
                <xs:element name="ampliamento" type="panifici:TrasformazioneType"/>
            </xs:choice>
            <xs:element name="dichiarazioni" type="panifici:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni" type="panifici:AltreDichiarazioniBaseType" />
            <xs:element name="tabellaAllegati" type="panifici:TabellaAllegatiType"/>                 
            <xs:element name="Allegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="socio" type="aggregate:PersonaAnagraficaType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element> 
        </xs:sequence>
    </xs:complexType>


    <!-- Attività : Apertura -->
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="carattereConsumo" type="panifici:CarattereConsumoType"/>
            <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeType"/>
            <xs:element name="carattereEsercizio" type="panifici:CarattereEsercizioType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="CarattereConsumoType">
        <xs:restriction base="xs:boolean"></xs:restriction>
    </xs:simpleType>  
    
    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence>
            <xs:element name="tipo" type="panifici:TipoCarattereEsercizioEnum"/>
            <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:date"/>
                        <xs:element name="a" type="xs:date"/>    
                    </xs:sequence>                        
                </xs:complexType>                
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="TipoCarattereEsercizioEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PERMANENTE"/>
            <xs:enumeration value="STAGIONALE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Attività : Trasferimento -->
    <xs:complexType name="TrasferimentoType">
        <xs:sequence>
            <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="trasferimentoDaA" type="suapcommon:TrasferimentoDaAType"/>
            <xs:element name="carattereConsumo" type="panifici:CarattereConsumoType"/>
            <xs:element name="carattereEsercizio" type="panifici:CarattereEsercizioType"/>
        </xs:sequence>        
    </xs:complexType>
    
    <!-- Attività : Trasformazione -->  
    <xs:complexType name="TrasformazioneType">
        <xs:sequence>
            <xs:element name="protocolloTrasfomazione" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="trasfCicloProduttivo"  type="panifici:modificheCicloProduttivoType"/>
            <xs:element name="trasfCongiuntaVenditasulPosto" type="panifici:attivitaCongiuntaVenditasulPosto"/>
            <xs:element name="trasfAltro" type="xs:string"/>
            <xs:element name="carattereEsercizio" type="panifici:CarattereEsercizioType"/>    
        </xs:sequence>        
    </xs:complexType>

    <xs:simpleType name="modificheCicloProduttivoType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:complexType name="attivitaCongiuntaVenditasulPosto">        
        <xs:sequence>
            <xs:element name="tipo" type="panifici:TipoAttivitaEnum"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="TipoAttivitaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aggiunta"/>
            <xs:enumeration value="eliminata"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <!-- Altre dichiazioni Local -->
    
    
    <!-- Allegati -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCIAUnica" type="panifici:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="panifici:AllegatiSCIACondizionataType"/>
            <xs:element name="allegatiAltri" type="panifici:AllegatiAltriType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoProcuraDelega" minOccurs="0" />
            <xs:element ref="suapcommon:allegatoDocumentoIdentitaTitolare" minOccurs="0" />
            <xs:element ref="suapcommon:allegatoNotificaSanitaria" minOccurs="1"/>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoRichiestaAutorizAUA"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoEmissAtmosferaAUA"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoScaricoAcqueAUA"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoAutorizzazioneInDeroga"  minOccurs="0"/>
                                                                                   
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType">
        <xs:complexContent>
            <xs:extension base="panifici:AllegatiAltriBaseType">
                <xs:sequence>
                    <xs:element ref="suapcommon:allegatoImpostaDiBollo" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriBaseType" abstract="true">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoVersamentoOneri" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <!-- AGGREGATE SPECIALIZED TYPE -->
    <xs:complexType name="DichiarazioniType">
        <xs:choice>
            <xs:element name="dichiaranteRequisitiAntimafia" type="suapcommon:RequisitiAntimafiaBaseType"/>
            <xs:element name="responsabileAttivitàProduttiveRequisitiAntimafia" type="suapcommon:ResponsabileAttivitàProduttiveRequisitiAntimafiaType"/>
        </xs:choice>  
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="dicConsumoFarina" type="panifici:ConsumoFarinEnum"/>
            <xs:element name="dichConsumoIdrico" type="panifici:ConsumoIdricoEnum"/>
        </xs:sequence>        
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniType">
        <xs:complexContent>
            <xs:extension base="panifici:AltreDichiarazioniBaseType">
                <xs:sequence>
                    <xs:element name="altro" type="xs:string"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    
    <!-- ENUMERATION -->
    
    <xs:simpleType name="ConsumoFarinEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINORE_UGUALE_300_KG"/>
            <xs:enumeration value="MAGGIORE_300_MINORE_UGUALE_1500_KG"/>
            <xs:enumeration value="MAGGIORE_1500_K"/>            
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ConsumoIdricoEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINORE_UGUALE_5_MC"/>
            <xs:enumeration value="MAGGIORE_5_MC"/>           
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>