Moduli_PA/SUAP/SUAP_modulo_media_grande_struttura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:mediagrande="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_media_grande_struttura"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_media_grande_struttura"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">


   
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- // Modulo modulo_media_grande_struttura ## internal code ref 002 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloMediaGrandeStruttura" type="mediagrande:ModuloMediaGrandeStrutturaType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloMediaGrandeStrutturaType">
        <xs:annotation>
            <xs:documentation>
                DOMANDA DI AUTORIZZAZIONE PER L’ESERCIZIO DI MEDIA O GRANDE STRUTTURA DI VENDITA            
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:choice>
                <xs:element name="apertura" type="mediagrande:AperturaType"/>
                <xs:element name="trasferimento" type="mediagrande:TrasferimentoType"/>
                <xs:element name="ampliamento" type="mediagrande:AmpliamentoType"/>
            </xs:choice>
            <xs:element name="dichiarazioni" type="suapcommon:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
            <xs:element name="tabellaAllegati" type="mediagrande:TabellaAllegatiType"/>
        </xs:sequence>  
    </xs:complexType>
    
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegati" type="mediagrande:AllegatiType"/>
            <xs:element name="allegatiSCIA_SCIAUnica" type="mediagrande:AllegatiSCIA_SCIAUnicaType"/>
            <xs:element name="allegatiAutorizzazione" type="mediagrande:AllegatiAutorizzazioneType"/>
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType_BolloObbligatorio"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="AllegatiType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoci" type="suapcommon:AllegatoPossessoRequisitiAltriSociType" minOccurs="0" maxOccurs="unbounded" />
            <!-- ALLEGATO DICHIARAZIONE PREPOSTO INCLUSO IN DICHIARAZIONI -->
            <xs:element name="allegatoPlanimetrieLocali"  type="moduli:AllegatoType" minOccurs="1"/>
            <xs:element name="allegatoAltraDocumentazioneNormeRegionali" type="moduli:AllegatoBaseType"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIA_SCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAPrevenzioniIncendi" type="moduli:AllegatoType" minOccurs="0" />
            <xs:element name="allegatoNotificaSanitaria" type="suapcommon:AllegatoNotificaSanitariaType" minOccurs="0"/>
            <xs:element name="allegatoSCIAVenditaProdottiAlimentazioneAnimale" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneVenditaFarmaciBanco" type="moduli:AllegatoType" minOccurs="0"/>  
            <xs:element name="allegatoComunicazioneVenditaGPL" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoVenditaGASInfiammabile" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAltreComunicazioniNormeRegionali" type="moduli:AllegatoBaseType"  minOccurs="0"/>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneVenditaIngrosso" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiAutorizzazioneType">
        <xs:sequence>
            <xs:element name="allegatoProdottiOrigineAnimale" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneVenditaFitosanitari" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneVenditaPreziosi"  type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoVenditaArmiNoGuerra" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAltreDomandeNormeRegionali" type="moduli:AllegatoBaseType"  minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneVenditaOnlineFarmaciBanco" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>  
    </xs:complexType>
    
   
    

    
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoEsercizio" type="mediagrande:TipoEsercizioType"/>
            <xs:element name="modalitaVenditaSuperficie" type="suapcommon:ModalitaVenditaSuperficieBaseType"/>
            <xs:element name="carattereEsercizio" type="suapcommon:CarattereEsercizioType"/>
            <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType"/>
            <xs:element name="settoriMerceologiciSuperficie" type="suapcommon:SettoriMerceologiciSuperficieBaseType"/>
            <xs:element name="occupazioneSuperfici" type="suapcommon:OccupazioneSuperficiType"/>            
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TrasferimentoType">
        <xs:sequence>
            <xs:element name="tipoEsercizio" type="mediagrande:TipoEsercizioType"/> 
            <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="trasferimentoDaA" type="suapcommon:TrasferimentoDaAType"/>
            <xs:element name="settoriMerceologici" type="suapcommon:SettoriMerceologiciSuperficieBaseType"/>
            <xs:element name="occupazioneSuperfici" type="suapcommon:OccupazioneSuperficiType"/>
        </xs:sequence>        
    </xs:complexType>
    
    <xs:complexType name="AmpliamentoType">
        <xs:sequence>
            <xs:element name="tipoEsercizio" type="mediagrande:TipoEsercizioType"/> 
            <xs:element name="protocolloAmpliamento" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="ampliamentoSuperficieVendita" type="suapcommon:AmpliamentoSuperficieVenditaType" minOccurs="0"/>
            <xs:element name="variazioniTabelleSpeciali" type="suapcommon:VariazioniTabelleSpecialiType" minOccurs="0"/>
            <xs:element name="variazioniMerceologiciSuperficie" type="suapcommon:VariazioneSettoriMerceologiciSuperficieType" />
            <xs:element name="variazioneOccupazioneSuperfici" type="mediagrande:VariazioneOccupazioneSuperficiType"/>
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="TipoEsercizioType" >
        <xs:sequence>
            <xs:choice>
                <xs:element name="media_struttura" type="basic:EmptyType"/>
                <xs:element name="grande_struttura" type="basic:EmptyType"/>
                <xs:element name="apparecchi_automatici" type="basic:EmptyType"/>
            </xs:choice>
        </xs:sequence>        
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    <xs:complexType name="VariazioneOccupazioneSuperficiType">
        <xs:sequence>
            <xs:element name="nonAlimentari" type="mediagrande:OccupazioniMerciIngombrantiNonAlimentariBaseType" />    
            <xs:element name="tabelleSpeciali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="generiMonopolio" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DaMq" type="xs:decimal"/>
                                    <xs:element name="AMq" type="xs:decimal"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="farmacie" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DaMq" type="xs:decimal"/>
                                    <xs:element name="AMq" type="xs:decimal"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="carburanti" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DaMq" type="xs:decimal"/>
                                    <xs:element name="AMq" type="xs:decimal"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>        
    </xs:complexType>
    
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariBaseType" abstract="true"/>
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariType">
        <xs:complexContent>
            <xs:extension base="mediagrande:OccupazioniMerciIngombrantiNonAlimentariBaseType">
                <xs:sequence>
                    <xs:element name="merciIngombranti" minOccurs="0" type="suapcommon:AmpliamentoSuperficieVenditaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- ENUMERATION -->


    
</xs:schema>
