Moduli_PA/SUAP/SUAP_modulo_imprese_pulizie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:imppulizie="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_imprese_pulizie"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_imprese_pulizie"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">

    
    <xs:annotation>
        <xs:documentation>
            SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ PER L’ESERCIZIO DELL’ATTIVITÀ 
            DI PULIZIE, DISINFEZIONE, DISINFESTAZIONE, DI DERATTIZZAZIONE E DI SANIFICAZIONE
        </xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- // Modulo modulo_imprese_pulizie ## internal code ref 022 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloImpresePulizie" type="imppulizie:ModuloImpresePulizie" />
    
    <xs:complexType name="ModuloImpresePulizie">
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura" type="imppulizie:AperturaType"/>
            <xs:element name="dichiarazioni" type="imppulizie:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="tabellaAllegati" type="imppulizie:TabellaAllegatiType"/>  
           
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="datiAttivita" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                            <xs:element name="pulizia" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="disinfezione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="disinfestazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="derattizzazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="sanificazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                     </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="superficieComplessiva" minOccurs="0" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType" minOccurs="0"/>
            <xs:choice minOccurs="0">
                <xs:element name="dichiaranteRequisiti" type="imppulizie:DichiarazioniImpresePulizieRequisitiProfessionaliType"/>
                <xs:element name="allegatoResposabileTecnicoRequisitiProfessionali" type="imppulizie:AllegatoResponsabileTecnicoImpresePulizieRequisitiProfessionaliType" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
      
    <xs:complexType name="DichiarazioniImpresePulizieRequisitiProfessionaliType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="TitoloProfessionale">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="obbligoScolastico" type="imppulizie:ObbligoScolasticoType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="attestatoQualificaTecnica" type="aggregate:IstitutoType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="diplomaSecondario" type="aggregate:IstitutoType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="diplomaLaurea" type="aggregate:IstitutoType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                        
                <xs:element name="AltroTitoloAutorita" type="xs:date" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatoResponsabileTecnicoImpresePulizieRequisitiProfessionaliType">
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                 <xs:sequence>
                     <xs:element name="qualifica">
                         <xs:complexType>
                             <xs:sequence>
                                 <xs:element name="lavoratoreSubordinato" type="basic:EmptyType" minOccurs="0"/>
                                 <xs:element name="collaboratore" type="basic:EmptyType"  minOccurs="0"/>
                                 <xs:element name="socio" type="xs:string"  minOccurs="0"/>
                                 <xs:element name="altro" type="xs:string"  minOccurs="0"/>
                             </xs:sequence>
                         </xs:complexType>
                     </xs:element>
                     <xs:element name="dichiarazioni" type="imppulizie:DichiarazioniImpresePulizieRequisitiProfessionaliType"/>
                     <xs:element name="allegatoDocumentoIdentitaResposabileTecnico" type="moduli:AllegatoType" />
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>                
    </xs:complexType>
    
    <xs:complexType name="ObbligoScolasticoType">
        <xs:sequence>
            <xs:element name="inQualitaDi" type="xs:string"/>
            <xs:element name="istituto" type="xs:string"/>
            <xs:element name="istitutoIndirizzo" type="aggregate:IndirizzoType"/>
            <xs:element name="annoScolastico" type="xs:integer"/>
            
            <xs:element name="esperienziaPressoImpresa" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tipoAttivita" type="xs:string"/>
                        <xs:element name="da" type="xs:date"/>
                        <xs:element name="a" type="xs:date"/>
                        <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
           
        </xs:sequence>
    </xs:complexType>
    
   
   
    <!-- ALLEGATI  -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCIA" type="imppulizie:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica" type="imppulizie:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="imppulizie:AllegatiSCIACondizionataType"/>      
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoggetti" type="imppulizie:AllegatoPossessoRequisitiAltriSoggettiType" minOccurs="0" maxOccurs="unbounded" />
            <!-- ALLEGATO DICHIARAZIONE RESPONSABILE TECNICO INCLUSO IN DICHIARAZIONI -->
        </xs:sequence>                                
    </xs:complexType>

    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneIndustriaInsalubre" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>

    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:sequence>
            <xs:element name="allegatoAutorizzazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoEmissioneAtmosferaGeneraleAUA" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoEmissioneAtmosferaAUA" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
   
    
    <!-- TYPE ALLEGATI  -->
    <xs:complexType name="AllegatoPossessoRequisitiAltriSoggettiType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AllegatoPossessoRequisitiAltriSoggettiType">
                <xs:sequence>
                    <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniAltroBaseType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- BASIC COMPONENTS TYPE -->
    <!-- ENUMERATION -->
    
</xs:schema>
