Moduli_PA/SUAP/SUAP_modulo_commercio_ingrosso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:commingrosso="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_commercio_ingrosso"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_commercio_ingrosso"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">

    
    
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/> 
    
    <!-- // Modulo modulo_commercio_ingrosso ## internal code ref 021 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloCommercioIngrosso" type="commingrosso:ModuloCommercioIngrossoType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloCommercioIngrossoType">
        <xs:annotation>
            <xs:documentation>
                COMUNICAZIONE PER L’AVVIO DI ATTIVITÀ DI COMMERCIO ALL’INGROSSO
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:choice>
                <xs:element name="apertura" type="commingrosso:AperturaType"/>
                <xs:element name="subingresso" type="commingrosso:SubingressoType"/>
                <xs:element name="trasferimento" type="commingrosso:TrasferimentoType"/>
                <xs:element name="ampliamento" type="commingrosso:AmpliamentoType"/>
            </xs:choice>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
            <xs:element name="tabellaAllegati" type="commingrosso:TabellaAllegatiType"/>  
           
        </xs:sequence>        
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="ModalitaVenditaSuperficie" type="commingrosso:ModalitaVenditaIngrossoSuperficieBaseType" />
            <xs:element name="CarattereEsercizio" type="commingrosso:CarattereEsercizioType"/>
            <xs:element name="settoriMerceologiciSuperficie" type="suapcommon:SettoriMerceologiciSuperficieBaseType"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence><!-- scelta multipla -->
            <xs:element name="CaratterePermanente"  minOccurs="0" maxOccurs="1" />
            <xs:element name="CarattereStagionale" type="suapcommon:CarattereStagionaleBaseType" minOccurs="0" maxOccurs="1" />
            <xs:element name="CarattereTemporaneo" type="suapcommon:CarattereTemporaneoBaseType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Subingresso -->
    <xs:complexType name="SubingressoType">
        <xs:sequence>
            <xs:element name="protocolloAvvioEsercizio" type="aggregate:ProtocolloStandardType"/>
            <xs:choice>
                <xs:element name="contestuale" type="basic:EmptyType"/>
                <xs:element name="decorrenzaDa" type="xs:date"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="compravendita" type="basic:EmptyType"/>
                <xs:element name="affittoAzienda" type="basic:EmptyType"/>
                <xs:element name="donazione" type="basic:EmptyType"/>
                <xs:element name="fusione" type="basic:EmptyType"/>
                <xs:element name="fallimento" type="basic:EmptyType"/>
                <xs:element name="successione" type="basic:EmptyType"/>
                <xs:element name="altraMotivazione" type="xs:string"/>
            </xs:choice>
            <xs:element name="attoRegistrazione" type="aggregate:AttoBaseType"/>
        </xs:sequence>
    </xs:complexType>   
    
    <xs:complexType name="TrasferimentoType">
        <xs:sequence>
            <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
            <xs:element name="trasferimentoDaA" type="suapcommon:TrasferimentoDaAType"/>
            <xs:element name="ModalitaVenditaSuperficie" type="commingrosso:ModalitaVenditaIngrossoSuperficieBaseType" />
            <xs:element name="settoriMerceologiciSuperficie" type="suapcommon:SettoriMerceologiciSuperficieBaseType"/>    
        </xs:sequence>        
    </xs:complexType>
    
    <xs:complexType name="AmpliamentoType">
        <xs:sequence>
            <xs:element name="protocolloAmpliamento" type="aggregate:ProtocolloStandardType"/>
            <xs:choice>
                <xs:element name="ampliamentoIngrossoSuperficieVendita" type="suapcommon:AmpliamentoSuperficieVenditaType"/>
                <xs:element name="ampliamentoDettaglioIngrossoSuperficieVendita">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="superficieDaA" type="suapcommon:AmpliamentoSuperficieVenditaType" minOccurs="0"/>
                            <xs:choice>
                                <xs:element name="IngrossoSuperficieDaA" type="suapcommon:AmpliamentoSuperficieVenditaType"/>
                                <xs:element name="DettaglioSuperficieDaA" type="suapcommon:AmpliamentoSuperficieVenditaType"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="variazioniSettorivendita" type="suapcommon:VariazioneSettoriMerceologiciSuperficieType"/>
        </xs:sequence> 
    </xs:complexType>
    
    <xs:complexType name="ModalitaVenditaIngrossoSuperficieBaseType" abstract="true" />
    <xs:complexType name="ModalitaVenditaIngrossoSuperficieType">
        <xs:complexContent>
            <xs:extension base="commingrosso:ModalitaVenditaIngrossoSuperficieBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="IngrossoSuperficie" type="xs:decimal"/>
                        <xs:element name="DettaglioIngrosso">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="superficie" minOccurs="0" type="xs:decimal"/>
                                    <xs:element name="IngrossoSuperficie" minOccurs="0" type="xs:decimal"/>
                                    <xs:element name="DettaglioSuperficie" minOccurs="0" type="xs:decimal"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <!-- ALLEGATI -->
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiComunicazione" type="commingrosso:AllegatiComunicazioneType"/>
            <xs:element name="allegatiSCIAUnica" type="commingrosso:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="commingrosso:AllegatiSCIACondizionataType"/>      
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiComunicazioneType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoggetti" type="suapcommon:AllegatoPossessoRequisitiAltriSoggettiType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoNotificaSanitaria" type="suapcommon:AllegatoNotificaSanitariaType" minOccurs="0"/>
            <xs:element name="allegatoSCIAVenditaProdottiAlimentazioneAnimale" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneVenditaAlcolici" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAPrevenzioniIncendi" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneVenditaGPL" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoComunicazioneVenditaGASInfiammabile" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:sequence>
            <xs:element name="allegatoAutorizzazioneVenditaFitosanitari" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneVenditaPreziosi"  type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneVenditaIngrossoFarmaciBanco" type="moduli:AllegatoType" minOccurs="0"/> 
            <xs:element name="allegatoVenditaArmiNoGuerra" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAutorizzazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    
    
    <!-- ENUMERATION -->
    
    
</xs:schema> 
