Moduli_PA/SUAP/SUAP_modulo_lavanderie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:tintolav="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"

    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.3.0">

    
    <xs:annotation>
        <xs:documentation>
            SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ DI TINTOLAVANDERIA / LAVANDERIA SELF-SERVICE A GETTONI            
        </xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/>
    
    <!-- // Modulo tintolavanderie ## internal code ref 019 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloTintoLavanderie" type="tintolav:ModuloTintoLavanderieType"/>
    
    <xs:complexType name="ModuloTintoLavanderieType" >
        <xs:annotation>
            <xs:documentation>
                SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ DI TINTOLAVANDERIA / LAVANDERIA SELF-SERVICE A GETTONI            
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica"         type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica"   type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura"                 type="tintolav:AperturaType"/>            
            <xs:element name="dichiarazioni"            type="tintolav:DichiarazioniType" minOccurs="0"/><!-- presente solo per tintolavanderie -->
            <xs:element name="altreDichiarazioni"       type="tintolav:AltreDichiarazioniType"/>
            <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
            <xs:choice>
                <xs:element name="tabellaAllegatiTintoLavanderie"     type="tintolav:TabellaAllegatiTintoLavanderieType"/>    
                <xs:element name="tabellaAllegatiLavanderieGettoni"   type="tintolav:TabellaAllegatiLavanderieGettoniType"/>
             </xs:choice>
            
        </xs:sequence>
    </xs:complexType>

    <!-- Attività : Apertura -->
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoAttivita" type="tintolav:TipoAttivitaType"/>
            <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType"/>
            <xs:element name="superficieEsercizio" type="tintolav:SuperficieEsercizioAttivitaBaseType"/>
            <xs:element name="carattereEsercizio" type="suapcommon:CarattereEsercizioType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoAttivitaType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tintolavanderia" type="basic:EmptyType"/>
                <xs:element name="LavanderiaGettoni" type="basic:EmptyType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- AGGREGATE TYPE -->
    <xs:complexType name="SuperficieEsercizioAttivitaBaseType" abstract="true"/>
    <xs:complexType name="SuperficieEsercizioAttivitaType">
        <xs:complexContent>
            <xs:extension base="tintolav:SuperficieEsercizioAttivitaBaseType">
                <xs:sequence>
                    <xs:element name="tintolavanderia_lavanderia" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="altriusi" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>

    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="dichiaranteResponsabileTecnicoRequisitiProfessionali" type="tintolav:DichiarazioniRespTecnLavaRequisitiProfessionaliType"/>
                <xs:element name="allegatoResposabileTecnicoRequisitiProfessionali" type="tintolav:AllegatoResponsabileTecnicoRequisitiProfessionaliType" maxOccurs="unbounded"/>
            </xs:choice>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniRespTecnLavaRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="corsoProfessionale" type="aggregate:IstitutoType"/>
            <xs:element name="qualificaConInserimentoImpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="aggregate:IstitutoType"/>
                        <xs:sequence>
                            <xs:element name="attivita" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo" type="xs:string"/>
                                        <xs:element name="dal" type="xs:date"/>
                                        <xs:element name="al" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                        </xs:sequence>
                    </xs:sequence> 
                </xs:complexType>             
            </xs:element>
            <xs:element name="titoloStudioInerente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="aggregate:IstitutoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="periodoInserimentoImprese">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="anniInImpresa" minOccurs="0">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="anni1" type="basic:EmptyType"/>
                                    <xs:element name="anni2" type="basic:EmptyType"/>
                                    <xs:element name="anni3" type="basic:EmptyType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:sequence>
                            <xs:element name="attivita" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo" type="xs:string"/>
                                        <xs:element name="dal" type="xs:date"/>
                                        <xs:element name="al" type="xs:date"/>
                                    </xs:sequence>              
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                        </xs:sequence>
                    </xs:sequence> 
                </xs:complexType>      
            </xs:element>
            <xs:element name="riconoscimentoQualificaMinistero" type="xs:date"/>
        </xs:choice>        
    </xs:complexType>
    
    <xs:complexType name="AllegatoResponsabileTecnicoRequisitiProfessionaliType" >
        <xs:complexContent>
            <xs:extension base="tintolav:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="dichiarazioni" type="tintolav:DichiarazioniRespTecnLavaRequisitiProfessionaliType"/>
                    <xs:element name="allegatoDocumentoIdentitaResposabileTecnico" type="moduli:AllegatoType" />
                    <xs:element name="dichiarazionePresaVisioneInformativaPrivacy" type="xs:boolean" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliBaseType" >
        <xs:complexContent>
            <xs:extension base="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType">
                <xs:sequence>
                    <xs:element name="inData" type="xs:date"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Dichiarazioni -->
    <xs:complexType name="AltreDichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BiancheriaMINORE_UGUALE_100_KG" type="basic:EmptyType"/>
                <xs:element name="BiancheriaMAGGIORE_100_KG"      type="tintolav:BiancheriaMAGGIORE_100_KGBaseType"/>
            </xs:choice>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="BiancheriaMAGGIORE_100_KGBaseType" abstract="true"/>
    <xs:complexType name="BiancheriaMAGGIORE_100_KGType">
        <xs:complexContent>
            <xs:extension base="tintolav:BiancheriaMAGGIORE_100_KGBaseType">
                <xs:sequence>
                    <xs:element name="BiancheriaMAGGIORE_100_KG" type="basic:EmptyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <!-- Allegati -->
    <xs:complexType name="TabellaAllegatiTintoLavanderieType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiTintoLavSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiTintoLavSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="suapcommon:AllegatiAltriType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TabellaAllegatiLavanderieGettoniType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiLavGettSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiLavGettSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="suapcommon:AllegatiAltriType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoci" type="suapcommon:AllegatoPossessoRequisitiAltriSociType" minOccurs="0" maxOccurs="unbounded" />
            <!-- ALLEGATO DICHIARAZIONE RESPONSABILE TECNICO INCLUSO IN DICHIARAZIONI (solo per tintolavanderia) -->
        </xs:sequence>                                
    </xs:complexType>
    
    
    <xs:complexType name="AllegatiLavGettSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAPrevenzioniIncendi" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiTintoLavSCIAUnicaType">
        <xs:complexContent>
            <xs:extension base="tintolav:AllegatiLavGettSCIAUnicaType">
                <xs:sequence>
                    <xs:element name="allegatoComunicazioneIndustriaInsalubre" type="moduli:AllegatoType" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="AllegatiLavGettSCIACondizionataType">
        <xs:sequence>
            <xs:element name="allegatoAutorizzazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoScarichiAcqueReflueAUA" type="moduli:AllegatoType"  minOccurs="0"/>
            <xs:element  name="allegatoAutorizzazioneInDeroga" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiTintoLavSCIACondizionataType">
        <xs:complexContent>
            <xs:extension base="tintolav:AllegatiLavGettSCIACondizionataType">
                <xs:sequence>
                    <xs:element name="allegatoEmissioneAtmosferaGeneraleAUA" type="moduli:AllegatoType" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
</xs:schema>