Moduli_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:strialb="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere"
    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/> 
    
    <!-- // Modulo SUAP_modulo_strutture_ricettive_alberghiere ## internal code ref 027 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloStruttureRicettiveAlberghiere" type="strialb:ModuloStruttureRicettiveAlberghiereType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloStruttureRicettiveAlberghiereType">
        <xs:annotation>
            <xs:documentation>
                SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ PER STRUTTURE RICETTIVE ALBERGHIERE
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura" type="strialb:AvvioType"/>
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="tabellaAllegati" type="strialb:TabellaAllegatiType"/> 
        </xs:sequence>        
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    
    <xs:complexType name="AvvioType">
        <xs:sequence>
            <xs:element name="denominazioneStruttura" minOccurs="1" type="xs:string"/>
            <xs:element name="carattereEsercizio" type="suapcommon:StruttureRicettiveCarattereEsercizioType"/>
            <xs:element name="tipologiaeEsercizio" type="strialb:TipologiaEsercizioBaseType"/>
            <xs:element name="classificazioneEsercizio" type="suapcommon:ClassificazioneBaseType"/>
            <xs:element name="serviziStruttura" type="suapcommon:ServiziStrutturaBaseType"/>
            <xs:element name="capacitaStruttura" type="strialb:CapacitaStrutturaBaseType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipologiaEsercizioBaseType" abstract="true"/>
    <xs:complexType name="TipologiaEsercizioType">
        <xs:complexContent>
            <xs:extension base="strialb:TipologiaEsercizioBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="albergo" type="basic:EmptyType" minOccurs="0"/>
                        <xs:element name="rta" type="basic:EmptyType" minOccurs="0"/> 
                        <xs:element name="albergoDiffuso" type="basic:EmptyType" minOccurs="0"/>
                        <xs:element name="condhotel" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="estremiRiqualificazione"  type="aggregate:ProtocolloType" minOccurs="0"/>
                                    <xs:element name="aggregazioneStrutturaEsistente"  type="basic:EmptyType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                aggregazione a una struttura alberghiera esistente di unità immobiliari a destinazione d’uso residenziale situate entro i 200 ml
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="altro" type="xs:string" minOccurs="0"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CapacitaStrutturaBaseType" abstract="true"/>
    <xs:complexType name="CapacitaStrutturaType">
        <xs:complexContent>
            <xs:extension base="strialb:CapacitaStrutturaBaseType">
                <xs:sequence>
                    <xs:element name="postiLettoComplessiviStruttura"  type="xs:integer" minOccurs="0"/>
                    <xs:element name="camere" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="camereNr"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="camerePostiLettoNr"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="distribuzioneCamere" type="strialb:DistribuzioneCamereType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="unitaAbitativeFisse" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="unitaConUsoCucina"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="postiLettoComplessivi"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="tipologia" type="suapcommon:TipologiaUnitaAbitativeFisseType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                    <xs:element name="unitaAbitativeResidenziale" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                La superficie netta delle unità abitative ad uso residenziale deve essere non superiore al 40% della superficie netta destinata a camere 
                                (Per camera si intende il singolo locale preordinato al pernottamento della clientela, al quale si accede direttamente da corridoi o altre 
                                aree comuni mediante porta munita di serratura)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="unitaAbitativeConPostiLettoNr"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="unitaAbitativeTotaliNr"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="unitaAbitativeMqTotali"  type="xs:integer" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DistribuzioneCamereType">
        <xs:sequence>
            <xs:element name="camereSingoleConBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereSingoleSenzaBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereDoppieConBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereDoppieSenzaBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereTripleConBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereTripleSenzaBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereQuadrupleConBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereQuadrupleSenzaBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camerepiu4LettiConBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camerepiu4LettiSenzaBagno"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereSuite"  type="xs:integer" minOccurs="0"/>
            <xs:element name="camereAltro"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ALLEGATI -->
    
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCIA" type="strialb:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica" type="strialb:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="strialb:AllegatiSCIACondizionataType"/>
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPlanimetrieStruttura"  type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoggetti" type="suapcommon:AllegatoPossessoRequisitiAltriSoggettiType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="allegatoPossessoRequisitiRappresentante" type="suapcommon:AllegatoPossessoRequisitiRappresentanteType" minOccurs="0"/>
            <xs:element name="allegatoDichiarazioneClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
            <xs:element name="allegatoNotificaSanitaria" type="suapcommon:AllegatoNotificaSanitariaType" minOccurs="0"/>
            <xs:element name="allegatoSCIASomministrazione" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAPrevenzioniIncendi" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIASpecificheAttivita" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAltreComunicazioniNormativaRegionale" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:sequence>
            <xs:element name="allegatoDocumentazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDomandaClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
            <xs:element name="allegatoAltreDomandeNormativaRegionale" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
</xs:schema>    