Moduli_PA/SUAP/SUAP_common_components-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"    
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:ccts="urn:un:unece:uncefact:documentation:2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="SchedaAnagraficaSUAPType">
        <xs:annotation>
            <xs:documentation>Scheda anagrafica riportante i dati del dichiarante, comune a tutti i moduli SUAP</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="datiDichiarante" type="suapcommon:DichiaranteType"/>
            <xs:element name="datiImpresa" type="suapcommon:ImpresaType"/>
            <xs:element name="datiProcuratore" type="suapcommon:ProcuratoreType" minOccurs="0"/>           
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiaranteType">
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaType">
                <xs:attribute name="inQualita" type="suapcommon:InQualitaEnum" use="required"/>
                <xs:attribute name="altro" type="xs:string"/>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ProcuratoreType">
        <xs:complexContent>
            <xs:extension base="aggregate:PersonaAnagraficaType">
                <xs:attribute name="tipoProcura" type="suapcommon:TipoProcuraEnum" use="required"/>
                <xs:attribute name="denominazioneAgenziaImprese" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ImpresaType">
        <xs:complexContent>
            <xs:extension base="aggregate:ImpresaAnagraficaType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IndirizzoContattiFoniaAttivitaType">
        <xs:sequence>
            <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
            <xs:element name="contatto" type="aggregate:ContattiFoniaType"/>
        </xs:sequence>    
    </xs:complexType>
       
    <xs:complexType name="IntegrazioneAnagraficaType">
        <xs:sequence>
            <xs:element name="indirizzoAttivita" type="suapcommon:IndirizzoContattiFoniaAttivitaType" />
            <xs:element name="datiCastali" type="moduli:DatiCatastaliBaseType"/>
        </xs:sequence>        
    </xs:complexType>
  
    <xs:complexType name="InCentroCommercialeBaseType" abstract="true"/>   
    <xs:complexType name="InCentroCommercialeType">
        <xs:complexContent>
            <xs:extension base="suapcommon:InCentroCommercialeBaseType">
                <xs:choice>
                    <xs:element name="si"  minOccurs="0" maxOccurs="1" >
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="denominazione" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="no" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciSuperficieBaseType" abstract="true" />
    <xs:complexType name="SettoriMerceologiciSuperficieType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SettoriMerceologiciSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="alimentare" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="nonAlimentare" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="VariazioneSettoriMerceologiciSuperficieType" >
        <xs:sequence>
            <xs:element name="alimentare" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:decimal"/>
                        <xs:element name="a" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nonAlimentare" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:decimal"/>
                        <xs:element name="a" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complessiva" minOccurs="0" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciBaseType" abstract="true"/>   
    <xs:complexType name="SettoriMerceologiciType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SettoriMerceologiciBaseType">
                <xs:sequence>
                    <xs:element name="alimentare"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nonAlimentare"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="OccupazioneSuperficiType">
        <xs:sequence>
            <xs:element name="nonAlimentari" type="suapcommon:OccupazioniMerciIngombrantiNonAlimentariBaseType" />
            <xs:element name="tabelleSpeciali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="generiMonopolio" minOccurs="0" type="xs:decimal"/>
                        <xs:element name="farmacie" minOccurs="0" type="xs:decimal"/>
                        <xs:element name="carburanti" minOccurs="0" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>        
    </xs:complexType>
        
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariBaseType" abstract="true"/>
    <xs:complexType name="OccupazioniMerciIngombrantiNonAlimentariType">
        <xs:complexContent>
            <xs:extension base="suapcommon:OccupazioniMerciIngombrantiNonAlimentariBaseType">
                <xs:sequence>
                    <xs:element name="merciIngombranti" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:complexType name="VariazioneOccupazioneSuperficiBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="tabelleSpeciali">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="generiMonopolio" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="farmacie" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>                            
                        </xs:element>
                        <xs:element name="carburanti" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:decimal"/>
                                    <xs:element name="a" type="xs:decimal"/>
                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>        
    </xs:complexType>
       
    <xs:complexType name="VariazioneOccupazioneSuperficiType">
        <xs:complexContent>
            <xs:extension base="suapcommon:VariazioneOccupazioneSuperficiBaseType">
                <xs:sequence>
                    <xs:element name="merciIngombranti">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="nonAlimentari" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="da" type="xs:decimal"/>
                                            <xs:element name="a" type="xs:decimal"/>
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>                                
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="SuperficieEsercizioBaseType" abstract="true"/>
    <xs:complexType name="SuperficieEsercizioType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SuperficieEsercizioBaseType">
                <xs:sequence>
                    <xs:element name="mq" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ModalitaVenditaSuperficieBaseType" abstract="true" />
    <xs:complexType name="ModalitaVenditaSuperficieType">
        <xs:complexContent>
            <xs:extension base="suapcommon:ModalitaVenditaSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="dettaglio" minOccurs="0" type="xs:decimal"/>
                    <xs:element name="dettaglioIngrosso" minOccurs="0" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="ModalitaVenditaType">
        <xs:sequence>
            <xs:element name="dettaglio"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dettaglioIngrosso"  type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TrasferimentoDaAType">
        <xs:sequence>
            <xs:element name="da">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
                        <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="a">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="indirizzo" type="suapcommon:IndirizzoContattiFoniaAttivitaType"/>
                        <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeBaseType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AmpliamentoSuperficieVenditaType">
        <xs:sequence>
            <xs:element name="DaMq" type="xs:decimal"/>
            <xs:element name="AMq" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SuperficieDaABaseType" abstract="true"/>
    <xs:complexType name="SuperficieDaAType">
        <xs:complexContent>
            <xs:extension base="suapcommon:SuperficieDaABaseType">
                <xs:sequence>
                    <xs:element name="DaMq" type="xs:decimal"/>
                    <xs:element name="AMq" type="xs:decimal"/>                                 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>                
    </xs:complexType> 
    
    <xs:complexType name="RequisitiAntimafiaType">
        <xs:sequence>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="ResponsabileAttivitàProduttiveRequisitiAntimafiaType">
        <xs:sequence>
            <xs:element name="responsabile" type="aggregate:PersonaAnagraficaType"/>
            <xs:element name="inQualita">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="societa" type="xs:string"/>
                            <xs:element name="dittaindividuale" type="xs:string"/>
                        </xs:choice>
                        <xs:element name="data" type="xs:date"/> <!-- -->
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dichiarazione" type="suapcommon:AltreDichiarazioniAltroBaseType"/>     <!-- -->        
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CarattereStagionaleBaseType" abstract="true"/>
    <xs:complexType name="CarattereStagionaleType">
        <xs:complexContent>
            <xs:extension base="suapcommon:CarattereStagionaleBaseType">
                <xs:sequence>
                    <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded" type="aggregate:PeriodoType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CarattereTemporaneoBaseType" abstract="true"/>
    <xs:complexType name="CarattereTemporaneoType">
        <xs:complexContent>
            <xs:extension base="suapcommon:CarattereTemporaneoBaseType">
                <xs:sequence>
                    <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded" type="aggregate:PeriodoType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence><!-- scelta multipla -->
            <xs:element name="CaratterePermanente"  minOccurs="0" maxOccurs="1" />
            <xs:element name="CarattereStagionale" type="suapcommon:CarattereStagionaleBaseType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="dichiaranteRequisitiProfessionali" type="suapcommon:DichiaranteRequisitiProfessionaliType"/>
                <xs:element name="prepostoRequisitiProfessionali" type="suapcommon:PrepostoRequisitiProfessionaliType"/>
            </xs:choice>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiaranteRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="corsoProfessionale" type="aggregate:IstitutoType"/>
            <xs:element name="esercitatoInProprio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attivita" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="tipo" type="xs:string"/>
                                    <xs:element name="dal" type="xs:date"/>
                                    <xs:element name="al" type="xs:date"/>
                                </xs:sequence>              
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="iscrizioneRegistroImprese" type="aggregate:CCIAAType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="prestatoOpera">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="impresa">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nome" type="xs:string"/>
                                    <xs:element name="indirizzo" type="aggregate:IndirizzoType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:choice>
                            <xs:element name="ruolo" type="suapcommon:RuoloInImpresa"/>
                            <xs:element name="altroRuolo" type="xs:string"/>
                        </xs:choice>
                        <xs:element name="iscrittoINPS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="da" type="xs:date"/>
                                    <xs:element name="a" type="xs:date"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>             
            </xs:element>
            <xs:element name="titoloStudio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="istituto" type="xs:string"/>
                        <xs:element name="annoConclusione" type="xs:integer"/>
                        <xs:element name="materiaAttinente" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="possessoRequisitoPraticaProfessionale">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="iscrittoREASettoreAlimentare">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="anno" type="xs:integer"/>
                                    <xs:element name="CCIAA" type="enumeration:CCIAAEnum"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="esameIdoneitaREA">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="anno" type="xs:integer"/>
                                    <xs:element name="presso" type="xs:string"/>                                    
                                </xs:sequence>
                                <xs:attribute name="sezioneSpecialeTurismo" type="xs:boolean" default="false"/>
                            </xs:complexType>
                        </xs:element>
                        
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:choice>        
    </xs:complexType>
    
    <xs:complexType name="PrepostoRequisitiProfessionaliType">
        <xs:sequence>
            <xs:element name="preposto" type="aggregate:PersonaAnagraficaType"/>
            <xs:element name="inData" type="xs:date"/>
            <xs:element name="requisiti" type="suapcommon:DichiaranteRequisitiProfessionaliType"/>            
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltroRequisitoProfessionaleBaseType" abstract="true"/>
    <xs:complexType name="AltroRequisitoProfessionaleType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AltroRequisitoProfessionaleBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" maxOccurs="unbounded"/>  
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="responsabileTecnico" type="aggregate:PersonaAnagraficaType"/>
            <xs:element name="inQualita">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="dittaIndividuale" type="xs:string"/>
                        <xs:element name="societa" type="xs:string"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniAcconciatoriRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="abilitazioneProfessionale">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rilasciataDa" type="xs:string"/>
                        <xs:element name="atto" type="aggregate:AttoBaseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="possessoQualificaProfessionale">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rilasciataDa" type="xs:string"/>
                        <xs:element name="atto" type="aggregate:AttoBaseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="altro" type="suapcommon:AltroRequisitoProfessionaleBaseType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniEstetistiRequisitiProfessionaliType">
        <xs:choice>
            <xs:element name="possessoQualificaProfessionale" type="aggregate:AttoRilasciatoDaType"/>
            <xs:element name="abilitazioneProfessionale">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="titolare" type="aggregate:ImpresaREAType"/>
                        <xs:element name="socio" type="aggregate:ImpresaREAType"/>
                        <xs:element name="direzione" type="aggregate:ImpresaREAType"/>
                        <xs:element name="dipendente">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="impresaStudioMedico" type="xs:string"/>
                                    <xs:element name="periodoDalAl" type="basic:PeriodoDateType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="frequenzaCorso">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="corsoRegionale" type="aggregate:AttoRilasciatoDaType" />
                        <xs:element name="corsoScuolaProfessionale" type="aggregate:AttoRilasciatoDaType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>  
            <xs:element name="riconoscimentoQualificaEsteraAutoritaItaliana" type="aggregate:AttoBaseType"/>
            <xs:element name="altro" type="suapcommon:AltroRequisitoProfessionaleBaseType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="NotificaSanitariaType">
       <xs:sequence>
           <xs:choice>
               <xs:element name="apertura" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaAperturaType"/>
               <xs:element name="subingresso" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaSubingressoType"/>
               <xs:element name="modificaAttivita" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariModificaAttivitaType"/>
               <xs:element name="cessazioneSospensione" minOccurs="0" maxOccurs="1" type="suapcommon:NotificaSanitariaCessazioneSospensioneType"/>
           </xs:choice>
           <xs:element name="note" type="xs:string" minOccurs="0"/>
       </xs:sequence>      
   </xs:complexType>
    
    <xs:complexType name="NotificaSanitariaRelativaBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="dichiarante">
                <xs:complexType>
                    <xs:group ref="aggregate:PersonaBaseGroup"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="NotificaSanitariaAperturaType">
      <xs:complexContent>
          <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
             <xs:sequence>
                 <xs:element name="sedeFissa" type="xs:boolean" />
                 <xs:element name="sede" type="aggregate:IndirizzoType"/>
                 <xs:element name="contatti" >
                     <xs:complexType>
                         <xs:complexContent>
                             <xs:extension base="aggregate:ContattiFoniaType">
                                 <xs:sequence>
                                     <xs:element name="altroDomicilioElettronico" type="xs:string"/>
                                 </xs:sequence>
                             </xs:extension>
                         </xs:complexContent>
                     </xs:complexType>
                 </xs:element>
                 <xs:element name="tipologiaAttivita" type="suapcommon:NotificaSanitariaTipologiaAttivitaType"/>
                 <xs:element name="inizioAttivita" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
             </xs:sequence>
          </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="NotificaSanitariaSubingressoType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="soggettoDitta" type="xs:string"/>
                    <xs:choice>
                        <xs:element name="codiceFiscale" type="basic:CodiceFiscaleType"/>
                        <xs:element name="pIVA" type="basic:PIVA"/>
                    </xs:choice>
                    <xs:element name="protocolloTrasferimento" type="aggregate:ProtocolloStandardType"/>
                    <xs:element name="inizioAttivita" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="NotificaSanitariModificaAttivitaType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="tipologiaAttivita" type="suapcommon:NotificaSanitariaTipologiaAttivitaType"/>
                    <xs:element name="decorrenzaModifiche" type="suapcommon:NotificaSanitariaDecorrenzaType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
     
    <xs:complexType name="NotificaSanitariaCessazioneSospensioneType">
        <xs:complexContent>
            <xs:extension base="suapcommon:NotificaSanitariaRelativaBaseType">
                <xs:sequence>
                    <xs:element name="protocolloAttivita" type="aggregate:ProtocolloStandardType"/>
                    <xs:element name="sede" type="aggregate:IndirizzoType"/>
                    <xs:choice>
                        <xs:element name="dataCessazione" type="xs:date"/>
                        <xs:element name="periodoSospensione" type="basic:PeriodoDateType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:complexType name="NotificaSanitariaDecorrenzaType">
        <xs:choice>
            <xs:element name="contestuale" type="basic:EmptyType"/>
            <xs:element name="decorrenza" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dal" type="xs:date"/>
                        <xs:element name="termine" type="xs:date" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
     
    <xs:complexType name="NotificaSanitariaTipologiaAttivitaType">
        <xs:sequence>
            <xs:element name="produzionePrimaria" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cacciaEraccoltaSelvaggina" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PescaEimbarcazioniDaPesca" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="raccoltaEimbarcazioniRaccoltaMolluschi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaLatte" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaUova" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="venditaDirettaMiele" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="raccolaFunghiTartufi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/> 
                        <xs:element name="raccoltaVegetaliSpontanei" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="coltivazioniPermanentiUsoAlimentare" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="coltivazioniNonPermanentiUsoAlimentare" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="vegetaliProduzioneTrasformazioneConfezionamento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conserveVegetaliIIGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="vegetaliCongelatiSurgelatiIIIGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="freshCutIVGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ortofrutticoliPrecottiVGamma" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="secchiTostatiSpezie" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="succhiFruttaOrtaggi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="olio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/> 
                        <xs:element name="grassiVegetali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="viniMosti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="alcolici" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="sidroAltriViniBaseFrutta" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="birraAltreFermetateNonDistillate" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="molituraFrumentoAltriCereali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="lavorazioneRiso" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="altreLavorazioniSemiGranaglieLegumi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="amidiProdottiAmidacei" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="zucchero" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="caffe" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="teAltriInfusi" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="homeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="prodottiFornoPasticceriaGelatiPiattiPronti" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="produzionePastaFrescaSeccaFarinaceiSimili" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzionePanePizzaAltri" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzionePasticceria" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneGelateria" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneCacaoCioccolatoConfetterie" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneCibiPronti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneHomeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="altriAlimentiProduzioneTrasformazione" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bibiteAnalcolicheAcqueBottiglia" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ghiaccio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="saleEstrazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="saleIodato" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="alimentiAnimaliProduzioneTrasformazioneConfezionamento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="prodottiPescaAziendeAcquacoltura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="avicoliCunicoli" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="carniLavorazioneImpiantiAnnessiEsercizio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiPescaLavorazioneImpiantiAnnessiEsercizio" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiApiarioRaccoltaLavorazione" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="prodottiBaseLatte" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="produzioneHomeFood" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
                
            <xs:element name="ristorazione" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="produzionePastiProntiRistorazioneCollettiva" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="somministrazioneRistorazioneCollettiva" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="somministrazioneDirettaRistorazionePubblica" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="barAssimilati" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ristorazioneInManifestazioniTemporanee" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="homeRestaurant" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="commercioIngrossoAlimentiBevande" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cashCarry" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="broker" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ingrossoConDeposito" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="commercioDettaglioAlimentiBevande" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inEsercizioVicinato" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inMediaStruttura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inGrandeStruttura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="perCorrispondenzaFormeSpeciali" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="commercioAmbulante" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="aPostoFisso" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inFormaItinerante" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="distributori" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="automaticiAlimentiBevande" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="latteCrudo" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="acquaPotabileTrattata" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="depositoAlimentiBevandeContoTerziNoRisconoscimento" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="piattaformaDistribuzioneAlimenti" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            
            <xs:element name="depositoAlimentiBevandeAnnessoEsercizi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element name="trasportoAlimentiBevandeContoTerzi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inCisternaInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inCisternaNonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nonInRegimeTemperatura" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="altro" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
            
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="FileAttachmentType">
        <xs:sequence>
            <xs:element name="contenuto" type="xs:base64Binary"/>
            <xs:element name="mimeType" type="enumeration:MimeTypeEnum"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="AllegatoBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="file" type="suapcommon:FileAttachmentType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatoType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AllegatoBaseType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- IMPLEMENTATO NELL'IPOTESI DI SCELTA MULTIPLA, DA VERIFICA SE INVECE SCELTA SINGOLA IN QUESTO CASO SEMPLIFICARE CON ENUMERATION -->
    <xs:complexType name="VariazioniTabelleSpecialiType">
        <xs:sequence>
        <xs:element name="aggiunta" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        <xs:element name="eliminazione" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        <xs:element name="sostituzione" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniType">
        <xs:sequence>
            <xs:element name="altro" type="suapcommon:AltreDichiarazioniAltroBaseType" minOccurs="0"/>                    
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniAltroBaseType" abstract="true"/>
    <xs:complexType name="AltreDichiarazioniAltroType">
        <xs:complexContent>
            <xs:extension base="suapcommon:AltreDichiarazioniAltroBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" maxOccurs="unbounded"/>  
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="VenditaEsclusivaType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DIPENDENTI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="MILITARI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="SOCI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="ACCESSO_SCUOLE" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
                <xs:element name="ACCESSO_OSPEDALI" minOccurs="0" maxOccurs="1" type="basic:EmptyType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    
    
    <!-- ELEMENTI ALLEGATI -->     
    <xs:element name="allegatoProcuraDelega" type="suapcommon:AllegatoBaseType"  >
        <xs:annotation>
            <xs:documentation xml:lang="it">
               <ccts:Definition>Procura/delega</ccts:Definition>
               <ccts:UsageRule>Nel caso di procura/delega a presentare la segnalazione/domanda/comunicazione</ccts:UsageRule>
           </xs:documentation>
        </xs:annotation>
    </xs:element> 
    
    <xs:element name="allegatoDocumentoIdentitaTitolare" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Copia del documento di identità del/i titolare/i</ccts:Definition>
                <ccts:UsageRule>Nel caso in cui la segnalazione non sia sottoscritta in forma digitale e in assenza di procura</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    
    <xs:element name="allegatoNotificaSanitaria"  >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di vendita per corrispondenza di prodotti alimentari</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di esercizio alimentare</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di media o grande struttura di vendita alimentare</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di commercio in spacci interni di prodotti alimentari</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di vendita mediante apparecchi automatici di prodotti alimentari</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria in caso di commercio presso il domicilio dei consumatori di prodotti alimentari</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Notifica sanitaria (art. 6, Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>Nel caso di subingresso in attività di vendita e/o somministrazione di prodotti alimentari</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
        
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="suapcommon:AllegatoBaseType">
                    <xs:sequence>
                        <xs:element name="notificaSanitaria" type="suapcommon:NotificaSanitariaType"/>                        
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
            
        </xs:complexType>
    </xs:element>
    
    <xs:element name="allegatoVenditaProdottiAlimentazioneAnimale" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>SCIA per la vendita di prodotti agricoli e zootecnici, mangimi, prodotti di origine minerale e chimico industriale</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di prodotti agricoli e zootecnici, mangimi, prodotti di origine minerale e chimico industriali destinati all’alimentazione animale</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoComunicazioneAlcolici" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione, che vale quale denuncia ai sensi del D.Lgs. n. 504/1995 per la vendita di alcolici</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di alcolici</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoPrevenzioniIncendi" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>SCIA prevenzione incendi</ccts:Definition>
                <ccts:UsageRule>In caso di esercizio con superficie totale lorda, comprensiva di servizi e depositi (es. magazzini), superiore a 400 mq, o comunque se l’attività ricade in uno qualsiasi dei punti dell’Allegato I al D.P.R. n. 151/2011, ovvero 
                    In caso di vendita di gas liquefatti (GPL) in recipienti mobili con quantitativi superiori o uguali a 75 kg, ovvero 
                    In caso di vendita di gas infiammabili in recipienti mobili compressi con capacità geometrica complessiva superiore o uguale a 0,75 mc
                    Nel caso di a) officine di riparazioni di veicoli a motore, rimorchi per autoveicoli e carrozzerie, di superficie coperta superiore a 300mq. B) officine meccaniche per lavorazioni a freddo con oltre 25 addetti
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
     </xs:element>
    
    <xs:element name="allegatoVenditaFarmaciBanco" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione per la vendita di farmaci da banco e medicinali veterinari</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di farmaci da banco o medicinali veterinari</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoVenditaGPL" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione per la vendita di gas di petrolio liquefatto (GPL) per combustione</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di gas di petrolio liquefatto (GPL) per combustione</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoVenditaGASInfiammabile" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione, che vale quale denuncia per la vendita di gas infiammabili in recipienti mobili compressi (D.Lgs. n. 504/1995)</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di gas infiammabili in recipienti mobili compressi</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoInsegnaEsercizio" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Autorizzazione per insegna di esercizio</ccts:Definition>
                <ccts:UsageRule>In caso di attività che preveda insegna esterna (dove è prevista la domanda di autorizzazione)</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta dell’autorizzazione per insegna di esercizio</ccts:Definition>
                <ccts:UsageRule>In caso di attività che preveda insegna esterna (dove è prevista la domanda di autorizzazione)</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>SCIA per insegna di esercizio</ccts:Definition>
                <ccts:UsageRule>In caso di attività che preveda insegna esterna (dove è prevista la SCIA)</ccts:UsageRule>
            </xs:documentation> 
        </xs:annotation>
        
    </xs:element>
    
    <xs:element name="allegatoVenditaFitosanitari" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per il rilascio dell’autorizzazione per la vendita di prodotti fitosanitari</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di prodotti fitosanitari</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoVenditaPreziosi" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta dell’autorizzazione di Pubblica Sicurezza per la vendita di oggetti preziosi</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di oggetti preziosi</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoVenditaArmi" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta dell’autorizzazione di Pubblica Sicurezza per la vendita di armi diverse da quelle da guerra</ccts:Definition>
                <ccts:UsageRule>In caso di vendita di armi diverse da quelle da guerra</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>       
    </xs:element>    
    
    <xs:element name="allegatoVersamentoOneri" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Attestazione del versamento di oneri, di diritti, ecc.(*)</ccts:Definition>
                <ccts:UsageRule>Nella misura e con le modalità indicate sul sito dell’amministrazione</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoImpostaDiBollo" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Attestazione del versamento dell’imposta di bollo: estremi del codice identificativo della marca da bollo, che deve essere annullata e conservata dall’interessato;
                    ovvero  
                    Assolvimento dell’imposta di bollo con le altre modalità previste, anche in modalità virtuale o tramite bollo
                </ccts:Definition>
                <ccts:UsageRule>Obbligatoria in caso di presentazione di un’istanza contestuale alla SCIA (SCIA condizionata)</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Attestazione del versamento dell’imposta di bollo: estremi del codice identificativo della marca da bollo, che deve essere annullata e conservata dall’interessato;
                    ovvero 
                    Assolvimento dell’imposta di bollo con le altre modalità previste, anche in modalità virtuale o tramite bollo
                </ccts:Definition>
                <ccts:UsageRule>Obbligatoria per la presentazione di una domanda</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Attestazione del versamento dell’imposta di bollo: estremi del codice identificativo della marca da bollo, che deve essere annullata e conservata dall’interessato;
                    ovvero 
                    Assolvimento dell’imposta di bollo con le altre modalità previste, anche in modalità virtuale o tramite bollo
                </ccts:Definition>
                <ccts:UsageRule>Obbligatoria in caso di presentazione di un’istanza contestuale alla SCIA unica (SCIA condizionata)</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoAltraDocumentazioneRegionale" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Altra documentazione prevista dalla normativa regionale (*) Esempi: Piano parcheggi, viabilità, ecc.</ccts:Definition>
                <ccts:UsageRule>Se espressamente prevista dalla normativa regionale di settore</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Altre comunicazioni o segnalazioni previste dalla normativa regionale (*)</ccts:Definition>
                <ccts:UsageRule>Se espressamente prevista dalla normativa regionale di settore</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Altre domande previste dalla normativa regionale (*)</ccts:Definition>
                <ccts:UsageRule>Se espressamente prevista dalla normativa regionale di settore</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
          
    <xs:element name="allegatoProdottiOrigineAnimale" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta di Riconoscimento per la produzione e la commercializzazione dei prodotti di origine animale (Reg.CE n. 853/2004) o non animale (Reg.CE n. 852/2004)</ccts:Definition>
                <ccts:UsageRule>In caso di produzione e commercializzazione dei prodotti di origine animale o non animale</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoPlanimetrieLocali" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Planimetria quotata dei locali</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Planimetria quotata dei locali in scala minima 1:100 con layout superfici di vendita, attrezzature, arredi</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria
                    (Eccettuato il caso di affitto di poltrona) (*)
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoRelazioneLocali" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Relazione descrittiva delle caratteristiche dei locali medesimi, della loro localizzazione e attrezzatura utilizzata per il servizio (*)</ccts:Definition>
                <ccts:UsageRule>Sempre obbligatoria (Eccettuato il caso di affitto di poltrona) (*)
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoScaricoAcqueAUA" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per il rilascio dell’Autorizzazione Unica Ambientale (AUA) per scarico delle acque</ccts:Definition>
                <ccts:UsageRule>In caso di attività di acconciatore con consumo idrico giornaliero superiore a 1 m3 al momento di massima attività</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation> 
    </xs:element>
    
    <xs:element name="allegatoRichiestaAutorizAUA" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta dell’autorizzazione generale o AUA (nel caso di più autorizzazioni) alle emissioni in atmosfera</ccts:Definition>
                <ccts:UsageRule>Nel caso di panificazione, pasticceria e affini con consumo di farina giornaliero >300 kg e 1500 kg</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoEmissAtmosferaAUA" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta di AUA per l’autorizzazione ordinaria alle emissioni in atmosfera</ccts:Definition>
                <ccts:UsageRule>Nel caso di panificazione, pasticceria e affini con consumo di farina > 1500 kg/giorno</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    

    
    <xs:element name="allegatoImpattoAcustico" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione di impatto acustico</ccts:Definition>
                <ccts:UsageRule>In caso di utilizzo di impianti di diffusione sonora o di manifestazioni ed eventi con diffusione di musica o utilizzo di strumenti musicali, se non si superano le soglie della zonizzazione comunale</ccts:UsageRule>
            </xs:documentation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per il rilascio del nulla osta di impatto acustico</ccts:Definition>
                <ccts:UsageRule>In caso di utilizzo di impianti di diffusione sonora o di manifestazioni ed eventi con diffusione di musica o utilizzo di strumenti musicali, se si superano le soglie della zonizzazione comunale</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoDichiarazioneNotaio" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Dichiarazione da parte del notaio</ccts:Definition>
                <ccts:UsageRule>Nel caso in cui l’atto alla base del subingresso sia in corso di registrazione</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoIncaricatiVendita">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nuoviIncaricati" type="aggregate:PersonaAnagraficaNascitaType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="cessatiIncaricati" type="aggregate:PersonaAnagraficaNascitaType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>

    <xs:element name="allegatoAutorizzazioneInDeroga" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta di autorizzazione in deroga</ccts:Definition>
                <ccts:UsageRule>Nel caso di attività ubicata in locali sotterranei o semisotterranei che non dia luogo a emissioni di agenti nocivi</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
        
    </xs:element>
    
    <xs:element name="allegatoIndustriaInsalubre" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Comunicazione al Sindaco per industria insalubre</ccts:Definition>
                <ccts:UsageRule>In caso di carrozzeria (L’attività può essere avviata dopo 15 giorni)
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="allegatoEmissioneAtmosferaGenerale" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta dell’autorizzazione generale o AUA (nel caso di più autorizzazioni) alle emissioni in atmosfera</ccts:Definition>
                <ccts:UsageRule>Nel caso di attività di riparazione e verniciatura di carrozzerie di autoveicoli, mezzi e macchine agricole con utilizzo di impianti a ciclo aperto e utilizzo complessivo di prodotti vernicianti pronti all’uso giornaliero non superiore a 20 kg
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="allegatoEmissioneAtmosferaAUA" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta di AUA per emissioni in atmosfera</ccts:Definition>
                <ccts:UsageRule>Nel caso di attività di riparazione e verniciatura di carrozzerie di autoveicoli, mezzi e macchine agricole con utilizzo di impianti a ciclo aperto e utilizzo complessivo di prodotti vernicianti pronti all’uso giornaliero superiore a 20 kg
                </ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="allegatoScarichiAcqueReflueAUA" type="suapcommon:AllegatoBaseType" >
        <xs:annotation>
            <xs:documentation xml:lang="it">
                <ccts:Definition>Documentazione per la richiesta di AUA per gli scarichi di acque reflue </ccts:Definition>
                <ccts:UsageRule>Nel caso di impiego di lavatrici ad acqua analoghe a quelle di uso domestico e che effettivamente trattino oltre 100 kg di biancheria al giorno</ccts:UsageRule>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ENUMERATION -->   

    
    <xs:simpleType name="InQualitaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TITOLARE"/>
            <xs:enumeration value="LEGALE_RAPPRESENTATE"/>
            <xs:enumeration value="ALTRO"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="RuoloInImpresa">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIPENDENTE_QUALIFICATO"/>
            <xs:enumeration value="COADIUTORE_FAMILIARE"/>
            <xs:enumeration value="SOCIO_LAVORATORE"/>
        </xs:restriction>
    </xs:simpleType>
       
    <xs:simpleType name="TipoProcuraEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROCURA_DELEGA"/>
            <xs:enumeration value="AGENZIA_IMPRESE"/>
        </xs:restriction>
    </xs:simpleType>
    

    
</xs:schema>