Moduli_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:strialb="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_alberghiere"
    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/> 
    
    <!-- // Modulo SUAP_modulo_strutture_ricettive_alberghiere ## internal code ref 027 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloStruttureRicettiveAlberghiere" type="strialb:ModuloStruttureRicettiveAlberghiereType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloStruttureRicettiveAlberghiereType">
        <xs:annotation>
            <xs:documentation>
                SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ PER STRUTTURE RICETTIVE ALBERGHIERE
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura" type="strialb:AvvioType"/>
            
            
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="tabellaAllegati" type="striaa:TabellaAllegatiType"/> 
        </xs:sequence>        
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    
    <xs:complexType name="AvvioType">
        <xs:sequence>
            <xs:element name="denominazioneStruttura" minOccurs="1" type="xs:string"/>
            <xs:element name="carattereEsercizio" type="suapcommon:CarattereEsercizioType"/>
            <xs:element name="tipologiaeEsercizio" type="striaa:TipologiaEsercizioBaseType"/>
            <xs:element name="classificazioneEsercizio" type="striaa:ClassificazioneBaseType"/>
            <xs:element name="serviziStruttura" type="striaa:ServiziStrutturaBaseType"/> 
            <xs:element name="capacitaStruttura" type="striaa:CapacitaStrutturaBaseType"/>
        </xs:sequence>
    </xs:complexType>
   
    
   
    <xs:complexType name="TipologiaEsercizioBaseType" abstract="true"/>
    <xs:complexType name="TipologiaEsercizioType">
        <xs:complexContent>
            <xs:extension base="striaa:TipologiaEsercizioBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="campeggio" type="basic:EmptyType" minOccurs="0"/>
                        <xs:element name="villaggioturistico" type="basic:EmptyType" minOccurs="0"/> 
                        <xs:element name="altro" type="xs:string" minOccurs="0"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ClassificazioneBaseType" abstract="true"/>
    <xs:complexType name="ClassificazioneType">
        <xs:complexContent>
            <xs:extension base="striaa:ClassificazioneBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" minOccurs="0"/>
                    <xs:element name="estremiPlanimetria" type="aggregate:ProtocolloType" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ServiziStrutturaBaseType" abstract="true"/>
    <xs:complexType name="ServiziStrutturaType">
        <xs:complexContent>
            <xs:extension base="striaa:ServiziStrutturaBaseType">
                
                <xs:sequence>
                    <xs:element name="somministrazioneAlimenti">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="basic:EmptyType" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                
                    <xs:element name="piscina">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="ImpiantiperClienti" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="nrImpianti"  type="xs:integer" minOccurs="0"/>
                                                <xs:element name="mqImpianto"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ImpiantiAlPubblico"  minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="nrImpianti"  type="xs:integer" minOccurs="0"/>
                                                <xs:element name="mqImpianto"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="centroBenessere">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="xs:integer" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="xs:integer" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="palestra">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="basic:EmptyType" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="altro"  type="xs:string" minOccurs="0"/>
                    
                    <xs:element name="serviziGestitiDaTerzi" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="descrizioneServizio"  type="xs:string" minOccurs="0"/>
                                <xs:element name="gestore"  type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CapacitaStrutturaBaseType" abstract="true"/>
    <xs:complexType name="CapacitaStrutturaType">
        <xs:complexContent>
            <xs:extension base="striaa:CapacitaStrutturaBaseType">
                <xs:sequence>
                    <xs:element name="capacitaRicettivaMassima"  type="xs:integer" minOccurs="0"/>
                    <xs:element name="piazzole" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="libere"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="attrezzate"  type="xs:integer" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="unitaAbitativeFisse" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="unita"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="postiLettoComplessivi"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="tipologia" type="striaa:TipologiaUnitaAbitativeFisseBaseType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TipologiaUnitaAbitativeFisseBaseType" abstract="true"/>
    <xs:complexType name="TipologiaUnitaAbitativeFisseType">
        <xs:complexContent>
            <xs:extension base="striaa:TipologiaUnitaAbitativeFisseBaseType">
                <xs:sequence>
                    
                    <xs:element name="tipologia" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="unitaStessoTipo"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="monolocali"  type="basic:EmptyType" minOccurs="0"/>
                                <xs:element name="appartamenti"  type="basic:EmptyType" minOccurs="0"/>
                                <xs:element name="nrCamere"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="soggiornoInVanoPernotto"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="soggiornoInDiversoDaPernotto"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="cucinaInVanoSeparato"  type="basic:EmptyType" minOccurs="0"/>
                                <xs:element name="bagniPrivati"  type="xs:integer" minOccurs="0"/>
                                <xs:element name="totalePostiLetto"  type="xs:integer" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- ALLEGATI -->
    
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatiSCIA" type="striaa:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica" type="striaa:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="striaa:AllegatiSCIACondizionataType"/>
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPlanimetrieStruttura"  type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="AllegatoPossessoRequisitiAltriSoci" type="suapcommon:AllegatoPossessoRequisitiAltriSociType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="allegatoPossessoRequisitiRappresentanteTulp" type="suapcommon:AllegatoPossessoRequisitiRappresentanteTulpsType" minOccurs="0"/>
            <xs:element name="allegatoDichiarazioneClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoSCIAClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
            <xs:element name="allegatoSCIAPrevenzioniIncendi" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoNotificaSanitaria" type="suapcommon:AllegatoNotificaSanitariaType" minOccurs="0"/>
            <xs:element name="allegatoSCIASomministrazione" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIAInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoSCIASpecificheAttivita" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoAltreComunicazioniNormativaRegionale" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIACondizionataType">
        <xs:sequence>
            <xs:element name="allegatoDocumentazioneInsegnaEsercizio" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDomandaClassificazioneStruttura" type="moduli:AllegatoBaseType" minOccurs="0"/>
            <xs:element name="allegatoAltreDomandeNormativaRegionale" type="moduli:AllegatoBaseType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
</xs:schema>    