Moduli_PA/SUAP/SUAP_modulo_strutture_ricettive_aria_aperta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:striaa="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_aria_aperta"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/SUAP_modulo_strutture_ricettive_aria_aperta"
    elementFormDefault="qualified" attributeFormDefault="qualified" version="1.2.0">
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration.xsd"/> 
    
    <!-- // Modulo SUAP_modulo_strutture_ricettive_aria_aperta ## internal code ref 026 // -->
    
    <!-- ROOT ELEMENT -->
    <xs:element name="ModuloStruttureRicettiveAriaAperta" type="striaa:ModuloStruttureRicettiveAriaApertaType"/>
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloStruttureRicettiveAriaApertaType">
        <xs:annotation>
            <xs:documentation>
                SEGNALAZIONE CERTIFICATA DI INIZIO ATTIVITÀ PER STRUTTURE RICETTIVE ALL’ARIA APERTA
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedaAnagrafica" type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica" type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura" type="striaa:AvvioType"/>
            



            
            
            <xs:element name="altreDichiarazioni" type="suapcommon:AltreDichiarazioniType"/>
            <xs:element name="tabellaAllegati" type="somnonadenoncom:TabellaAllegatiType"/> 
        </xs:sequence>        
    </xs:complexType>
    
    <!-- BASIC COMPONENTS TYPE -->
    
    <xs:complexType name="AvvioType">
        <xs:sequence>
            <xs:element name="denominazioneStruttura" minOccurs="1" type="xs:string"/>
            <xs:element name="carattereEsercizio" type="striaa:CarattereEsercizioType"/>
            <xs:element name="tipologiaeEsercizio" type="striaa:TipologiaEsercizioBaseType"/>
            <xs:element name="classificazioneEsercizio" type="striaa:ClassificazioneBaseType"/>
            <xs:element name="serviziStruttura" type="striaa:ServiziStrutturaBaseType"/> 
            <xs:element name="capacitaStruttura" type="striaa:CapacitaStrutturaBaseType"/>
        </xs:sequence>
    </xs:complexType>



    <!-- ALLEGATI -->
    <xs:complexType name="CarattereEsercizioType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="annuale" type="basic:EmptyType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="stagionale" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dal" type="xs:date"/>
                            <xs:element name="al" type="xs:date"/>
                        </xs:sequence>              
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="TipologiaEsercizioBaseType" abstract="true"/>
    <xs:complexType name="TipologiaEsercizioType">
        <xs:complexContent>
            <xs:extension base="striaa:TipologiaEsercizioBaseType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="campeggio" type="basic:EmptyType" minOccurs="0"/>
                        <xs:element name="villaggioturistico" type="basic:EmptyType" minOccurs="0"/> 
                        <xs:element name="altro" type="xs:string" minOccurs="0"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ClassificazioneBaseType" abstract="true"/>
    <xs:complexType name="ClassificazioneType">
        <xs:complexContent>
            <xs:extension base="striaa:ClassificazioneBaseType">
                <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" minOccurs="0"/>
                    <xs:element name="estremiPlanimetria" type="aggregate:ProtocolloType" minOccurs="0"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ServiziStrutturaBaseType" abstract="true"/>
    <xs:complexType name="ServiziStrutturaType">
        <xs:complexContent>
            <xs:extension base="striaa:ServiziStrutturaBaseType">
                
                <xs:sequence>
                    <xs:element name="somministrazioneAlimenti">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="basic:EmptyType" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element> 
                
                    <xs:element name="piscina">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="ImpiantiperClienti" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="nrImpianti"  type="xs:integer" minOccurs="0"/>
                                                <xs:element name="mqImpianto"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ImpiantiAlPubblico"  minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="nrImpianti"  type="xs:integer" minOccurs="0"/>
                                                <xs:element name="mqImpianto"  type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="centroBenessere">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="xs:integer" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="xs:integer" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="palestra">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice>
                                    <xs:element name="no"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioPerClienti"  type="basic:EmptyType" minOccurs="0"/>
                                    <xs:element name="servizioAlPubblico"  type="basic:EmptyType" minOccurs="0"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="altro"  type="xs:string" minOccurs="0"/>
                    
                    <xs:element name="serviziGestitiDaTerzi" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="descrizioneServizio"  type="xs:string" minOccurs="0"/>
                                <xs:element name="gestore"  type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CapacitaStrutturaBaseType" abstract="true"/>
    <xs:complexType name="CapacitaStrutturaType">
        <xs:complexContent>
            <xs:extension base="striaa:CapacitaStrutturaBaseType">
                <xs:sequence>
                     
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    ..................................
    
    <xs:complexType name="TabellaAllegatiType">
        <xs:sequence>
            <xs:element name="allegatoPrivacy" type="suapcommon:AllegatoPrivacyType"/>
            <xs:element name="allegatiSCIA" type="somnonadenoncom:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica" type="somnonadenoncom:AllegatiSCIAUnicaType"/>
            <xs:element name="allegatiAltri" type="suapcommon:AllegatiAltriType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element name="allegatoProcuraDelega" type="moduli:AllegatoType" minOccurs="0"/>
            <xs:element name="allegatoDocumentoIdentitaTitolare" type="moduli:AllegatoType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="allegatoPossessoRequisitiAltriSoggetti" type="suapcommon:AllegatoPossessoRequisitiAltriSoggettiType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="allegatoPossessoRequisitiRappresentanteTulp" type="suapcommon:AllegatoPossessoRequisitiRappresentanteTulpsType" minOccurs="0"/>
            <xs:element name="allegatoPlanimetrieLocali"  type="moduli:AllegatoType" minOccurs="1"/>
            <xs:element name="allegatoNotificaSanitaria" type="suapcommon:AllegatoNotificaSanitariaType" minOccurs="1"/>
            <xs:element name="allegatoAttoCostitutivo" type="moduli:AllegatoType" minOccurs="1"/>
            <xs:element name="allegatoComunicazioneImpattoAcustico" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAUnicaType">
        <xs:sequence>
            <xs:element name="allegatoNullaOstaImpattoAcustico" type="moduli:AllegatoType" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
</xs:schema>    