Moduli_PA/SUAP/SUAP_modulo_lavanderie-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:tintolav="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"
    xmlns:suapcommon="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components"
    xmlns:moduli="http://www.agid.gov.it/MODULI_PA/moduli_common_components"
    xmlns:aggregate="http://www.agid.gov.it/AgID_aggregate_components"
    xmlns:basic="http://www.agid.gov.it/AgID_basic_components"
    xmlns:enumeration="http://www.agid.gov.it/AgID_enumeration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    
    targetNamespace="http://www.agid.gov.it/MODULI_PA/SUAP/modulo_tintolavanderie"
    
    elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.0">
    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/SUAP/suap_common_components" schemaLocation="SUAP_common_components-1.0.0.xsd"/>    
    <xs:import namespace="http://www.agid.gov.it/MODULI_PA/moduli_common_components" schemaLocation="../MODULI_common_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_basic_components" schemaLocation="../../AgID_Vocabularies/AgID_basic_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_aggregate_components" schemaLocation="../../AgID_Vocabularies/AgID_aggregate_components-1.0.0.xsd"/>
    <xs:import namespace="http://www.agid.gov.it/AgID_enumeration" schemaLocation="../../AgID_Vocabularies/AgID_enumeration-1.0.0.xsd"/>
    
    <!-- // Modulo tintolavanderie ## internal code ref 019 // -->
    
    
    <!-- AGGREGATE COMPONENTS TYPE -->
    <xs:complexType name="ModuloTintoLavanderieBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="schedaAnagrafica"         type="suapcommon:SchedaAnagraficaSUAPType"/>
            <xs:element name="integrazioneAnagrafica"   type="suapcommon:IntegrazioneAnagraficaType"/>
            <xs:element name="apertura"                 type="tintolav:AperturaType"/>            
            <xs:element name="dichiarazioni"            type="tintolav:DichiarazioniType"/>
            <xs:element name="altreDichiarazioni"       type="tintolav:AltreDichiarazioniType"/>
            <xs:choice>
                <xs:element name="tabellaAllegatiLavanderie"          type="tintolav:TabellaAllegatiLavanderieType"/>    
                <xs:element name="tabellaAllegatiLavanderieGettoni"   type="tintolav:TabellaAllegatiLavanderieGettoniType"/>
             </xs:choice>
            
            <xs:element name="Allegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="socio" type="aggregate:PersonaAnagraficaType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element> 
        </xs:sequence>
    </xs:complexType>

    <!-- Attività : Apertura -->
    <xs:complexType name="AperturaType">
        <xs:sequence>
            <xs:element name="tipoAttivita" type="tintolav:TipoAttivitaEnum"/>
            <xs:element name="inCentroCommerciale" type="suapcommon:InCentroCommercialeType"/>
            <xs:element name="settoriMerceologici" type="tintolav:SuperficieEsercizioAttivitaType"/>
            <xs:element name="carattereEsercizio" type="tintolav:CarattereEsercizioType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CarattereEsercizioType">        
        <xs:sequence>
            <xs:element name="tipo" type="tintolav:TipoCarattereEsercizioEnum"/>
            <xs:element name="periodo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="da" type="xs:date"/>
                        <xs:element name="a" type="xs:date"/>    
                    </xs:sequence>                        
                </xs:complexType>                
            </xs:element>
        </xs:sequence>
    </xs:complexType>

   
    <xs:complexType name="SuperficieEsercizioAttivitaType">
        <xs:complexContent>
            <xs:extension base="tintolav:SettoriMerceologiciSuperficieBaseType">
                <xs:sequence>
                    <xs:element name="tintolavanderia_lavanderia" minOccurs="0" type="xs:integer"/>
                    <xs:element name="altriusi" minOccurs="0" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>
    
    <xs:complexType name="SettoriMerceologiciSuperficieBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="complessiva" minOccurs="0" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DichiarazioniType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="dichiaranteResponsabileTecnicoRequisitiProfessionali" type="suapcommon:DichiarazioniResponsabileTecnicoLavanderieRequisitiProfessionaliBaseType"/>
                <xs:element name="resposabileTecnicoRequisitiProfessionali" type="tintolav:ResponsabileTecnicoRequisitiProfessionaliType" maxOccurs="unbounded"/>
            </xs:choice>      
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="ResponsabileTecnicoRequisitiProfessionaliType" abstract="true">
        <xs:sequence>
            
                <xs:element name="resposabileTecnicoRequisitiProfessionali" type="suapcommon:ResponsabileTecnicoRequisitiProfessionaliBaseType" maxOccurs="unbounded"/>
                <xs:element name="riconoscimentoQualificaMinistero" type="xs:date"/>
            
        </xs:sequence>
    </xs:complexType>
    

    
    
    <!-- Dichiarazioni -->
    
    
    <xs:complexType name="AltreDichiarazioniType">
        <xs:complexContent>
            <xs:extension base="tintolav:AltreDichiarazioniBaseType">
                <xs:sequence>
                    <xs:element name="altro" type="xs:string"/>
                </xs:sequence> 
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AltreDichiarazioniBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="dicConsumoFarina" type="tintolav:QtaBiancheriaEnum"/>
       </xs:sequence>        
    </xs:complexType>
    
    <!-- ENUMERATION -->
    
    <xs:simpleType name="QtaBiancheriaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINORE_UGUALE_100_KG"/>
            <xs:enumeration value="MAGGIORE_100_KG"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoCarattereEsercizioEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PERMANENTE"/>
            <xs:enumeration value="STAGIONALE"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoAttivitaEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tintolavanderia"/>
            <xs:enumeration value="Lavanderia a gettoni"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <!-- Allegati -->
    <xs:complexType name="TabellaAllegatiLavanderieType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiLavSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiLavSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="tintolav:AllegatiAltriBaseType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TabellaAllegatiLavanderieGettoniType">
        <xs:sequence>
            <xs:element name="allegatiSCIA"             type="tintolav:AllegatiSCIAType"/>
            <xs:element name="allegatiSCIAUnica"        type="tintolav:AllegatiLavGettSCIAUnicaType"/>
            <xs:element name="allegatiSCIACondizionata" type="tintolav:AllegatiLavGettSCIACondizionataType"/>
            <xs:element name="allegatiAltri"            type="tintolav:AllegatiAltriBaseType"/>      
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AllegatiSCIAType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoProcuraDelega" minOccurs="0" />
            <xs:element ref="suapcommon:allegatoDocumentoIdentitaTitolare" minOccurs="0" />
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoIndustriaInsalubre" minOccurs="0"/> 
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavGettSCIAUnicaType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoPrevenzioniIncendi" minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"  minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavSCIACondizionataType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"               minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoEmissioneAtmosferaGenerale"     minOccurs="0"/> 
            <xs:element ref="suapcommon:allegatoScarichiAcqueReflueAUA"         minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoRichAutorizzinDeroga"           minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiLavGettSCIACondizionataType">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoInsegnaEsercizio"               minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoScarichiAcqueReflueAUA"         minOccurs="0"/>
            <xs:element ref="suapcommon:allegatoRichAutorizzinDeroga"           minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
        
    <xs:complexType name="AllegatiAltriBaseType" abstract="true">
        <xs:sequence>
            <xs:element ref="suapcommon:allegatoImpostaDiBollo" minOccurs="0"/>
        </xs:sequence>                                
    </xs:complexType>
    
    <xs:complexType name="AllegatiAltriType">
        <xs:complexContent>
            <xs:extension base="tintolav:AllegatiAltriBaseType">
                <xs:sequence>
                    <xs:element ref="suapcommon:allegatoVersamentoOneri" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>